@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?rwrbbb');
  src:  url('icomoon.eot?rwrbbb#iefix') format('embedded-opentype'),
    url('icomoon.ttf?rwrbbb') format('truetype'),
    url('icomoon.woff?rwrbbb') format('woff'),
    url('icomoon.svg?rwrbbb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-xk-de:before {
  content: "\e91e";
}
.icon-ico-xk-tyjs:before {
  content: "\e91f";
}
.icon-ico-xk-kx01:before {
  content: "\e920";
}
.icon-ico-xk-kx:before {
  content: "\e921";
}
.icon-ico-xk-ms:before {
  content: "\e922";
}
.icon-ico-xk-pin:before {
  content: "\e923";
}
.icon-ico-xk-qt:before {
  content: "\e924";
}
.icon-ico-xk-ys:before {
  content: "\e925";
}
.icon-ico-xk-tyjk:before {
  content: "\e926";
}
.icon-ico-xk-yin01:before {
  content: "\e927";
}
.icon-ico-xk-yin:before {
  content: "\e928";
}
.icon-ico-yuyin:before {
  content: "\e91c";
}
.icon-ico-fb:before {
  content: "\e91b";
}
.icon-ico-sc02:before {
  content: "\e91a";
}
.icon-ico-sc01:before {
  content: "\e919";
}
.icon-ico-tp:before {
  content: "\e917";
}
.icon-ico-pz:before {
  content: "\e918";
}
.icon-ico-bj01:before {
  content: "\e900";
}
.icon-ico-bj:before {
  content: "\e901";
}
.icon-ico-ckxl:before {
  content: "\e902";
}
.icon-ico-dl:before {
  content: "\e903";
}
.icon-ico-jrkj:before {
  content: "\e904";
}
.icon-ico-xk-hx:before {
  content: "\e905";
}
.icon-ico-xk-ls:before {
  content: "\e906";
}
.icon-ico-ckxl01:before {
  content: "\e907";
}
.icon-ico-xk-zz:before {
  content: "\e908";
}
.icon-ico-sc:before {
  content: "\e909";
}
.icon-ico-xk-sw:before {
  content: "\e90a";
}
.icon-ico-xk-sw01:before {
  content: "\e90b";
}
.icon-ico-xk-hx01:before {
  content: "\e90c";
}
.icon-ico-xk-sx:before {
  content: "\e90d";
}
.icon-ico-scc:before {
  content: "\e90e";
}
.icon-ico-tj:before {
  content: "\e90f";
}
.icon-ico-llkj:before {
  content: "\e910";
}
.icon-ico-llkj01:before {
  content: "\e911";
}
.icon-ico-xk-wl:before {
  content: "\e912";
}
.icon-ico-cksc:before {
  content: "\e913";
}
.icon-ico-bianj:before {
  content: "\e914";
}
.icon-ico-xk-yy:before {
  content: "\e915";
}
.icon-ico-xk-yw:before {
  content: "\e916";
}
.icon-headphones:before {
  content: "\e91d";
}
.icon-compass:before {
  content: "\e949";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-ctrl2:before {
  content: "\ea50";
}
.icon-ctrl:before {
  content: "\ea51";
}

