
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="UTF-8">
		<meta name="wap-font-scale" content="no">
		<title>英语同步练</title>
		<link rel="stylesheet" href="/public/Elearn/css/weike.css" />
		<link rel="stylesheet" href="/public/Elearn/font/fonts.css" />
		<link rel="stylesheet" href="/public/Elearn/css/iscroll.css" />
		<script type="text/javascript" src="/public/public//js/require.js" data-main="/public/Elearn//js/main" ></script>
<style>
	#wrapper {top: 200px; bottom: 70px;}
</style>
</head>
<body>
<div id="over" class="over"></div>
	    <div id="layout" class="layout">
	    <img src="/public/Elearn//images/layout.gif" alt="" />
</div>
<main>
<header class="head border-nav">
			<a class="head-left" href="/sdfree/index"><i class="icon-back"></i>返回</a>
			<!-- <a class="head-right" onclick="javascript:window.location.href='setbook?app_id=95&subject_code=0009&version_id=6786&backUrl=https://en.czbanbantong.com/Subject/Index/entrance'">换教材</a>	 -->		<h1 class="title">德育绘本屋</h1>
					</header>
					<div class="mT45 classTop backGfff afterBorder8">
						
							
								<span class="fl pad10"><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1522390820753c42e407d81236.png" /></span>
								<span class="fr pad10">
									<h2>一年级人教版（下学期）</h2>
									<h3 class="textH3">人教版</h3>																		<!--<a class="aBtn bDefault"><i class="icon-ddown"></i><b>下载</b></a>-->
								    <p class="textP"><!-- <strong>背单词秘籍</strong><i class="icon-uniF005"></i><i class="icon-uniF005"></i><i class="icon-uniF005"></i><i class="icon-uniF005"></i><i class="icon-uniF005"></i><br /> -->小故事，大智慧。
生动有趣的动画展示，贴切个性的话题讨论，帮助儿童从故事中得到智慧启蒙，让德育之花在绘本故事中绽放。</p>
								</span>
							
						
					</div>
		<div id="iScroll" class="iScroll bWhite">
        <div class="hd qie_b fen3">
        <ul class="tabs">
                 <li class="on" hidefocus="true" >目录</li>
                <li hidefocus="true" >简介</li>
                <!-- <li hidefocus="true" >评价</li> -->
		</ul></div>
        <div class="tempWrap" >
        	<div class="bd" id="iScroll-bd" style="width: 981px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; -webkit-transition-duration: 200ms; -webkit-transform: translate(0px, 0px) translateZ(0px);">
                        <div class="con backGfff">
				<ul class="splist video">
					<li videocode="20180301130531593670558866505"><div class="img pad10 videoplay" videocode="20180301130531593670558866505" isspecial="0" bid="3389" title="德育绘本屋" videotitle="德育绘本屋：皮皮的故事"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520303906dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130531593670558866505" isspecial="0" bid="3389" title="德育绘本屋" videotitle="德育绘本屋：皮皮的故事">德育绘本屋：皮皮的故事</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130531593670558866505" isspecial="0" bid="3389" title="德育绘本屋" videotitle="德育绘本屋：皮皮的故事">学一学</a> </p>
							</div>
						</li><li videocode="20180301130531765191732969299" ><div class="img pad10 videoplay" videocode="20180301130531765191732969299" isspecial="0" bid="3390" title="德育绘本屋" videotitle="德育绘本屋：谁精神？"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520303986dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130531765191732969299" isspecial="0" bid="3390" title="德育绘本屋" videotitle="德育绘本屋：谁精神？">德育绘本屋：谁精神？</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130531765191732969299" isspecial="0" bid="3390" title="德育绘本屋" videotitle="德育绘本屋：谁精神？">学一学</a> </p>
							</div>
						</li><li videocode="20180301130531921887659703252" ><div class="img pad10 videoplay" videocode="20180301130531921887659703252" isspecial="0" bid="3391" title="德育绘本屋" videotitle="德育绘本屋：拖拉鸟"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304076dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130531921887659703252" isspecial="0" bid="3391" title="德育绘本屋" videotitle="德育绘本屋：拖拉鸟">德育绘本屋：拖拉鸟</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130531921887659703252" isspecial="0" bid="3391" title="德育绘本屋" videotitle="德育绘本屋：拖拉鸟">学一学</a> </p>
							</div>
						</li><li videocode="20180301130532093408933806045" ><div class="img pad10 videoplay" videocode="20180301130532093408933806045" isspecial="0" bid="3392" title="德育绘本屋" videotitle="德育绘本屋：小马虎添麻烦"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304111dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130532093408933806045" isspecial="0" bid="3392" title="德育绘本屋" videotitle="德育绘本屋：小马虎添麻烦">德育绘本屋：小马虎添麻烦</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130532093408933806045" isspecial="0" bid="3392" title="德育绘本屋" videotitle="德育绘本屋：小马虎添麻烦">学一学</a> </p>
							</div>
						</li><li videocode="20180301130532312377681541633" ><div class="img pad10 videoplay" videocode="20180301130532312377681541633" isspecial="0" bid="3393" title="德育绘本屋" videotitle="德育绘本屋：马虎危害大"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304140dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130532312377681541633" isspecial="0" bid="3393" title="德育绘本屋" videotitle="德育绘本屋：马虎危害大">德育绘本屋：马虎危害大</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130532312377681541633" isspecial="0" bid="3393" title="德育绘本屋" videotitle="德育绘本屋：马虎危害大">学一学</a> </p>
							</div>
						</li><li videocode="20180301130532515249340364110" ><div class="img pad10 videoplay" videocode="20180301130532515249340364110" isspecial="0" bid="3394" title="德育绘本屋" videotitle="德育绘本屋：风的朋友"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304181dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130532515249340364110" isspecial="0" bid="3394" title="德育绘本屋" videotitle="德育绘本屋：风的朋友">德育绘本屋：风的朋友</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130532515249340364110" isspecial="0" bid="3394" title="德育绘本屋" videotitle="德育绘本屋：风的朋友">学一学</a> </p>
							</div>
						</li><li videocode="20180301130532734218088108697" ><div class="img pad10 videoplay" videocode="20180301130532734218088108697" isspecial="0" bid="3395" title="德育绘本屋" videotitle="德育绘本屋：我和小树"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304329dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130532734218088108697" isspecial="0" bid="3395" title="德育绘本屋" videotitle="德育绘本屋：我和小树">德育绘本屋：我和小树</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130532734218088108697" isspecial="0" bid="3395" title="德育绘本屋" videotitle="德育绘本屋：我和小树">学一学</a> </p>
							</div>
						</li><li videocode="20180302104739950950619456507" ><div class="img pad10 videoplay" videocode="20180302104739950950619456507" isspecial="0" bid="3396" title="德育绘本屋" videotitle="德育绘本屋：动物老师"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304408dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180302104739950950619456507" isspecial="0" bid="3396" title="德育绘本屋" videotitle="德育绘本屋：动物老师">德育绘本屋：动物老师</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180302104739950950619456507" isspecial="0" bid="3396" title="德育绘本屋" videotitle="德育绘本屋：动物老师">学一学</a> </p>
							</div>
						</li><li videocode="20180302104740232456217422595" ><div class="img pad10 videoplay" videocode="20180302104740232456217422595" isspecial="0" bid="3397" title="德育绘本屋" videotitle="德育绘本屋：我和小蜻蜓"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304437dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180302104740232456217422595" isspecial="0" bid="3397" title="德育绘本屋" videotitle="德育绘本屋：我和小蜻蜓">德育绘本屋：我和小蜻蜓</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180302104740232456217422595" isspecial="0" bid="3397" title="德育绘本屋" videotitle="德育绘本屋：我和小蜻蜓">学一学</a> </p>
							</div>
						</li><li videocode="20180301130532828741293831015" ><div class="img pad10 videoplay" videocode="20180301130532828741293831015" isspecial="0" bid="3398" title="德育绘本屋" videotitle="德育绘本屋：大自然的语言"><span><img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520304490dbbfe540e9e2cbab.png"></span></div>
							<div class="nr"><p class="textP3 videoplay" videocode="20180301130532828741293831015" isspecial="0" bid="3398" title="德育绘本屋" videotitle="德育绘本屋：大自然的语言">德育绘本屋：大自然的语言</p>
								<!-- <p class="clear"><span class="fontb redFont">免费体验</span></p> -->
								<p class="btt"><a class="aBtn bBlue videoplay" videocode="20180301130532828741293831015" isspecial="0" bid="3398" title="德育绘本屋" videotitle="德育绘本屋：大自然的语言">学一学</a> </p>
							</div>
						</li>					<div class="height50"></div>
				</ul>

			   </div>            <div class="con">
                <ul>

                    <div class="overYz">
<div class="ms-jj">
			<h2>适用对象：</h2>
			<ul>
			<li><span class="mui-badge mui-badge-danger">1</span>1年级同步学习的学生</li>			</ul>
			<h2>培养目标：</h2>
			<ul>
			<li><span class="mui-badge mui-badge-warning">1</span>塑造学生健全的品格，促进学生良好行为的养成。</li>			</ul>
			<h2>课程特色：</h2>

			<img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520316425dbbfe540e9e2cbab.png" />
			<h2>课程大纲：</h2>
			<img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520316779dbbfe540e9e2cbab.png" />
			<h2>课程名师：</h2>
			<img src="https://en.czbanbantong.com:8443/yylmp3/uploads/learnimg/1520316443dbbfe540e9e2cbab.png" />
		</div>
							</div>
					<div class="height50"></div>
                </ul>
                
            </div>             
            <div class="con">
            	<ul>

                    
<div class="ms-ping pingxx">
			<ul>
			<li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>沙雯芳溪</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
														<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>秦始皇</p>
  <p class="clear"><span class="time">2018-09-15 20:48:01</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>韩元杰</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>非常好。</p>
  <p class="clear"><span class="time">2018-09-14 20:35:11</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>孙明哲</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>还可以</p>
  <p class="clear"><span class="time">2018-09-10 19:41:39</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>孙明哲</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>不好看</p>
  <p class="clear"><span class="time">2018-09-10 19:41:05</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>孙明哲</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>九十千星！</p>
  <p class="clear"><span class="time">2018-09-10 19:39:07</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>华昌小学</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
														<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>还好吧！</p>
  <p class="clear"><span class="time">2018-09-03 18:35:57</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>李鑫</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>iurhfufytjt</p>
  <p class="clear"><span class="time">2018-09-03 13:44:25</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>丛培勇</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>我暂时给你五星好评。</p>
  <p class="clear"><span class="time">2018-08-26 20:43:14</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>刘恩国</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>二止</p>
  <p class="clear"><span class="time">2018-08-23 22:44:29</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>杨竣涵</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>好看！</p>
  <p class="clear"><span class="time">2018-08-16 15:23:22</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>艾必林</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>我觉得这本书超好看。</p>
  <p class="clear"><span class="time">2018-08-02 14:35:21</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>艾必林</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>这本书好看？</p>
  <p class="clear"><span class="time">2018-08-02 14:34:48</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>安辰</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>太好听了</p>
  <p class="clear"><span class="time">2018-08-01 10:01:31</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>安辰</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>太好听了</p>
  <p class="clear"><span class="time">2018-08-01 09:56:54</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>郎久萍</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>呵呵</p>
  <p class="clear"><span class="time">2018-07-22 08:56:05</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>杨润泽</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>嗯嗯嗯嗯嗯嗯嗯</p>
  <p class="clear"><span class="time">2018-07-21 22:52:29</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>杨润泽</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>呵呵</p>
  <p class="clear"><span class="time">2018-07-21 22:50:19</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>杨润泽</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>这本书，真好看。</p>
  <p class="clear"><span class="time">2018-07-21 22:48:50</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>杨润泽</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>一一二</p>
  <p class="clear"><span class="time">2018-07-21 22:42:21</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>王文娟</label>
						<span class="xing"><em>评价：</em>
						<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
							<i class="icon-uniF005"></i>
													</span></p>
						<p>呵呵</p>
  <p class="clear"><span class="time">2018-07-20 16:39:53</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>柯艺鹏</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>根我的书不亠样</p>
  <p class="clear"><span class="time">2018-07-18 12:31:17</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>柯艺鹏</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>根我的书不亠样</p>
  <p class="clear"><span class="time">2018-07-18 12:31:17</span></p>
					</div>
				</li><li><span class="toux"><img src="/public/Elearn/img/tou.png"></span>
					<div class="ping">
						<p><label>柯艺鹏</label>
						<span class="xing"><em>评价：</em>
													<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>							<i class="icon-uniF006"></i>						</span></p>
						<p>根我的书不亠样</p>
  <p class="clear"><span class="time">2018-07-18 12:31:17</span></p>
					</div>
				</li>			</ul>
			<div class="height50"></div>
		</div>
            	</ul>
            </div>                               

        </div></div>
    </div>
<a href="/Elearn/index/ping?app_id=95&backUrl=https://en.czbanbantong.com/Subject/Index/entrance&app_name=德育绘本屋" class=" pos-bottom btn-bottom" id="pl" style="display: none;"><span>去评价</span></a>
<script type="text/javascript">
var pls_url="plshenan.czbanbantong.com";
var userName = "410101100000018196";
var app_moduleid = "58";
var ishttps=document.location.protocol;
require(['zepto.min','enElearn','TouchSlide.1.1'],function($){
	$(function(){
		hideloading();
		var Request = new Object();
        	Request = GetRequest();
		TouchSlide({ slideCell:"#iScroll",
	       endFun:function(i){ //高度自适应
	          var bd = document.getElementById("iScroll-bd");
	          bd.parentNode.style.height = bd.children[i].children[0].offsetHeight+"px";
	          bd.parentNode.style.width = "100%";
	           if(i>0)bd.parentNode.style.transition="200ms";//添加动画效果
	           //console.log(i);
	           if(i >1){
	           	 $('#pl').show();
	           }
	           else{
	           	$('#pl').hide();
	           }
	       }
    	});
    	$(".tabs li").on('touchstart mousedown',function(e){
		    $(".tabs .on").removeClass('on');
		    $(this).addClass('on');
		});
		// href="course_show?app_id=95&course_id=52&title=&backUrl=https://en.czbanbantong.com/Subject/Index/entrance"
		$('.videoplay').click(function(){
			var isspecial = $(this).attr('isspecial');
			var course_id = $(this).attr('bid');
			var ks_name = $(this).attr('videotitle');
			//alert(isspecial);
			if(isspecial == 0){
				$.getJSON(ishttps+"//"+pls_url+"/youjiao/doMutiplePlay.do?jsoncallback=?",
			      {
			        rcode:$(this).attr('videocode'),
			        userName:userName,
			        filterType:2,
			        outType:1
			      },
			      function(data){
			      	//console.log(data.jsonList[0].list[0].path);
			      	//console.log(course_id);
			       window.location.href= data.jsonList[0].list[0].path;
			      	
			      });
			}
			else{
				window.location.href="course_show?app_id="+Request["app_id"]+"&course_id="+$(this).attr('bid')+"&title="+$(this).attr('title')+"&backUrl="+Request["backUrl"]+"&course_back=/Elearn/index/index";
			}
			
		});
		
		$('ul.classList li').bind('click',function(){
			window.location.href = "/Elearn/index/course?app_id="+$(this).attr('app_id')+"&version_id="+$(this).attr('version_id')+"&subject_code="+$(this).attr('subject_code')+"&unit_id="+$(this).attr('unit_id')+"&isterm="+$(this).attr('isterm')+"&isunit="+$(this).attr('isunit')+"&title="+$(this).attr('title')+"&backUrl="+Request["backUrl"];
		});
		
		// $(".head-left").click(function(){
	 //    		window.location.href="/sdfree/index";
	 //    });
	});
});
    

</script>
</main>
<!--遮罩的代码-->
</body>
</html>