<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta charset="UTF-8">
        <title>英语同步练</title>
        <link rel="stylesheet" href="__PUBLIC__css/css.css" />
        <link rel="stylesheet" href="__PUBLIC__font/fonts.css" />
        <style>
            html,body {background: #fff;}
        </style>
</head>
<body>
<main>
<header class="head border-nav">
            <!-- <a class="head-left" href="{$backUrl}"><i class="icon-back"></i>返回</a> -->
            <h1 class="title">智学助手</h1>
                    </header>
                    <div class="mT45">
<ul class="tupList">
        <a href="/sdfree/index/xpy"><li><div class="img pad10"><img src="/public/public/images/klxpp.png"></div>
            <div class="nr"><h2 class="textH3">快乐学拼音</h2>
            </div>
            <div class="imgright"><i class="icon-right"></i></div>
        </li></a>
<a href="/sdfree/index/klxzm"><li><div class="img pad10"><img src="/public/public/images/zmly.png"></div>
            <div class="nr"><h2 class="textH3">字母乐园</h2>
            </div>
            <div class="imgright"><i class="icon-right"></i></div>
        </li></a>
        <a href="/sdfree/index/enunit"><li><div class="img pad10"><img src="/public/public/images/yyexample.png"></div>
            <div class="nr"><h2 class="textH3">中考交际英语</h2>
            </div>
            <div class="imgright"><i class="icon-right"></i></div>
        </li></a>
        <a href="/sdfree/index/dyhb?app_id=95&gradeid=0001&subjectid=0009&moduleid=58"><li><div class="img pad10"><img src="/public/public/images/dyhb.png"></div>
            <div class="nr"><h2 class="textH3">德育绘本屋</h2>
            </div>
            <div class="imgright"><i class="icon-right"></i></div>
        </li></a>
    
    </ul>
      
</div>

</body>
</html>
<script type="text/javascript">
var backUrl = "{$backUrl}";
</script>