<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>字母乐园</title>
<link href="/public/Klx/style/Klxzmmb/xzm.css" rel="stylesheet" type="text/css" />
<script src="/public/Klx//js/jquery.min.js" type="text/javascript"></script>
 <script type="application/javascript" src="/public/Klx/js/iscroll/build/iscroll.js?v4"></script>
 <script src="/public/Klx//style/klxszM/hammer.min.js" type="text/javascript"></script>
<!--
<script src="../script/jquery.mobile-1.4.5.js" type="text/javascript"></script>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
.btnplay{padding: 0; float: right; font-size: 0.8em; color: #777!important; }
.btnplay i {width: 20px; height: 20px; display:inline-block; background: url(/public/Klx//style/klxpymb/play.png); background-size: 100%; vertical-align: sub; margin-left: 5px; margin-right: 5px;}
</style>
<body id="body">



<header>

            <div class="back"><a href="/sdfree"><img src="/public/Klx/style/klxpymb/backIco.png" width="20" height="20" />返回</a></div>
            <h1>字母乐园</h1>
			<div class="kc_setup"><a class="shou" href="javascript:void(0);"></a></div>
<span class="line"></span>
</header>

 <div style="margin-top: 50px;">

 </div>
<div id="1s_0">
	<div id="slide" class="gifSlide">
        <div class="divPad">
        <div id="mp4div">

        </div>
		<div id="gifdiv" style="display:none;">
			<img id="gif"  width="100%"/>
		</div>
        </div>
	</div>


	<div class="gifRight">

	<div class="qs">
	<a>字母表</a><a href="javascript:play();" class="btnplay"><i></i>播放</a>
	</div>
	<div class="xuan">
		<a onclick="zmClick(this);" href="javascript:void(0);" class="onf" url_mp4="/sj/mp4/Aah264_720x400_300k.mp4" url_bs="/sj/gif/A.gif"><span>Aa</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Bbh264_720x400_300k.mp4" url_bs="/sj/gif/B.gif"><span>Bb</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Cch264_720x400_300k.mp4" url_bs="/sj/gif/C.gif"><span>Cc</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Ddh264_720x400_300k.mp4" url_bs="/sj/gif/D.gif"><span>Dd</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Eeh264_720x400_300k.mp4" url_bs="/sj/gif/E.gif"><span>Ee</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Ffh264_720x400_300k.mp4" url_bs="/sj/gif/F.gif"><span>Ff</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Ggh264_720x400_300k.mp4" url_bs="/sj/gif/G.gif"><span>Gg</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Hhh264_720x400_300k.mp4" url_bs="/sj/gif/H.gif"><span>Hh</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Iih264_720x400_300k.mp4" url_bs="/sj/gif/I.gif"><span>Ii</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Jjh264_720x400_300k.mp4" url_bs="/sj/gif/J.gif"><span>Jj</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Kkh264_720x400_300k.mp4" url_bs="/sj/gif/K.gif"><span>Kk</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Llh264_720x400_300k.mp4" url_bs="/sj/gif/L.gif"><span>Ll</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Mmh264_720x400_300k.mp4" url_bs="/sj/gif/M.gif"><span>Mm</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Nnh264_720x400_300k.mp4" url_bs="/sj/gif/N.gif"><span>Nn</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Ooh264_720x400_300k.mp4" url_bs="/sj/gif/O.gif"><span>Oo</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Pph264_720x400_300k.mp4" url_bs="/sj/gif/P.gif"><span>Pp</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Qqh264_720x400_300k.mp4" url_bs="/sj/gif/Q.gif"><span>Qq</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Rrh264_720x400_300k.mp4" url_bs="/sj/gif/R.gif"><span>Rr</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Ssh264_720x400_300k.mp4" url_bs="/sj/gif/S.gif"><span>Ss</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Tth264_720x400_300k.mp4" url_bs="/sj/gif/T.gif"><span>Tt</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Uuh264_720x400_300k.mp4" url_bs="/sj/gif/U.gif"><span>Uu</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Vvh264_720x400_300k.mp4" url_bs="/sj/gif/V.gif"><span>Vv</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Wwh264_720x400_300k.mp4" url_bs="/sj/gif/W.gif"><span>Ww</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Xxh264_720x400_300k.mp4" url_bs="/sj/gif/X.gif"><span>Xx</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Yyh264_720x400_300k.mp4" url_bs="/sj/gif/Y.gif"><span>Yy</span></a>
		<a onclick="zmClick(this);" href="javascript:void(0);" url_mp4="/sj/mp4/Zzh264_720x400_300k.mp4" url_bs="/sj/gif/Z.gif"><span>Zz</span></a>
		<div class="clearfix"></div>
	</div>
    </div>
</div>


<script type="text/javascript" src="/public/Klx/js/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript">
function load(url){
    var flashvars={
        f:url,
        c:0,
        p:1,
        e:1
    };
    var params={bgcolor:'#FFF',allowFullScreen:false,allowScriptAccess:'always',wmode:'transparent'};
    var video=[url+'->video/mp4'];
    CKobject.embed('/public/Klx/js/ckplayer/ckplayer.swf','mp4div','ckplayer_a1','100%','100%',false,flashvars,video,params);
 }


function loadflash(url){
    var flashvars={
        f:url,
        c:0
    };
    var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
    CKobject.embedSWF('/public/Klx/js/ckplayer/ckplayer.swf','mp4div','ckplayer_a1','100%','200',flashvars,params);
}

var urlCallBack = GetQueryString('backUrl');
function backToIndex(){
    if(urlCallBack == null){
        window.location.href='http://www.czbanbantong.com';
    }else{
        window.location.href=urlCallBack;
    }
}
function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  decodeURI(unescape(r[2])); return null;
}
</script>

</body>
<script>
$(function(){
	show();
})

//点击字母
//
	function zmClick(obj){
		$(obj).siblings('a').removeAttr('class');
		$(obj).attr('class','onf');

		show();
	}

//str发音口型，我写你看
//
function show(){

	var bs = $('.xuan a.onf').attr('url_bs');
	var gif = '__RESOURCE__/uploadklx/klxzm'+bs;

	$('#gif').prop('src',gif);

	$('#gifdiv').show();
}

function play(){
    var mp4 = $('.xuan a.onf').attr('url_mp4');
    var url = '__RESOURCE__/uploadklx/klxzm'+mp4;
	url = url.replace(/https/g, "http");
	url = url.replace(/:8443/g, ":8080");
    location.href=url;
}


</script>
</html>
