@charset "gb2312";



.timu_mr{ text-align: left;  }
.timu_mr i{ margin-right: 5px; }
.timu_mr i img{ width: 22px; height: 21px; }
.table_2.mr_soft td{padding:0 2px;}

.manu.mall .current {background:#f44336; border-color:#f44336; overflow-x:auto; overflow-y:auto;}

/* ɸѡ 20160624 */

.mbtit{ font-size:16px; color:#d24726; margin:10px; }

.sxBox{ padding:10px; margin:0;   margin-left:1px; border-bottom:1px solid #e4e4e4;}

.sxBox dl{ padding:5px 15px; overflow:auto; zoom:1; font-size:14px; border-left:3px solid #fff;}
.sxBox dl:hover{ background-color:#f4f4f4; border-left:3px solid #d24726;}
.sxBox dl dt,.sxBox dl dd{ float:left; display:inline;}
.sxBox dl dt{ color:#888; padding:5px 0; }
.sxBox dl dd a{ display:inline-block; padding:5px 10px; border-radius:3px;}
.sxBox dl dd a:hover{ color:#232a37;}
.sxBox dl dd a.cur,.sxBox dl dd a.cur:hover{ background-color:#232a37; color:#fff;}

#mb_bj{padding:10px 0 20px 10px; width:730px; height:500px;}

.cr_img ul.tulist.mb{ height:450px; overflow-y:auto;}
.cr_img ul.tulist.mb li{ width: 225px; height: 190px; margin:10px 5px; float: left; color: #000;}
.cr_img ul.tulist.mb li img{  width: 210px; height: 140px; }
.cr_img ul.tulist.mb li span { display: block; text-align: center; height: 30px; line-height: 30px;  }