<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>版本列表</title>
        <link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/js/manager.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
        <script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script> 
    </head>
    <body>
        <div class="place"><strong>位置</strong>：首页 &gt; 版本信息管理</div>
        <div class="container">
            <div class="h10"></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
                <tr>
                    <td class="pl_10" height="42" width="20%">
                        <input style="display:none;" id="addword" name="addword" type="button" class="ext_btn ext_btn_submit" value="添加编外教材版本" onclick="editOtherVersion(0);" />&nbsp;
                    </td>
                    <td >
                        <select name="gradeid" class="select" id="gradeid" onChange="changeVersion(this);">
                            <option value="0">课内教材</option>
                            <option value="1">课外教材</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table" id="table_data">
                <tr>
                    <th width="60" align="center">次序</th>
                    <th width="150">版本简称</th>
                    <th width="300">版本全称</th>
                    <th>&nbsp;</th>
                </tr> 
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="display:none" id="table_demo"> 
                <tr class="tr">
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="left">&nbsp;</td>
                    <td align="left">
                        &nbsp;&nbsp; 
                        <input type="button" class="ext_btn ext_btn_edit" value="修改简称" />&nbsp;&nbsp;
                        <input type="button" class="ext_btn ext_btn_error" value="删除"   />&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            <div class="h5"></div>

        </div>
        <script type="text/javascript">
            $(function() {
                $.ajaxSetup({async: false});
                $(".tr:odd").css("background", "#F5F8FA");
                $('.tr:odd').live('hover', function(event) {
                    if (event.type == 'mouseenter') {
                        $(this).css("background-color", "#E5EBEE");
                    } else {
                        $(this).css("background-color", "#F5F8FA");
                    }
                });

                $('.tr:even').live('hover', function(event) {
                    if (event.type == 'mouseenter') {
                        $(this).css("background-color", "#E5EBEE");
                    } else {
                        $(this).css("background-color", "#FFF");
                    }
                });
                var dloading = art.dialog({time: 30, title: '加载中……', width: 130, height: 30, opacity: 0.3, lock: true});
                getVersionlist(0);
                dloading.close();
                $("#table_data .ext_btn_edit").live("click", function() { //编辑按钮点击事件
                    var id = $(this).attr("BID");
                    var detail_name_short = $(this).attr("BName");
                    var type="0";
                    if(id.substr(0,1)=='k'){
                        type="1";
                    }
                    editVersion(id,detail_name_short,type);
                });

                $("#table_data .ext_btn_error").live("click", function() { //编辑按钮点击事件
                    var tr = $(this).parents("tr");
                    var id = $(this).attr("BID");
                    var type=$("#gradeid").val();
                    art.dialog.confirm('你确定要删除这个版本吗,删除之后不可恢复？', function() {
                        $.get("delversion", {id:id, random: Math.random()});
                        tr.remove();
                        getVersionlist(type);
                    });
                });
            });

            function editOtherVersion(id){
                art.dialog.open('version_edit?id='+id, {
                    title: "版本编辑",
                    width: 500,
                    height: 150,
                    lock: true,
                    opacity: 0.3,
                    button: [
                        {
                            name: '保存',
                            callback: function() {
                                var iframe = this.iframe.contentWindow;
                                var re = iframe.saveUnitEdit();
                                if (re) {
                                    getVersionlist("1");
                                    return true;
                                }
                                else {
                                    return false;
                                }
                            },
                            focus: true
                        },
                        {
                            name: '关闭',
                            callback: function() {
                                //$("#gradeid").change();
                            },
                            focus: false
                        }
                    ]
                });
            }

            function changeVersion(obj){
                var type=$(obj).val();
                if(type=='0'){
                    $("#addword").hide();
                }else{
                    $("#addword").show();
                }
                getVersionlist(type);
            }


        </script> 
    </body>
</html>
