@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5c6eeh');
  src:  url('fonts/icomoon.eot?5c6eeh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5c6eeh') format('truetype'),
    url('fonts/icomoon.woff?5c6eeh') format('woff'),
    url('fonts/icomoon.svg?5c6eeh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e92d";
}
.icon-jian1:before {
  content: "\e908";
}
.icon-jia1:before {
  content: "\e90d";
}
.icon-jian2:before {
  content: "\e90f";
}
.icon-jia2:before {
  content: "\e913";
}
.icon-tel2:before {
  content: "\e900";
}
.icon-tel1:before {
  content: "\e901";
}
.icon-tel:before {
  content: "\e902";
}
.icon-jt-right:before {
  content: "\e903";
}
.icon-jt-left:before {
  content: "\e904";
}
.icon-qq3:before {
  content: "\e905";
}
.icon-share01:before {
  content: "\e906";
}
.icon-error02:before {
  content: "\e907";
}
.icon-correct04:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e90a";
}
.icon-right:before {
  content: "\e90b";
}
.icon-left:before {
  content: "\e90c";
}
.icon-share:before {
  content: "\e90e";
}
.icon-del:before {
  content: "\e910";
}
.icon-up:before {
  content: "\e911";
}
.icon-down2:before {
  content: "\e912";
}
.icon-qq1:before {
  content: "\e914";
}
.icon-fankui:before {
  content: "\e915";
}
.icon-bangzhu2:before {
  content: "\e916";
}
.icon-ico-jrkj:before {
  content: "\e917";
}
.icon-bangzhu1:before {
  content: "\e918";
}
.icon-all:before {
  content: "\e919";
}
.icon-wenjuan:before {
  content: "\e91a";
}
.icon-wenjuan2:before {
  content: "\e91b";
}
.icon-wenjuan3:before {
  content: "\e91c";
}
.icon-qita:before {
  content: "\e91d";
}
.icon-yingyong:before {
  content: "\e91e";
}
.icon-sctx:before {
  content: "\e91f";
}
.icon-yingyong2:before {
  content: "\e920";
}
.icon-xuexi2:before {
  content: "\e921";
}
.icon-kwld:before {
  content: "\e922";
}
.icon-xuexi:before {
  content: "\e923";
}
.icon-xuexi3:before {
  content: "\e924";
}
.icon-zuoye:before {
  content: "\e925";
}
.icon-zuoye2:before {
  content: "\e926";
}
.icon-xiaoxi:before {
  content: "\e927";
}
.icon-xiaoxi2:before {
  content: "\e928";
}
.icon-zhanghao2:before {
  content: "\e929";
}
.icon-zhanghao:before {
  content: "\e92a";
}
.icon-sou1:before {
  content: "\e92b";
}
.icon-sou2:before {
  content: "\e92c";
}
.icon-search:before {
  content: "\e930";
}
.icon-uniF087:before {
  content: "\f087";
}
.icon-uniF088:before {
  content: "\f088";
}
