
<style>
.copyRight a{color: #bebebe;}
</style>
<footer>
 <div class="w980" style="POSITION: relative">
<div class="left_f">

<li class="copyRight">英语同步练教研室 版权所有 </li>
<li class="copyRight"><a style="TEXT-DECORATION: none; HEIGHT: 20px; DISPLAY: inline-block; LINE-HEIGHT: 20px" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41019702002527"><img  src="https://vfshenan.czbanbantong.com/A01/lib/defaultstyle/2015yjt/jzxt/res/images/beian.png">&nbsp;豫公网安备 41019702002527号</a></li>
<li class="copyRight"><a style="TEXT-DECORATION: none; HEIGHT: 20px; DISPLAY: inline-block; LINE-HEIGHT: 20px" target="_blank" href="http://www.beian.miit.gov.cn"> 豫ICP备12019223号</a></li>
<li class="copyRight"> 服务热线：400-699-3111</li>

</div>
<div class="right_f1">

</div>
<div class="clearfix"></div>
</div
</footer>
<!--小优弹出层-->
<div id="tishi" class="tishi">
    <div class="tcc_top">
        <a href="javascript:void(0)" class="fr" onclick = "showOrHide('login','hide','word');"></a>
        提示
    </div>
    <div class="tcc_con">
        <dl class="you_ts">
            <dt>
                <img src="__Himg__you.gif" width="550" height="600"  alt=""/>
            </dt>
            <dd class="tit">小优提醒你:</dd>
            <dd>登录后才能看到更多精彩哟~</dd>
            <dd>赶快登录吧！</dd>
            <dd>
                <a href="javascript:void(0);" class="aBtn none okBtn" onclick="showOrHide('login','show','word');">立即登录</a>
            </dd>
        </dl>

        <div class="btnCon tac"></div>

    </div>
</div>
<!--小优弹出层-->
<div id="message">
    <div class="tcc_top">
        <!-- <a href="javascript:void(0)" class="fr" onclick = "showOrHide('login','hide','word');"></a> -->
        小优提示
    </div>
    <div class="tcc_con">
        <dl class="you_ts">
           <!--  <dt>
                <img src="__Himg__you.gif" width="550" height="600"  alt=""/>
            </dt> -->
            <dd class="tit" id="showmsg"></dd>
            <!-- <dd id="showmsg"></dd> -->
            <!-- <dd>赶快登录吧！</dd> -->
           <!--  <dd>
                <a href="javascript:void(0);" class="aBtn none okBtn" onclick="showOrHide('login','show','word');">立即登录</a>
            </dd> -->
        </dl>
    </div>
</div>

<!--弹出层-->
<div id="top" class="topdiv">
    <div class="tcc_top">
        <a href="javascript:void(0)" class="fr" onclick = "showOrHide('top','hide')"></a>
        为了更好同步你的学习，请选择教材：
    </div>
    <div class="tcc_con">
        <div class="nianji">
            <span class="jiacu">年级：</span>
            <ul>

                <li >
                    <a href="javascript:void(0);" r_grade="0001">一年级</a>
                </li>
                <li class="sel5">
                    <a href="javascript:void(0);" r_grade="0002">二年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0003">三年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0004">四年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0005">五年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0006">六年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0007">七年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0008">八年级</a>
                </li>
                <li>
                    <a href="javascript:void(0);" r_grade="0009">九年级</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="nianji xueqi">
            <span class="jiacu">学期：</span>
            <ul>
                <li >
                    <a href="javascript:void(0);" r_volume="0001">上学期</a>
                </li>
                <li class="sel5">
                    <a href="javascript:void(0);" r_volume="0002">下学期</a>
                </li>
                <li style="display: none;">
                    <a href="javascript:void(0);" r_volume="0000">全一册</a>
                </li>
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="banben">
            <span class="jiacu">选择教材：</span>
            <ul>

            </ul>
            <div class="clearfix"></div>
            <div class="btnCon tac">
                <a href="javascript:void(0);"  class="aBtn none okBtn" id="versionok">确定</a>
                &nbsp;
                <a href="javascript:void(0)" class="aBtn none bgc" onclick = "showOrHide('top','hide')">取消</a>
            </div>
        </div>

    </div>
</div>
<!--登录弹出层-->

<div  id="login" class="inputBox" >
  <div class="nid" style="display:none" id="roleDiv" phonenum="">
    <ul id="roleList">
   
    </ul>
  </div>
  <div class="tcc_top close"><a href="javascript:void(0)" class="fr" onclick = "showOrHide('login', 'hide');"></a></div>
  <!--<div class="tcc_top"><a href="javascript:void(0)" class="fr" onclick = "showOrHide(4)"></a>登录</div>-->
  <div class="pop_left">
    <h2 class="tab"><a href="javascript:;" id="teacher">教师</a><a href="javascript:;" id="student">学生</a><a href="javascript:;" style="margin-right:0;" id="parent">家长</a></h2>
     <input type="hidden" id="loginUsertype" name="loginUsertype"/>
    <div class="loginBg">
        <p class="bor">
            <label class="user"></label>
            <input type="text" id="inputname" name="inputname" class="textbox1" placeholder="用户名" value="用户名" onfocus="clearusername();focuss(this);" onblur="blurr(this)" onkeyup="clearusername();" onchange="clearusername();" />
            <input type="hidden" name="username" id="username"/>
        </p>
        <p class="bor">
            <label class="password"></label>
            <input type="password" placeholder="密　码"  id="pwd" name="pwd" class="textbox1" onfocus="focuss(this);" onblur="blurr(this)" />
        </p>
       <p class="style1">
           <select id="area" onchange="selectchange();"></select>
        </p>
         <!-- <p class="bor" style="width:120px;float:left;"><label class="check_code"></label><input type="text" placeholder="验证码" name="validateCode" id="validateCode" class="textbox1" style="width:50px;" maxlength="4" onfocus="focuss(this);" onblur="blurr(this);"></p>
         <span class="yanz"><img src="{:U('Home/Public/verify_c')}" title="点击刷新" onclick="re_verifyimg();" id="verifycode"></span> -->
        <div class="getKey">
            <input type="checkbox" value="1" id="savepass"/>&nbsp;记住密码　　
            <a href='javascript:;' id="findpwd" onclick = "findpwd();" class="blue" >找回密码</a>
        </div>
        <p class="mt20 qk2">
            <input type="button" value="登&nbsp;录"  class="loginBtn" id="loginbuttion" onclick="tologin();"/>
            <input type="button" class="greenBtn" value="注&nbsp;册" onclick="register();"/>
        </p>
    </div>
    <div class="pop_right">
      <p><img src="__Himg__guanggao.png" width="300" height="239"  alt=""/></p>
    </div>
  </div>
</div>
<div id="score" class="topdiv">
    <div class="tcc_top"><a href="javascript:void(0)" class="fr" onclick = "hide_score();"></a>成绩</div>
    <div class="scoreCon">
        <p><span>总分：</span>100分</p>
        <p><span>得分：</span>80分</p>
        <p><span>错误：</span>3题</p>
    </div>
    </div>
<!--小优弹出层-->
<div id="loading">
    <div class="tcc_top">
        <!-- <a href="javascript:void(0)" class="fr" onclick = "showOrHide('login','hide','word');"></a> -->
        数据加载中
    </div>
    <div class="tcc_con">
        <dl class="loading">
           <!--  <dt>
                <img src="__Himg__you.gif" width="550" height="600"  alt=""/>
            </dt> -->
           <dt>
                <img src="__Himg__loading.gif"  alt=""/>
            </dt>
        
        </dl>
    </div>
</div>
<div id="below" class="belowdiv"></div>

