<div id="top" class="topdiv">
	<div class="tcc_top"><a href="javascript:void(0)" class="fr" onclick = "showOrHide(2)"></a>为了更好同步你的学习，请选择教材：</div>
    <div class="tcc_left">
    	<ul>
            <li><a href="#">一年级</a></li>
            <li><a href="#" class="cur">二年级</a></li>
            <li><a href="#">三年级</a></li>
            <li><a href="#">四年级</a></li>
            <li><a href="#">五年级</a></li>
            <li><a href="#">六年级</a></li>
            <li><a href="#">七年级</a></li>
            <li><a href="#">八年级</a></li>
            <li><a href="#">九年级</a></li>
        </ul>
    </div>
    <div class="tcc_right">
    	<div class="tcc_xueqi"><span><input name="" type="radio" value="" checked>上学期</span><span><input name="" type="radio" value="">下学期</span></div>
        <div class="tcc_banben">
        	<ul>
            	<li><p><span><input name="" type="checkbox" value="" checked></span>人教PEP</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>上海牛津</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>冀教版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>北师大版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>外研版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>鲁科版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>人教起点版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>译林版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>教科版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>闽教版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>辽师大版如果字多自动截字</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>剑桥JOIN IN</p></li>
            	<li><p><span><input name="" type="checkbox" value=""></span>人教PEP</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>上海牛津</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>冀教版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>北师大版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>外研版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>鲁科版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>人教起点版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>译林版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>教科版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>闽教版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>辽师大版</p></li>
                <li><p><span><input name="" type="checkbox" value=""></span>剑桥JOIN IN</p></li>                
            </ul>
            <div class="btnCon tac"><a href="#" class="aBtn none okBtn">确定</a>&nbsp;<a href="javascript:void(0)" onclick = "showOrHide(2)"class="aBtn none bgc">取消</a></div>
        </div>
    </div>
</div>