	<div class="r fl">
        <div id="dd" class="topMenu" tabindex="1">
            <span><i class="icon-more-horiz"></i></span>
            <ul class="dropdown">
                <!-- <li><a href="wordbook.html"><i class="icon-heart"></i>21</a></li>
                <li><a href="record.html"><i class="icon-list-alt"></i>5</a></li> -->
                <!-- <li><a href="{:U('index/wordbook')}"><i class="icon-heart"></i><font class="wordcount">0</font></a></li>
                <li><a href="{:U('index/record')}"><i class="icon-list-alt"></i><font class="recordcount">0</font></a></li> -->
                <li><a href="{:U('index/index')}"><i class="icon-evil"></i>学习中心</a></li>
				<li><a href="{:U('index/course')}"><i class="icon-pencil-square"></i><b>课程设置</b></a></li>
            </ul>
        </div>
    </div>