<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<title>快乐学拼音</title>
<link href="__PUBLIC__/style/klxpy/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/yjt_properties.js"></script>
</head>

<body>
	<div class="head">
    	<p>
        	<span>跟小优快乐学拼音</span>
        	<span class="blue">"ɑ"</span>
        </p>
    </div>
    <div class="section">
    	<div class="center">
        	<div class="left" id="swfid"></div>
            <div class="right">
            	<div class="sheng">
                    <h1>韵母表</h1>
                    <ul>
                        <li name="swf" ><a class="green" href="javascript:void(0);" url="uploadklx/klxpy/upload/a.swf">ɑ</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/o.swf">o</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/e.swf">e</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/i.swf">i</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/u.swf">u</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/v.swf">ü</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ai.swf">ɑi</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ei.swf">ei</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ui.swf">ui</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ao.swf">ɑo</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ou.swf">ou</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/iu.swf">iu</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ie.swf">ie</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ve.swf">üe</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/er.swf">er</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/an.swf">ɑn</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/en.swf">en</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/in.swf">in</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/un.swf">un</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/vn.swf">ün</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ang.swf">ɑng</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/eng.swf">eng</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ing.swf">ing</a></li>
                        <li name="swf" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ong.swf">ong</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div style="width:100%; height:4px; background:#ff8a00;"></div>
                <div class="yun">
                    <h1>声母表</h1>
                    <ul>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/b.swf">b</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/p.swf">p</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/m.swf">m</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/f.swf">f</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/d.swf">d</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/t.swf">t</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/n.swf">n</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/l.swf">l</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/g.swf">g</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/k.swf">k</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/h.swf">h</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/j.swf">j</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/q.swf">q</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/x.swf">x</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/zh.swf">zh</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/ch.swf">ch</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/sh.swf">sh</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/r.swf">r</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/z.swf">z</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/c.swf">c</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/s.swf">s</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/y.swf">y</a></li>
                        <li name="swf2" ><a href="javascript:void(0);" url="uploadklx/klxpy/upload/w.swf">w</a></li>
                    </ul>
                </div>

            </div>
            <div class="clearfix"></div>
      	    <div class="bottom">
                <div class="blank"></div>
                <h1><span>其他小朋友都在学</span></h1>
                <div class="other">
                    <ul>
                        <li><a href="javascript:void(0);"  onclick="redirectfun(1);"><img src="__PUBLIC__/images/app/klxsz.jpg"></a><span>快乐学生字</span></li>
                        <li><a href="javascript:void(0);" onclick="redirectfun(3);"><img src="__PUBLIC__/images/app/zmly.jpg"></a> <span>字母乐园</span></li>
                        <li><a href="javascript:void(0);" onclick="redirectfun(5);"><img src="__PUBLIC__/images/app/zxzd.jpg"></a><span>在线字典</span></li>
                        <li><a href="javascript:void(0);" onclick="redirectfun(6);"><img src="__PUBLIC__/images/app/kkxa.jpg"></a><span>可可小爱</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
        	</div>
        </div>
    </div>

<!-- <include file="Common/foot" /> -->




<script type="text/javascript">
var width=665;
var height=415;


$(function(){
    var url=$('li[name="swf"]').eq(0).children('a').attr('url');
    var tempHtml='<iframe src="playswf.html?url='+url+'&width='+width+'&height='+height+'" style="border:none;" width="100%" height="'+height+'"  frameboder="0"  border="0" id="playFlashIframe" scrolling="no"></iframe>';
    $('#swfid').html(tempHtml);
});


$('li[name="swf"]').live('click',function(){
    $(this).siblings().children('a').removeAttr('class');
    $(this).children('a').attr('class','green');
    $('li[name="swf2"]').children('a').removeAttr('class');
    var url=$(this).children('a').attr('url');
	var str=$(this).children('a').html();
	$('.blue').html(str);

    //$('embed').attr('src','../'+url+'?ran='+Math.random());
    //swfobject.embedSWF('../'+url, "swfid", width, height, "9.0.0", "expressInstall.swf");
    var tempHtml='<iframe src="playswf.html?url='+url+'&width='+width+'&height='+height+'" style="border:none;" width="'+width+'" height="'+height+'"  frameboder="0"  border="0" id="playFlashIframe" scrolling="no"></iframe>';
    //var tempHtml='<iframe src="../'+url+'" width="'+width+'" height="'+height+'" frameboder="0"  border="0" id="playFlashIframe"></iframe>';
    $('#swfid').html(tempHtml);
});

$('li[name="swf2"]').live('click',function(){
    $(this).siblings().children('a').removeAttr('class');
    $(this).children('a').attr('class','fellow');
    $('li[name="swf"]').children('a').removeAttr('class');
    var url=$(this).children('a').attr('url');
	var str=$(this).children('a').html();
	$('.blue').html(str);

    //$('embed').attr('src','../'+url+'?ran='+Math.random());
    //swfobject.embedSWF('../'+url, "swfid", width, height, "9.0.0", "expressInstall.swf");
    var tempHtml='<iframe src="playswf.html?url='+url+'"&width='+width+'&height='+height+'" style="border:none;"  width="'+width+'" height="'+height+'" frameboder="0"  border="0" id="playFlashIframe" scrolling="no"></iframe>';
    //var tempHtml='<iframe src="../'+url+'" width="'+width+'" height="'+height+'" frameboder="0"  border="0" id="playFlashIframe"></iframe>';
    $('#swfid').html(tempHtml);
});


</script>
</body>
</html>
