
    <div class="kuai02">
    <h1>其他小朋友都在学</h1>
    <span class="tup">
	<a href="javascript:void(0);" onclick="redirectfun(5);"><img src="/public/Klx/images/app/zxzd.jpg" height="150px:" width="200px">在线字典</a>
	 <a href="javascript:void(0);" onclick="redirectfun(2);"><img src="/public/Klx/images/app/klxpy.jpg" height="150px:" width="200px">快乐学拼音</a> 
	<a href="javascript:void(0);" onclick="redirectfun(3);"><img src="/public/Klx/images/app/zmly.jpg" height="150px:" width="200px">字母乐园</a>
	<a href="javascript:void(0);" onclick="redirectfun(1);" style="margin-right: 0;"><img src="/public/Klx/images/app/klxsz.jpg" height="150px:" width="200px" >快乐学生字</a>
    </span>
    <div class="clearfix"></div>
    </div>