<!--<div class="logo">
        <div class="w980" style="background:#fff;">
        <div class="logo_login">
            <span class="logo1"><a href="login.html" title="返回首页"><img src="__PUBLIC__/dict//images/logo2.png" height="42" width="260"></a></span>
        </div>
            <div class="hy"><img src="__PUBLIC__/dict//images/pjerror.png"  /><span class="font_g"></span></div>
        </div>
    </div>-->
    
    
    <div class="top">
        <div class="w980 pr">
		<a style="position:absolute;display:block;width:410px;height:110px;margin-left:20px;z-index:20px;" href="index"></a>
            <div class="po">
                <span class="ml">
                    <input type="text" class="w260" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]|，|,/g,'')" style="line-height: 28px;"/>
					<a class="btn_y"  id="hanzisearch"  href='javascript:void(0);' value="{$name}" onclick="cysearch(0);"><span >检 索</span></a>
                </span>
                <span class="mr">
                    <input type="text" value="{$name1}" class="w60" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" maxlength="1" style="line-height: 28px;"/>
                    <input type="text" value="{$name2}" class="w60" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" maxlength="1" style="line-height: 28px;"/>
                    <input type="text" value="{$name3}" class="w60" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" maxlength="1" style="line-height: 28px;"/>
                    <input type="text" value="{$name4}" class="w60" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" maxlength="1" style="line-height: 28px;"/>
                    <a class="btn_y"   id="locationsearch" href=' javascript:void(0);' onclick="cysearch(1);">
                        <span >按位置检索</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="tbottom"></div>