<iframe style="min-width: 1000px;" id="footiframe" name="footiframe" src="http://cms.czbanbantong.com/A01/A01074/A01074017/A01074017001/list_1.html?pram=1" width="100%" height="190" scrolling="no" frameborder="0"></iframe>

<!--
    <div class="foot"></div>
    <div style="clear:both;"></div>  
    <div class="footer mt0">
   	  <div class="w1200">
            <div class="left_f">
                
                <li class="nav2">
                    <a href="http://cms.czbanbantong.com/A01/A01050/list_1.html" target="_blank">帮助中心</a>  /  
                    <a href="http://cms.czbanbantong.com/A01/A01050/list_1.html" target="_blank">关于我们</a>  /  
                    <a href="http://cms.czbanbantong.com/A01/A01016/list_1.html" target="_blank">平台声明</a>  /  
                    <a href="http://cms.czbanbantong.com/A01/A01010/list_1.html" target="_blank">服务条款</a>  /  
                    <a href="http://cms.czbanbantong.com/A01/A01017/list_1.html" target="_blank">隐私保护</a>  /  
                    <a href="http://cms.czbanbantong.com/A01/A01078/list_1.html" target="_blank">加入我们</a>  /
                    <a href="http://cms.czbanbantong.com/A01/lib/defaultstyle/portalWJ/login/family.html?bz=xs&path=http://henan.czbanbantong.com" target="_blank">应用下载</a>
                </li>
                <li class="copyRight">
                  2012-2015 优教班班通版权所有  豫ICP备12019223号-1     服务热线：400-637-1319   0371-67679900<br>
                    郑州教育资源中心　 郑州市现代教育信息技术中心   郑州威科姆教育科技有限公司  联合运营
                </li>
            </div>
            <div class="right_f">
                <li class="code">
                    <span class="code2"></span>    
                    <p style="line-height: 30px;color: #fff;font-size: 14px;">优教通微信</p>        
                </li>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    -->