<!-- 页脚-->
   <div class="footer mt0">
   	  <div class="w980">
            <div class="left_f">
                
                <li class="nav2">
                    <a href="#">关于我们</a>  /  
                    <a href="#">版权声明</a>  /  
                    <a href="#">服务条款</a>  /  
                    <a href="#">隐私保护</a>  /  
                    <a href="#">帮助中心</a>  /  
                    <a href="http://t.ibangkf.com/i/leavemsg-youjiaotong.html?t=1421912938" target="_blank">在线客服</a>  /
                    <a href="#">加入我们</a>
                </li>
                
                <li class="copyRight">
                  2012-2015 优教班班通版权所有  豫ICP备12019223号-1     服务热线：400-637-1319   0371-67679900<br>
                    郑州教育资源中心　 郑州市现代教育信息技术中心   郑州威科姆教育科技有限公司 中国联通河南分公司  联合运营
                </li>
            </div>
  
            <div class="right_f">
                <li class="code">
                    <span class="code2"></span>            
                </li>
                
            </div>
            <div class="clearfix"></div>
        </div><!--end w980-->
    </div><!--end footer-->