<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>英语同步练</title>
  <meta name="Keywords" content="英语同步练,英语同步学习,在线英语学习,听力考试,听力训练,在线英语考试" />
  <meta name="description" content="欢迎来到英语同步练-优教同步学习网，在这里你可以在线学习英语，同步练习听力，而且还可以与其他同学和老师进行英语互动学习、学习资料分享、学习经验交流。英语同步练学英语，更有趣、更有效。" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link href="__Hcss__style.css" rel="stylesheet" type="text/css">
  <link href="__Hcss__font.css" rel="stylesheet" type="text/css">
  <link href="__Hcss__animate.min.css" rel="stylesheet" type="text/css">
  <link href="__Pjs__artDialog/skins/black.css" rel="stylesheet" type="text/css">
  <script src="__Pjs__jquery.min.js" type="text/javascript"></script>
  <script src="__Hjs__jquery.selectui.js" type="text/javascript"></script>
  <script src="__Pjs__artDialog/artDialog.js" type="text/javascript"></script>
  <script src="__Hjs__common.js" type="text/javascript"></script>
  <script src="__Pjs__jquery.cookie.js" type="text/javascript"></script>
  <script src="__Hjs__public.js" type="text/javascript"></script>
  <script src="__Hjs__md5.js" type="text/javascript"></script>
  <script src="__Hjs__login.js" type="text/javascript"></script>

  <!--[if IE 7]> <link rel="stylesheet" href="__Hcss__ie7.css"> <![endif]-->
  <!--[if IE]><script src="__Pjs__html5.js"></script><![endif]-->
  <script type="text/javascript">
    var content_type = 'index';
    //var versionimgurl = "{$Think.config.resource_path}";
    var versionimgurl = "__resource_path__";
    $(function () {
      welcome(content_type);
      $('nav a:eq(0)').addClass('cur');
    });
  </script>
</head>

<body>
  <include file="include:header" />
  <div class="bk10"></div>
  <div class="sy_bt">
    <div class="w980"><img src="__Himg__sy_r1_c2.png" width="749" height="54" alt="" /></div>
  </div>
  <div class="sy_block">
    <div class=" mod-a0 current">
      <div class="inner  ">
        <dl>
          <dt><img src="__Himg__sy_r3_c3.png" width="333" height="360" alt="" /></dt>
          <dd class="tit">单词个性学，轻松全掌握</dd>
          <dd>
            <p>自定义筛选，缩小单词范围，<br>
              形成专属自己的关卡测试；<br>
              一键收藏疑难单词，随时记忆；<br>
              <br>
              通过读音、拼写、词义和句子讲解等方式，</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="sy_block lan">
    <div class="mod-a1">
      <div class="inner ">
        <dl>
          <dt><img src="__Himg__sy_r5_c6.png" width="473" height="305" alt="" /></dt>
          <dd class="tit">课文同步听，口语随意测 </dd>
          <dd>
            <p>一键全文播放、单句跟读，<br>

              系统自动打分，想听哪里点哪里测到你满意为止；<br>

              课下积极修炼，做班级英语小达人。</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="sy_block dan_huang">
    <div class=" mod-a2">
      <div class="inner">
        <dl>
          <dt><img src="__Himg__sy_r7_c1.png" width="410" height="392" alt="" /></dt>
          <dd class="tit">练在平时，冲刺满分</dd>
          <dd>
            <p>平时只有高效练习，考场上才能无所畏惧！<br>

              在这里，我们为你准备了：<br>

              <strong>同步训练、中高考真题、模拟试题、专项训练...</strong><br>

              随你挑选，做完就打分，快捷高效！<br>

              让听力不再是你的痛处...</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="sy_block meihong">
    <div class="mod-a3 ">
      <div class="inner">
        <dl>
          <dt><img src="__Himg__sy_r9_c7.png" width="410" height="383" alt="" /></dt>
          <dd class="tit">只要学习有计划，人人都可成学霸</dd>
          <dd>
            <p>清晰、全面的记录数据，<br>

              作为你的学习小帮手，展示你成为学霸的每一步，<br>

              让你有计划的学习英语...</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!--<div class="bk10"></div>-->
  <include file="include:footer" />
</body>

</html>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?20a850a66d2dc66caf13ae75384199ef";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();

  function oTop(o) {
    return $(o).offset().top;
  }

  $(window).on("scroll", function () {
    var t = $(window).scrollTop();
    switch (true) {
      case t < oTop(".mod-a0"):
        $(".inner").removeClass("current");
        $(".mod-a0 .inner").addClass("current");
        break;
      case t >= oTop(".mod-a0") && t < oTop(".mod-a1"):
        $(".inner").removeClass("current");
        $(".mod-a1 .inner").addClass("current");
        break;
      case t >= oTop(".mod-a1") && t < oTop(".mod-a2"):
        $(" .inner").removeClass("current");
        $(".mod-a2 .inner").addClass("current");
        break;
      case t >= oTop(".mod-a2") && t < oTop(".mod-a3"):
        $(".inner").removeClass("current");
        $(".mod-a3 .inner").addClass("current");
        break;

    };
  });
</script>
<script type="text/javascript" src="/public/public/js/performance.js"></script>