<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="UTF-8">
		<title>口算卡</title>
    <script src="__SUBJECT__/kycp/js/mui.min.js"></script>

    <link href="__SUBJECT__/kycp/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__SUBJECT__/kycp/css/kycp.css" />
    <link rel="stylesheet" href="__SUBJECT__/kycp/font/fonts.css" />
		<style type="text/css">
	body{}
	
</style>
	</head>
<body>
<header style="z-index:9998;" class="mui-bar mui-bar-nav mubg">
		<div class="col-xs-4" style="text-align:left;">
    			<a ><span style=" font-size:40px;padding-top:3px;" class="mui-icon mui-icon-closeempty mui-pull-left corcobaise "></span></a>
            </div>
            
             <div class="col-xs-4 corcobaise" style="text-align:right;">
    			<a><span class="mui-icon mui-icon-pengyouquan"></span></a>
            </div>
    </header>
    
    <div style="" class="mui-content">
   	
   	<div style="position:fixed;background:#efefef; z-index:997; width:100%;" class="center mkbox5"><a><button style=" margin-top:5px; float: right; ma" type="button" class="mui-btn mui-btn-danger">立即下载</button></a><span class="fenxiang_leftloglo"><img src="images/logo.png"></span>
   		
   	</div>
   </div>
    
 <div style=" margin-top:40px;"><ul class="mui-table-view">
   
  <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary jused">64</span>
    </li>
   <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
    <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
    <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
    <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
    <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
    <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
</ul></div>
<li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>
    <li class="mui-table-view-cell">wen <span class="biaohong">doyou</span>  get up?
    	<p class="pading">你早上一般都什么时候起？</p>
        <span class="mui-badge mui-badge-primary lvsed">89</span>
    </li>



<div  style="position:fixed;background:#ffffff; z-index:997; width:100%; bottom: 0;">
<a style=" width:50%; margin-bottom:10px; border-radius:50px; font-size: 16px;" class="btn_ye" href="#"><span class="mui-icon mui-icon-mic"></span>播放录音</a>

<div>
</div>
</section>

</body>

</html>