<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="UTF-8">
		<title>英语同步练</title>
		<link rel="stylesheet" href="__SUBJECT__/css/currency.css" />
		<link rel="stylesheet" href="__SUBJECT__/font/fonts.css" />
		<link rel="stylesheet" href="__SUBJECT__/css/iscroll.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/layer.css" />
		<script type="text/javascript" src="__PUBLIC__/js/require.js" data-main="__ELEARN__/js/main" ></script>
		<script type="text/javascript">
			var grade="{$grade}";
		</script>
		<script type="text/javascript" src="__ELEARN__/js/entrance.js" ></script>
<style>
			#wrapper {height:100%; top: 0;background:#efefef;}
			#wrapper01 {height:100%; top: 0;background: #fff;}
			#scroller {background: #fff}
		</style>
	</head>
	<body>
		<main>
			<header class="head border-nav" style="position: absolute;">
				<a class="head-left" href="javascript:UXinJSInterface.popTheController();"><i class="icon-back"></i>返回</a>
				<a class="head-right"><i class="icon-uniE607"></i></a>
				<h1 class="title">微课应用</h1>
			</header>
			<div>
				<div class="inLeft" style="overflow-y: auto;">
					<div id="wrapper">
						<div id="scroller">	
							<ul id="grade">
								
							</ul>
						</div>
					</div>
				</div>
				<div class="inRight01" style="overflow-y: auto;">
					<div id="wrapper01">
						<div id="scroller">	
							<ul class="entrance clear" id="subjects">
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--遮罩的代码-->
		<div id="over" class="over"></div>
	    <div id="layout" class="layout">
	    	<img src="__ELEARN__/images/layout.gif" alt="" />
	    </div>
	   
	</body>
</html>