<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="wap-font-scale" content="no">
		<meta charset="UTF-8">
		<title>听读作业</title>
		<link rel="stylesheet" href="__PUBLIC__/pad/css/currency.css" />
		<link rel="stylesheet" href="__PUBLIC__/pad/font/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/pad/css/iscroll.css" />
		<link rel="stylesheet" href="__PUBLIC__/pad/css/mui.min.css" />
		<script type="text/javascript" src="__PUBLIC__/pad/js/TouchSlide.1.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/pad/js/demoUtils.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/pad/css/londing.css" />
		<style>
			.wsgray{
				font-family: Muiicons;
				padding-left:0px;
				margin-left:0px;
				margin-top:10px;
				display:inline-block;
				padding: 0;
				width: 50px;
				height: 50px;
				border-radius: 20px;
				text-align: center;
				border: solid 1px transparent;
				line-height: 50px;
			}

			.wgray{
				background-color: #f7f7f7;
				box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
				color: #a7a7a7;
			}

			.wgreen{
				background-color: #2bc8a0;
				box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #2bc8a0;
				color: white;
			}
			.daH1 {    margin: 0!important;    padding: 0!important;-webkit-margin-before: 0!important;-webkit-margin-after: 0!important;}
			.con ,.con ul,#iScroll-bd{ margin: 0!important;    padding: 0!important;-webkit-margin-before: 0!important;-webkit-margin-after: 0!important; box-sizing: border-box;}
		</style>
		<script type="text/javascript">
			//初始化参数
			var pageindex=0;
			var hwid="{$hwid}";
			var homeworkid="{$paperid}";
			var quescount=0;
			var batchid="{$batchid}";
			var sso="{$sso}";
			var tms="{$tms}";
			var tqms="{$tqms}";
			var username="{$studentid}";
			var classid="{$classid}";
			var issubmit="{$issubmit}";
			var type="{$type}";
			var isOverdue="{$isOverdue}";
			var title="{$name}";
			var index="{$index}";
			var storage=window.localStorage;
			var questions="";
			var questionscard="";
			var recordlocation="{$location}";
            if(!window.localStorage){
               questions=false;
               questionscard=false;
               oldhomeworkid=false;
            }else{
               oldhomeworkid=storage.getItem("homeworkid");
               questions=storage.getItem("questions");
               questionscard=storage.getItem("questionscard");
            }
            var curindex=index;
		</script>
	</head>
	<body>
		<main>
			<header class="head border-nav">
				<a class="head-left" href="javascript:try{clearTimeout(mp3_progress);}catch(e){console.log(e);}try{mp.pause();mp.clear();}catch(e){console.log(e);}UXinJSInterface.popTheController();"><i class="icon-back"></i></a>
				<a class="head-right"><i class="icon-share"></i></a>
				<h1 class="title">{$papername}</h1>
			</header>
			<section>
				<div class="pad050" style="overflow:hidden;">
					<div class="box">
						<div class="datiLeft">
							<h1 class="dth1"><i class="icon-shijuan"></i>答题卡</h1>
							<div class="lfl flY" id="card">
								<!--直接将数据查询出来进行模板展示-->
								<script id="questioncard" type="text/x-jquery-tmpl">
								    <h2 class="btH2 afterBorder">${name}（${num}）</h2>
									<div class="clear afterBorder">
										<div class="dtk pad10">
											{{each(i,lang ) questions}}
												<span class="load-container load8">
													<div class=""></div>
													{{if lang.score !=null}}
														<a href="javascript:void(0);" class="ball t2 bGreen">${i + 1}</a>
													{{else}}
														<a href="javascript:void(0);" class="ball t2 bGray">${i + 1}</a>
													{{/if}}
												</span>
											{{/each}}
										</div>
									</div>
								</script>
							</div>
							<neq name="isOverdue" value = "true">
							<div class="bbt">
								<!-- <a class="bBtn">暂存</a> -->
								<a class="bBtn" id="submithomework">交作业</a>
							</div>
						   </neq>
						</div><!--end left-->
						<div class="datiRight">
							<div class="posR">
								<div id="iScroll" class="iScroll">
									<div class="bd" id="iScroll-bd">

									</div>
								</div>
								<div class="h50"></div>
								<div class="bbtR">
									<div class="fl">
										<span class="dabble">
											<a class="cBtn record" id="tan"><i class="icon-yuyin"></i>录音</a>
											<a class="cBtn myrecord"><i class="icon-shengyin"></i>我的录音</a>
										</span>
									</div>
									<div class="fr">
										<span class="dabble">
											<button class="prev cBtn" id="wpre"><i class="icon-left"></i>上一题</button>
											<button class="next cBtn" id="wnxt">下一题<i class="icon-right"></i></button>
										</span>
									</div>
								</div>
								<!-- <div class="opBottom"></div> -->
							</div>
						</div>
						<!--end right-->
					</div>
				</div>
			</section>
			<div id="bg" style="display: none;"></div>
			<include file="template"/>

			<div id="jplayer"></div>
			<div id="tanS" class="tanshow radius8">
				<h1 class="tanH1"><i class="icon-light"></i>思路点拨<span class="fr" id="close"><i class="icon-cuo"></i></span></h1>
				<div class="pad30">
					<p class="tanNr">5. 点击“交作业”按钮，系统自动判断试题是否已全部完成，如未完成，提示：您还有X道试题未作答，提交之后将不能作答！如已完成，提示：作业提交后，答案将不可修改，确认提交点击确认；点击提交，提交当前的网上作业，并返回至网上作业列表页面；</p>
					<p class="tanNr">5. 点击“交作业”按钮，系统自动判断试题是否已全部完成，如未完成，提示：您还有X道试题未作答，提交之后将不能作答！如已完成，提示：作业提交后，答案将不可修改，确认提交点击确认；点击提交，提交当前的网上作业，并返回至网上作业列表页面；</p>

				</div>
			</div>
		</main>
		<script type="text/javascript" src="__PUBLIC__/js/mui.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="__COMMON__/js/jquery.tmpl.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/pad/js/layer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/pad/js/examsquiz.js"></script>
	</body>

</html>
