<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>英语绘本</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="__PUBLIC__/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.css"/>
		<link href="__PUBLIC__/css/mui.picker.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mui-base.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mui-slide.css" />
		<style>
		
			
			.title{
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
	
			.oa-contact-avatar {
				width: 75px;
			}
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			.oa-contact-content {
				width: 100%;
			}
			.oa-contact-name {
				margin-right: 20px;
			}
			.oa-contact-name, oa-contact-position {
				float: left;
			}

			.wrap > li > div{
				height: 100%;
				line-height: 100px;
				text-align: center;
				color: white;
				font-size: 25px;
				font-weight: bold;
				background: rgb(130, 197, 197);
			}
		</style>
	</head>

	<body>
		<!--<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">毕业设计</h1>
		</header>-->
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon mui-icon-chatboxes"></span>
				<span class="mui-tab-label">课文</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="mui-icon mui-icon-list"></span>
				<span class="mui-tab-label">单词</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-status">
				<span class="mui-icon mui-icon-compose"></span>
				<span class="mui-tab-label">翻译</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-contact">
				<span class="mui-icon mui-icon-settings"></span>
				<span class="mui-tab-label">测试</span>
			</a>
		</nav>
		<div class="mui-content">
			<div id="tabbar" class="mui-control-content mui-active slide">
				  	<ul class="wrap">
						<li><div>1</div></li>
						<li><div>2</div></li>
						<li><div>3</div></li>
						<li><div>4</div></li>
						<li><div>5</div></li>
					</ul >
				<!-- <button id='showUserPicker' class="mui-btn mui-btn-block" type='button'>类型搜索...</button>
				<ul class="mui-table-view mui-table-view-chevron" id="projectcontent">
					
				</ul> -->
			</div>
			<div id="tabbar-with-chat" class="mui-control-content">
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell">Item 1</li>
				    <li class="mui-table-view-cell">Item 2</li>
				    <li class="mui-table-view-cell">Item 3</li>
				</ul>
			</div>
			<div id="tabbar-with-status" class="mui-control-content">
				<p style="margin-top:20px;">fsdasdfasd</p>
				<!--<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell mui-input-row">
						<label>电话</label>
						<input type="text" placeholder="请输入您的手机号" id="tele">
					</li>
					<li class="mui-table-view-cell mui-input-row">
						<label>查看密码</label>
						<input type="text" placeholder="请输入您设置的查看密码" id="tecent">
					</li>
				</ul>
				<a href="javascript:void(0);" id="check" class="mui-btn mui-btn-primary mui-btn-block">提交</a>
				<ul class="mui-table-view" style="display:none;">
					<li class="mui-table-view-cell">
						<a class="">姓名<span class="mui-pull-right">Hbuilder</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a>HBuilder账号<span class="mui-pull-right">hbuilder@dcloud.io</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a>QQ号<span class="mui-pull-right">88888888</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a>手机号<span class="mui-pull-right">18601234567</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a>邮箱地址<span class="mui-pull-right">hbuilder@dcloud.io</span></a>
					</li>
				</ul>-->
			</div>
			<div id="tabbar-with-contact" class="mui-control-content slide" style="10000px">
				  	<div class="wrap">
						<li><div>1</div></li>
						<li><div>2</div></li>
						<li><div>3</div></li>
						<li><div>4</div></li>
						<li><div>5</div></li>
					</div>
			</div>
		</div>
	</body>
	<script src="__PUBLIC__/js/mui.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/js/mui.picker.js" type="text/javascript"></script>
	<script src="__PUBLIC__/js/mui.poppicker.js" type="text/javascript"></script>
	<script type="text/javascript" src="__PUBLIC__/js/JM.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/slide.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/swipechange.js"></script>
	<script type="text/javascript">
	var scs = MUI.SwipeChange({
		id:"tabbar-with-contact",
		currentIndex:1,
		fastChange:true
	});
	
//	    alert(navigator.userAgent);
//		var per=window.performance;
//		if(per==undefined){
//			console.log("您的手机不支持性能测试");
//		}else{
//			console.log("您的手机支持性能测试");
//			
//			
//			//alert(window.performance.navigation);
//		}
	</script>
	<script type="text/javascript">
	var sc = MUI.Slide({
		id:"tabbar",
		currentIndex:4,
		fastChange:true	
	});
	JM.event.on(sc,"click",function(){
		if(sc.currentIndex >= sc.count - 1){
			sc.slideTo(0);
		}
		else{
			sc.slideTo(sc.currentIndex+1);
		}
		// sc.slideTo(0);
	});
	</script>
	
</html>