<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>听读作业</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link href="__PUBLIC__/public/style/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Test_paper/style/ks_exam.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/public/style/test_paper.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.jplayer.min.js"></script>
<script src="__PUBLIC__/public/script/artDialog.js?skin=default_green"></script>
<script src="__PUBLIC__/public/script/iframeTools.js?skin=default_green"></script>
<script src="__PUBLIC__/public/script/test_paper.js"></script>
<script src="__COMMON__/js/jquery.tmpl.js"></script>
<script src="__COMMON__/js/jquery.tmplPlus.js"></script>
<script src="__COMMON__/js/en.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/pcmp3play.js"></script>
<script>

var examsmp3url = "__RESOURCE__mp3_exam/";
var word_pic_url = "__RESOURCE__pic_word/";
var wordmp3url = "__RESOURCE__mp3_word/";
var textmp3url = "__RESOURCE__mp3_text/";

</script>
</head>
<body class="bg_stu ">
<font id="num" style="display:none;">0</font>
<!--begin w1200-->
<div id="jplayer"></div>
<div class="w980" >
  <div class="clearfix"></div>
  <div class="test_con" >
    <h1 class="dbt1">{$ks_name}</h1>
    <div class="test">
      <div class="te_tab">
        <if condition="$waids neq ''">
          <a href="javascript:void(0);" name="wa" class="aBtn cur" selecttype="wordalound">单词跟读</a>
        </if>
        <if condition="$wpids neq ''">
           <a href="javascript:void(0);" name="wp" class="aBtn" selecttype="wordwp">单词拼写</a>
        </if>
        <if condition="$wyids neq ''">
           <a href="javascript:void(0);" name="wy" class="aBtn" selecttype="wordwy">英汉互译</a>
        </if>
        <if condition="$wxids neq ''">
           <a href="javascript:void(0);" name="wx" class="aBtn" selecttype="wordwx">听音选词</a>
        </if>
         <if condition="$taids neq ''">
           <a href="javascript:void(0);" name="ta" class="aBtn" selecttype="textalound">课文跟读</a>
        </if>
         <if condition="$eqids neq ''">
           <a href="javascript:void(0);" name="eq" class="aBtn" selecttype="examsquiz">听力训练</a>
        </if>
      </div>
      <div class="test content">
        <neq name="waids" value="">
        <div class="homework wordalound" style="display: none;">
  
          
        </div>
      </neq>
      <neq name="wpids" value="">
        <div class="homework wordwp" style="display: none;">


        </div>
      </neq>
       <neq name="wyids" value="">
        <div class="homework wordwy" style="display: none;">
  

        </div>
      </neq>
      <neq name="wxids" value="">
        <div class="homework wordwx" style="display: none;">

        </div>
      </neq>
      <neq name="taids" value="">
        <div class="homework textalound" style="display: none;">
      

        </div>
      </neq>
      <neq name="eqids" value="">
        <div class="homework examsquiz" style="display: none;">
          
        </div>
      </neq>
    </div>
    </div>
    <div class="clear"></div>
    <div class="clearfix"></div>
  </div>
     <div class="scrollsidebar" id="scrollsidebar" >
    <div class="side_content">
      <div class="side_list">
        <div class="side_title">答题卡<a title="隐藏" class="close_btn"><span>关闭</span></a></div>
        <div class="side_center" id="side_center">
          <!-- <p><a href="javascript:;" class=" btn_green" onclick="fabu();">发作业</a></p> -->
         <foreach name="cardarr" item="cardvalue" >
          <h1>{$cardvalue.title}</h1>
          <ul >
          <foreach name="cardvalue['cardlist']" item="vo" key="cardkey" >
            <li ><a href="javascript:;">{$cardkey+1}</a></li>
          </foreach>
          </ul>
          <div class="clearfix"></div>
        </foreach>
         
        </div>
      </div>
    </div>
    <div class="show_btn"><span>在线答题卡</span></div>
  </div>
</div>
<font id="num" style="display:none;">0</font>

<!--t提交弹出层-->
<div id="tj_pop" style="display:none;">
  <div class="popContent">
    <h5>答案已提交，正在批改中，请稍侯...</h5>
  </div>
  <!--end popContent-->
</div>
<include file="template"/>
</body>
</html>
<script src="__PUBLIC__/public/script/common.js"></script>
<script>

function tj_pop(){
	art.dialog({
		padding: 0,
		title:'友情提示',
		width:510,
		content: document.getElementById('tj_pop'),//获取id为dTree_5层里面的内容，dTree_5层在页面下方
		lock:true,
		opacity: 0.2,
		cancelVal: '关闭',
    	cancel: true //为true等价于function(){}
});
}


</script>
<script type="text/javascript">
 //mp.url = "{$Think.config.word_mp3_path}";
var waids="{$waids}";
var wpids="{$wpids}";
var wyids="{$wyids}";
var wxids="{$wxids}";
var taids="{$taids}";
var eqids="{$eqids}";
var readtype = 0;
var examsmp3url = "{$Think.config.exams_mp3_path}";
var word_pic_url = "{$Think.config.word_pic_path}";
var wordmp3url = "{$Think.config.word_mp3_path}";
var textmp3url = "{$Think.config.text_mp3_path}";
var recordmp3url = "{$Think.config.record_mp3_path}";
$(function() {
	$("#scrollsidebar").fix({
		float : 'right',	//default.left or right
		//minStatue : true,
		skin : 'green',	//default.gray or blue
		durationTime : 600
	});
  var p = en.createNew("00010802060202");
  if(waids != ''){
    p.getPreWalist(waids,$("#tmplwaquestion"),$(".wordalound"));  //单词跟读
  }
  if(wpids != ''){
     p.getPreWplist(wpids,$("#tmplwpquestion"),$(".wordwp")); //单词拼写
  }
  if(wyids != ''){
     p.getPreWylist(wyids,$("#tmplwyquestion"),$(".wordwy"));//英汉互译
  }
  if(wxids != ''){
    p.getPreWxlist(wxids,$("#tmplwxquestion"),$(".wordwx"));//听音选词
  }
  if(taids != ''){
     p.getPreTalist(taids,$("#tmpltaquestion"),$(".textalound"));
  }
  if(eqids != ''){
    p.getPreExaminfo(eqids,$("#tmpleqquestion"),$(".examsquiz"));
  }
  $(".te_tab .aBtn").bind("click",function(){
     clearTimeout(mp3_progress);
     mp.clear();
     var name=$(this).attr("selecttype");
     //console.log(name);
     $(".aBtn").removeClass("cur");
     $(this).addClass("cur");
     $(".homework").hide();
     $("."+name).show();
     
  });
  $(".aBtn:eq(0)").click();
  $(".aBtn:eq(0)").click();
});
function getTemplate( key ) {
  return $( "#" + key ).template();
}

function reading(obj,flag){
  //console.log(wordmp3url);
  mp.clear();
   var playimg = '';
   if($(obj).find("img").length != 0){
      var playimg = $(obj).find("img").attr('src');
       var _playimg =playimg.replace('png','gif');
      $(obj).find("img").attr('src',_playimg);
   }
   else{
    $(obj).find('a').addClass('active');
   }
   if(flag==0){
     var mp3=$(obj).find("a").attr("mp3");
     mp.play(wordmp3url +  mp3);
   }else if(flag==1){
     var mp3=$(obj).find("a").attr("mp3");
     mp.play(textmp3url +  mp3.substr(0,2) + "/" + mp3 + ".mp3");
   }
   else if(flag==2){
     var mp3=$(obj).find("a").attr("mp3");
     mp.play(recordmp3url +  mp3);
   }
   $("#jplayer").bind($.jPlayer.event.ended,function(event){
    if(playimg != ''){
       $(obj).find("img").attr('src',playimg);
    }
    else{
       $(obj).find("a").removeClass('active');
    }
       
      
    });
}

// function fabu(){
//   $.post("../../Pubinterface/index/publish_homework",{homework:homeworkarr,ran:Math.random()},function(result){
//     //alert(result.url);
//   //console.log("英语练这边打开的地址："+result.url+"&time="+new Date().getTime());
//     art.dialog.open('test',{id:'memdiv',width :500,height:600,title:'发布作业'});
//   //console.log("f:"+new Date().getTime());
//   //console.log(result.url+"&time="+new Date().getTime());
//   });
// }
</script>
