<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑模版</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</head>
<body> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
  <tr>
    <td class="box_top pl_10 f14"><strong>搜索</strong></td> 
  </tr>
  <tr>
    <td class="pl_5">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_table">
      <tr>
        <td width="80" align="right">听力材料：</td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td align="right">题干：</td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td align="right">选项：</td>
        <td>A.</td>
        </tr>
      <tr>
        <td height="32" align="right">答案：</td>
        <td>&nbsp;</td>
      </tr>
    </table></td> 
  </tr> 
</table>
</body>
</html>
