<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>版本列表</title>
        <link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/js/manager.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
        <script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
        <script type="text/javascript" src="__PUBLIC__/DatePicker/WdatePicker.js"></script> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/DatePicker/skin/WdatePicker.css" />
        <script type="text/javascript" src="__PUBLIC__/js/stat.js"></script> 
    </head>
    <body>
        <div class="place"><strong>位置</strong>：首页 &gt; 试卷统计</div>
        <div class="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
                <tr>
                    <td class="box_top pl_10 f14"><strong>搜索</strong></td> 
                </tr>
                <tr>
                    <td class="pl_5"><table border="0" cellspacing="0" cellpadding="0" class="form_table">
                            <tr>
                                <td width="100" align="right">开始时间：</td>
                                <td>
                                    <input id="starttime" class="Wdate input-text lh30" type="text" onfocus="WdatePicker({skin:'whyGreen',maxDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" value="2015-01-01"/> 
                                </td>
                                <td width="100" align="right">结束时间：</td>
                                <td>
                                    <input id="endtime" class="Wdate input-text lh30" type="text" onfocus="WdatePicker({skin:'whyGreen',maxDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" value=""/>
                                </td>
                                <td>
                                    &nbsp;
                                    <input type="button" class="btn btn82 btn_search" value="查询" />
                                </td>
                            </tr>
                        </table>
                    </td> 
                </tr> 
            </table>
            <div class="h10"></div>
 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
                <tr>
                    <td class="pl_10" height="42">
                        <input id="export" name="export" type="button" class="ext_btn ext_btn_submit" value="导出EXCEL" onclick="export();" />&nbsp;
                    </td>
                </tr>
            </table>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
  <tr>
    <th width="60">
        年级
    </th>
    <th width="100">
        版本
    </th>
    <th width="100">
        学期
    </th>
    <th width="60">
        已发布
    </th>
    <th width="100">
        同步发布
    </th>
    <th width="100">
        课堂发布
    </th>
    <th width="60">
        待发布
    </th>
    <th width="" align="left">
        &nbsp;&nbsp;总数
    </th>
</tr>
</table>
<div class="h5"></div>
<table class="list_demo" style="display:none;">
    <tr class="tr">
    <td align="center">1</td>
    <td align="align"></td>
    <td align="align"></td>
    <td align="align"></td>
    <td align="align"></td>
    <td align="center">&nbsp;</td>
    <td align="center">编辑中</td>
    <td align="left">
    </td>
    </tr>
</table> 
            <div class="h5"></div>
        </div>
        <script type="text/javascript">

            $(function() {
                $.ajaxSetup({async: false});
                $(".tr:odd").css("background", "#F5F8FA");
                $('.tr:odd').live('hover', function(event) {
                    if (event.type == 'mouseenter') {
                        $(this).css("background-color", "#E5EBEE");
                    } else {
                        $(this).css("background-color", "#F5F8FA");
                    }
                });

                $('.tr:even').live('hover', function(event) {
                    if (event.type == 'mouseenter') {
                        $(this).css("background-color", "#E5EBEE");
                    } else {
                        $(this).css("background-color", "#FFF");
                    }
                });
                $("#endtime").val(CurentTime());
                //var dloading = art.dialog({time: 30, title: '加载中……', width: 130, height: 30, opacity: 0.3, lock: true});
                /**
                 初始化年级、学期、版本以及单元和单词
                 **/
                $(".btn_search").click(function(){
                    $.STAT.SetExamsstat($("#content"),$("#starttime").val(),$("#endtime").val());
                });
                $(".btn_search").click();
                $("#export").click(function(){
                   var starttime=$("#starttime").val();
                    var endtime=$("#endtime").val();
                    location.href="../Exam/makeExcel?starttime="+starttime+"&endtime="+endtime;
                });


            });

function CurentTime()
    { 
        var now = new Date();
       
        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日
       
        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
       
        var clock = year + "-";
       
        if(month < 10)
            clock += "0";
       
        clock += month + "-";
       
        if(day < 10)
            clock += "0";
           
        clock += day;
       

        return(clock); 
    } 
        </script> 
    </body>
</html>
