<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑模版</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>  
<script type="text/javascript"  src="__PUBLIC__/js/jquery.form.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ue/ueditor.all.min.js"> </script>  
<script type="text/javascript" src="__PUBLIC__/js/myueditor.js"></script>
</head>
<body>
<div class="place"><strong>位置</strong>：首页 &gt; 位置导航</div>
<div class="container">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
  <tr>
    <td class="box_top pl_10 f14"><strong>短文大题编辑</strong></td> 
  </tr>
  <tr>
    <td class="p5">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
      <tr>
        <td height="34" class="td_right">输入框：</td>
        <td>
          <input name="ques" type="radio"  value='1' checked/>选择题&nbsp;
          <input type="radio" name="ques"  value='3'/>判断题&nbsp;
          <input type="radio" name="ques"  value='4'/>连线题&nbsp;
        </td>
      </tr>
      <tr>
        <td class="td_right">适配年级：</td>
        <td>
            <input name="class" type="checkbox"  value='1' cid='1'/>小学&nbsp;
            <input name="class" type="checkbox"  value='2' cid='2'/>初中&nbsp;
            <input name="class" type="checkbox"  value='3' cid='3'/>高中&nbsp;        
        </td>
      </tr>
      <tr>
        <td class="td_right">&nbsp;</td>
        <td>
		    <volist name="grade" id="vo">
		    	<input type="checkbox" name="grade" value='{$vo.id}' bid='<if condition="($vo.id lt 7)">1<elseif condition="($vo.id lt 10)"/>2<else />3</if>'/>{$vo.name}&nbsp;
			</volist>  
        </td>
      </tr>
      <tr>
        <td class="td_right">难易程度：</td>
        <td>
            <input name="complexity" type="radio" checked="checked" value='3'/>较难&nbsp;
            <input type="radio" name="complexity" value='2'/>适中&nbsp;
            <input type="radio" name="complexity" value='1'/>容易&nbsp;
        </td>
      </tr>
      <tr>
        <td class="td_right">关键词：</td>
        <td>
        	<input type="text" class="input-text lh30" size="40" id="keyword"/><font style="color:gray;size:10px;">(关键词请以逗号隔开）</font>
                              来源：<input type="text"  class="input-text lh30" size="20" id="source"/>
          </td>
      </tr>
      <tr>
        <td class="td_right">听力材料：</td>
        <td><textarea cols="30" rows="3" class="textarea" id="vcontent"></textarea></td>
      </tr>
      <tr>
        <td class="td_right">题干：</td>
        <td>
          <p> 
            <script id="editor" type="text/plain" style="width:650px;height:80px;"></script>
          </p>
          <p>
            <span class="red">备注：普通下划线______ 用  #下划线# ，填空用  ##答案[good]## 表示　</span>
          </p>
        </td>
      </tr>
      <tr>
        <td class="td_right">解析：</td>
        <td><textarea name="textarea" cols="30" rows="3" class="textarea" id="acontent"></textarea></td>
      </tr>
    </table>
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table answer">
      <tr>
        <td class="td_right">小题列表：</td>
        <td>&nbsp;&nbsp;<img class="add" src="__PUBLIC__/images/jia.png" width="21" height="19" />&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td class="td_right">&nbsp;</td>
		<td style="display:none;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
	            <tr>
	              <td width="50" align="right"><img class="del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	              <td height="34" bgcolor="#CCCCCC">&nbsp;<strong>选择小题</strong></td>
	            </tr>
	            <tr>
	              <td align="right">题干：</td>
	              <td>&nbsp;
	                <textarea name="textarea2" cols="30" rows="3" class="textarea"></textarea></td>
	            </tr>
	            <tr>
	              <td align="right">类型：</td>
	              <td><input name="status" type="radio" />
	                文字
	                <input name="status" type="radio" checked="checked" />
	                图片 </td>
	            </tr>
	            <tr>
	              <td align="right">&nbsp;</td>
	              <td height="32"><input name="status333" type="radio" />
	                A.
	                <input type="text" class="input-text lh30" size="40" />
	                <input type="button" value="上传" onclick="location.href='textedit.html'" class="ext_btn" />
				  </td>
	            </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td height="32"><input name="status333" type="radio" checked="checked" />
	                B.
	                <input type="text" class="input-text lh30" size="40" />
	                <input type="button" value="上传" onclick="location.href='textedit.html'" class="ext_btn" />
				  </td>
	            </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td height="32"><input name="status" type="radio" />
	                C.
	                <input type="text" class="input-text lh30" size="40" />
	                <input type="button" value="上传" onclick="location.href='textedit.html'" class="ext_btn" />
				  </td>
	            </tr>
          </table>
		</td>
        <td>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
	            <tr>
	              <td width="50" align="right"><img class="del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	              <td height="34" bgcolor="#CCCCCC">&nbsp;<strong>选择小题</strong></td>
	            </tr>
	            <tr>
	              <td align="right">题干：</td>
	              <td>&nbsp;
	                <textarea name="textarea2" cols="30" rows="3" class="textarea"></textarea></td>
	              </tr>
	            <tr>
	              <td align="right">类型：</td>
	              <td>
	              	<input name="status" type="radio" />
	                文字
	                <input name="status" type="radio" checked="checked" />
	                图片 </td>
	            </tr>
	            <tr>
	              <td align="right">&nbsp;</td>
	              <td height="32">
	              	<input name="status333" type="radio" value="A"/>A.
	                <input type="text" class="input-text lh30" size="40" />
	                <input type="button" value="上传"  class="ext_btn" />
				  </td>
	            </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td height="32">
	              	<input name="status333" type="radio" value="B" checked="checked" />B.
	                <input type="text" class="input-text lh30" size="40" />
	                <input type="button" value="上传"  class="ext_btn" />
				  </td>
	            </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td height="32">
	              	<input name="status" type="radio" value="C"/>C.
	                <input type="text" class="input-text lh30" size="40" />
	                <input type="button" value="上传"  class="ext_btn" />
				  </td>
	            </tr>
          </table>	
		</td>
      </tr>
      </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table answer">
      <tr>
        <td class="td_right">小题列表：</td>
        <td>&nbsp;&nbsp;<img class="add" src="__PUBLIC__/images/jia.png" width="21" height="19" />&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td class="td_right">&nbsp;</td>
		<td style="display:none;">
		   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
	          <tr>
	            <td width="50" align="right"><img class="del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	            <td height="34" bgcolor="#CCCCCC">&nbsp;<strong>判断小题</strong></td>
	          </tr>
	          <tr>
	            <td align="right">题干：</td>
	            <td>&nbsp;
	              <textarea name="textarea3" cols="30" rows="3" class="textarea"></textarea></td>
	          </tr>
	          <tr>
	            <td align="right">答案：</td>
	            <td><input name="status33333" type="radio" />
	              True
	              <input name="status33333" type="radio" checked="checked" />
	              False </td>
	          </tr>
            </table>
		</td>
        <td>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
	          <tr>
	            <td width="50" align="right"><img class="del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	            <td height="34" bgcolor="#CCCCCC">&nbsp;<strong>判断小题</strong></td>
	          </tr>
	          <tr>
	            <td align="right">题干：</td>
	            <td>&nbsp;
	              <textarea name="textarea2" cols="30" rows="3" class="textarea"></textarea></td>
	          </tr>
	          <tr>
	            <td align="right">答案：</td>
	            <td>
	              <input name="status" type="radio" value='1'/> True
	              <input name="status" type="radio" value='0' checked="checked" />False 
				</td>
	          </tr>
            </table>
		</td>
      </tr>
    </table>
	
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table answer">
      <tr>
        <td width="30" class="td_right">小题列表：</td>
        <td>&nbsp;&nbsp;<img class="add" src="__PUBLIC__/images/jia.png" width="21" height="19" />&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td class="td_right">&nbsp;</td>
		<td style="display:none;">
		  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
          <tr>
            <td width="50" align="right"><img  class="del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
            <td height="34" bgcolor="#CCCCCC"><strong>&nbsp;连线题</strong></td>
          </tr>
          <tr>
            <td align="right">类型：</td>
            <td><input name="status" type="radio" checked="checked" />
              文字
              <input name="status" type="radio"  />
              图片 </td>
          </tr>
          <tr>
            <td align="right">&nbsp;</td>
            <td height="32"><img class="line_add" src="__PUBLIC__/images/jia.png" width="21" height="19" /></td>
          </tr>
          <tr>
            <td align="right"><img class="line_del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
            <td height="32">
              <input type="text" class="input-text lh30" value="A" size="5" />
              <input type="text" class="input-text lh30" size="40" />
              <input type="button" value="上传"  class="ext_btn pic" style="display:none;" /></td>
          </tr>
		   <tr>
		  	<td>&nbsp;&nbsp;</td>
			<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
		          <tr>
		            <td align="right">答案：</td>
		            <td height="32">&nbsp;</td>
		          </tr>
		          <tr>
		            <td width="50" align="right">&nbsp;&nbsp;</td>
		            <td height="32">
		              1.
		                <input type="text" class="input-text lh30" value="A" size="5" /></td>
		          </tr>
	            </table>
			</td>
		  </tr>
        </table>
		</td>
        <td>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
	          <tr>
	            <td width="50" align="right"><img  class="del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	            <td height="34" bgcolor="#CCCCCC"><strong>&nbsp;连线题</strong></td>
	          </tr>
	          <tr>
	            <td align="right">类型：</td>
	            <td>
	            	<input name="status" type="radio" checked="checked" value="1"/>文字
	                <input name="status" type="radio"  value="2"/>图片
				</td>
	          </tr>
	          <tr>
	            <td align="right">&nbsp;</td>
	            <td height="32"><img class="line_add" src="__PUBLIC__/images/jia.png" width="21" height="19" /></td>
	          </tr>
			  <tr style="display:none;" class="line_add_demo">
	            <td align="right"><img class="line_del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	            <td height="32">
	              <input type="text" class="input-text lh30" value="" size="5" />
	              <input type="text" class="input-text lh30" size="40" />
	              <input type="button" value="上传"  class="ext_btn pic" style="display:none;"/>
				</td>
	          </tr>
			  <tr>
	            <td align="right"><img class="line_del" src="__PUBLIC__/images/jian.png" width="21" height="19" />&nbsp;&nbsp;</td>
	            <td height="32">
	              <input type="text" class="input-text lh30" value="" size="5" />
	              <input type="text" class="input-text lh30" size="40" />
	              <input type="button" value="上传"  class="ext_btn pic" style="display:none;"/>
				</td>
	          </tr>
	            <td align="right">答案：</td>
	            <td height="32">&nbsp;</td>
	          </tr>
	          <tr style="display:none;" class="line_add_demo1" id="">
	            <td width="50" align="right"></td>
	            <td height="32">
	              &nbsp;&nbsp;<input type="text" class="input-text lh30" value="" size="5" />
				</td>
	          </tr>
			   <tr id="line1" bid="line">
	            <td width="50" align="right">1.</td>
	            <td height="32">
	              &nbsp;&nbsp;<input type="text" class="input-text lh30" value="" size="5" />
				</td>
	          </tr>
             </table>
			</td>
		 </tr>
        </table>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
      <tr>
        <td class="td_right">&nbsp;</td>
        <td>
          <input type="button" name="button" class="btn btn82 btn_save2" value="保存" /></td>
      </tr>
    </table>
    <div class="h10"></div>
    </td> 
  </tr> 
</table>
</div>
<!--上传的div块-->
<div id="uploadfile" style="display:none;">
	<table>
	  <tr>
	    <td align="right"><font style="font-weight:10px;">图片：</font></td>
	    <td align="left">
	      <img src="" id="myimg" width="120" height="90"/ style="border:1px solid #CCC; padding:2px;" >
	    </td>
      </tr> 
	  <tr>
	    <td>&nbsp;</td>
	    <td>
	    	<div id="queue"></div>
			<input id="file_upload" name="file_upload" type="file" multiple="false"/>
		</td>
	  </tr>
	</table>
</div>

<script type="text/javascript">  
$(function(){ 
  $.ajaxSetup({async:false});
  //页面初始化,默认是选择题型
  $(".form_table.answer").hide();
  $(".form_table.answer:eq(0)").hide();
  var ue = UE.getEditor('editor');//ueditor插件
  //题型单击事件
  $("input[name='ques']").click(function(){
  	 var typeid=$(this).val()-1;
	 if(typeid>0){
	 	typeid=typeid-1;
	 }
	 $(".form_table.answer").hide();
	 $(".form_table.answer:eq("+typeid+")").show();
  });
  $("input[name='ques']:checked").click();
  //学段单击事件
  $("input[name='class']").click(function(){
    var phrase=$(this).val();
    if($(this).is(':checked'))
    {
       $("input[bid="+phrase+"]").attr('checked',true);
    }else{
       $("input[bid="+phrase+"]").attr('checked',false);
    }
  });
  //年级单击事件
  $("input[name='grade']").click(function(){
    var phrase=$(this).attr('bid');
    if(!$(this).is(':checked'))
    {
      $("input[cid="+phrase+"]").attr('checked',false);
    }else{
		//判断所在学段的年级是否全部选中
      if($("input[bid="+phrase+"]").length==$("input[bid="+phrase+"]:checked").length){
        $("input[cid="+phrase+"]").attr('checked',true);
      }
    }
  });
  //小题添加和删除
  $(".answer .add").live("click",function(){
 	var tr=$(this).parent().parent().parent().children("tr").eq(1).children("td").eq(1).children().clone();
	$(this).parent().parent().parent().children("tr").eq(1).children("td").eq(2).append(tr);
  });
  $(".answer .del").live("click",function(){
  	$(this).parent().parent().parent().parent().remove();
  });
  //连线题的添加和删除
  $(".line_add").live("click",function(){
  	var td=$(this).parent().parent().parent().find(".line_add_demo").eq(0).clone().show();
	var len=$(this).parent().parent().parent().find(".line_del").length+2;
	$(this).parent().parent().parent().children("tr").eq(len).after(td);
	var td1=$(this).parent().parent().parent().find(".line_add_demo1").eq(0).clone().show();
	len=(len-2);
	td1.attr("id","line"+len);
	td1.attr("bid","line");
	td1.children("td").eq(0).text(len+".");
	len=len*2+4;
	$(this).parent().parent().parent().children("tr").eq(len).after(td1);
  });
  $(".line_del").live("click",function(){
  	var table=$(this).parent().parent().parent();
  	//var len=$(this).parent().parent().parent().parent().find(".line_del").length-1;
	var len=$(this).parent().parent().index()-3;
	$("#line"+len).remove();
  	$(this).parent().parent().remove();
	var sortid=1;
	$("[id^='line']").each(function(){
		$(this).children("td").eq(0).text(sortid+".");
		$(this).attr("id","line"+sortid);
		sortid+=1;
	});
  });
  //保存按钮单击事件
  $(".btn_save2").click(function(){
  	 //短文答题的题干
  	 var questype=$("input[name='ques']:checked").val();//题型
     var complexity=$("input[name='complexity']:checked").val();//题的难度
     var keyword=$("#keyword").val();//关键字
     var source=$("#source").val();//试题来源
     var vcontent=$("#vcontent").val();//听力材料
     var tncontent=ue.getContent();//题干
     var acontent=$("#acontent").val();//解析
     var itemtype=1;
     var grade =[];//定义一个年级数组
     $("input[name='grade']:checked").each(function(){
        grade.push($(this).val()); 
     });
	 //小题情况添加短文答题内容
	 var childcontent=[];//子小题的题干
	 var childanswer=[];//定义答案的数组
	 var childtype=[];//定义类型
	 var childitemflag=[];//定义选项的标记
	 var childitemcontent=[];//定义选项的内容
	 if(questype=='1')//选择小题的情况
	 {
		$(".answer:eq(0)").children("tr").eq(1).children("td").eq(2).children("table").each(function(key,value){
		   var litncontent=$(this).children("tr").eq(1).children("td").eq(1).find("name='textarea2'").eq(0).val();//小题的题干
		   childcontent.push(litncontent);
		   var liitemstype=$(this).children("tr").eq(2).children("td").eq(1).find("input[type='radio']:checked").val();//小题的选项类型
		   childtype.push(liitemstype);
		   var childitemcontenttemp=[];//选项内容
		   var childitemflagtemp=[];//选项
		   var answer="";//答案
		   $(this).children("tr:gt(2)").each(function(key,value){
		      //小题的选项
			  var td=$(this).children("td").eq(1);
			  var itemflag=td.find("input[type='tadio']").val();
			  if (td.find("input[type='tadio']").is("checked")) {
			  	answer = td.find("input[type='tadio']:checked").siblings("input[type='text']").eq(0).val();
			  }
			  childitemcontenttemp.push(itemflag);
			  if(liitemstype=='1'){var itemcontent=td.find("input[type='text']").val();childitemflagtemp.push(itemcontent);}
			  else{var itemcontent=td.find("input[type='button']").attr("bid");childitemflagtemp.push(itemcontent);}
		   });
		   childitemcontent.push(childitemconenttemp.join("@"));
		   childitemflag.push(childitemflagtemp.join("@"));
		   childanswer.push(answer);
		});
	 }else if(questype=='3')//判断小题的情况
	 {
		$(".answer:eq(1)").children("tr").eq(1).children("td").eq(2).children("table").each(function(key,value){
		   var litncontent=$(this).children("tr").eq(1).children("td").eq(1).find("name='textarea2'").eq(0).val();//小题的题干
		   childcontent.push(litncontent);
		   var answer=$(this).children("tr").eq(2).children("td").eq(1).find("input[type='radio']:checked").val();
		   childanswer.push(answer);
		});
	 }else if(questype=='4')//连线小题的情况
	 {
		$(".answer:eq(0)").children("tr").eq(1).children("td").eq(2).children("table").each(function(key,value){
			   var itemtye=$(this).children("tr").eq(1).children("td").eq(1).find("input[type='radio']:checked").eq(0).val();//连线题类型
			   //连线题题干
			   if(itemtype=='1'){
			     $(this).children("tr").eq(3).children("td").gt(1).each(function(){
				   var itemflag=$(this).find("input[type='text']").eq(0).val();
				   childitemflag.push(itemflag);
				   var itemcontent=$(this).find("input[type='text']").eq(1).val();
				   childcontent.push(itemcontent);
				 });
			   }
			   else if(itemtype=='2'){
			      $(this).children("tr").eq(3).children("td").gt(1).each(function(){
				   var itemflag=$(this).find("input[type='text']").eq(0).val();
				   childitemflag.push(itemflag);
				   var itemcontent=$(this).find("input[type='text']").eq(2).attr("bid");
				   childcontent.push(itemcontent);
				 });
			   }
			   //连线题答案
			   var answer=[];
			   $(this).children("tr").eq(5).children("td").gt(1).each(function(){
				   answer.push($(this).find("input[type='text']").eq(0).val());
				 });
			  childanswer.push(answer.join("@"));
		   });
	 }
	 //判断必填项目
//	 if(grade.join(",")==''){art.dialog.tips("请勾选年级");return false;}
//   if(vcontent==''){art.dialog.tips("请填写听力材料");return false;}
//	 if(tncontent==''){art.dialog.tips("请填写题干");return false;}
//	 if(acontent==''){art.dialog.tips("请填写解析");return false;}
//	 if(answer==""){alert(questype);art.dialog.tips("请选择正确答案");return false;}
     $.getJSON("../Exam/add_combine_questions",{ran:Math.random(),classid:'1',gradeid:grade.join(","),questype:questype,complexity:complexity,keyword:keyword,source:source,vcontent:vcontent,tncontent:tncontent,acontent:acontent,childcontent:childcontent.join(","),childitemflag:childitemflag.join(","),childitemcontent:childitemcontent.join(","),childanswer:childanswer.join(","),childtype:childtype.join(",")},function(){
	 	
	 	
	});
  });
}); 
</script>
</body>
</html>
