<include file="Base/header" />
<body>
<div class="container">
<table width="100%"  cellspacing="0" cellpadding="0" class="box_border">
      <tr heigh="100">
        <td width="100" height="30" align="right">省份：</td>
        <td>
          <select name="gradeid" class="select" id="provinceid">
            <volist name="provincearr" id="vo">
                <option value="{$vo.id}">{$vo.title}</option>
            </volist>
          </select>
        </td>
		</tr>
		<tr>
        <td width="100" height="30" align="right" >年级：</td>
        <td>
            <input type="radio" name="levelid" value='88' <if condition="$levelid eq 88">checked='checked'</if>>初中&nbsp;
            <input type="radio" name="levelid" value='89' <if condition="$levelid eq 89">checked='checked'</if>>高中
        </td>
	  </tr>
    <tr>
        <td width="100" height="30" align="right">年份：</td>
        <td align="left">
          <select name="yearid" class="select" id="yearid">
            <volist name="yeararr" id="vo">
                <option value="{$vo.id}">{$vo.title}</option>
            </volist>
          </select>
        </td>
    </tr>
	  <tr>
        <td width="100" height="30" align="right">类型：</td>
        <td>
          <input type="radio" name="typeid" value='91' <if condition="$typeid eq 91">checked='checked'</if>>模拟
          <input type="radio" name="typeid" value='90' <if condition="$typeid eq 90">checked='checked'</if>>真题&nbsp;
        </td>
		</tr>
		<tr>
        <td width="100" height="30" align="right">状态：</td>
        <td>
          <select name="select3" class="select" id="stateid" <if condition="$id eq 0">disabled='disabled'</if>>
            <option value="1">编辑中</option>
            <option value="2">已完成待发</option>
        	  <option value="3">已生成待审</option>
        	  <option value="4">发布完成</option>
          </select>
        </td>
		</tr>
		<tr>
    		<td width="100" height="30" align="right">试卷名称：</td>
        <td align="left">
          <input name="text" type="text" class="input-text lh30" id="exam" value="{$name}">
        </td>
    </tr>
    <tr>
        <td width="100" height="30" align="right">考试时间：</td>
        <td align="left">
          <input name="text" type="text" class="input-text lh30" id="examtime" value="{$examtime}">
        </td>
    </tr>
 </table> 
</div> 
<script type="text/javascript">  
$(function(){ 
  $.ajaxSetup({async:false});
  /**
  初始化年级、学期、版本以及单元和单词
  **/


  $("#provinceid").val("{$provinceid}");
  $("#stateid").val("{$stateid}");
  $("#yearid").val("{$yearid}");
  $("#stateid").change(function(){
     var cur="{$stateid}";
     var curr=$(this).val();
     if(curr-cur>1){
        alert("您每次只能调整一个状态");
        $(this).val(cur);
     }else if(cur<3&&curr==3){
        alert("您手动将状态调整为待发");
        $(this).val(cur);
     }else if(curr==4){
        alert("您已经仔细审核，将试卷发布到平台!")
     }
  });
});
//编辑试题
function editExam()
{
    var provinceid = $("#provinceid").val();
    var levelid=$("input[name='levelid']:checked").val();
    var typeid=$("input[name='typeid']:checked").val();
    var year=$("#yearid").val();
    var stateid=$("#stateid").val();
    var exam=$("#exam").val();
    var examtime=$("#examtime").val();
    var closeflag = false; 
    $.getJSON('../Exam/examTopicEdit',{examtime:examtime,exam:exam,provinceid:provinceid,levelid:levelid,id:{$id},typeid:typeid,yearid:year,stateid:stateid,random:Math.random()},function(data){
          if (data.isadd == 1) {
		    closeflag=true;
		  };
      });
	  return closeflag; 
}
</script> 
</body>
</html>
