<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关键字</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
<script type="text/javascript">
</script>
<body>
	<div class="container">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="box_border">
			<tr>
				<td class="box_top pl_10 f14"><strong>选择拼音</strong></td>
			</tr>
			<tr>
				<td class="p5">
					<form action="wordadd_list.html" method="get">
						<table width="100%" border="0" cellspacing="0" cellpadding="0"
							class="form_table">
							<tr>
							<volist name="data" id="vo">
								<if condition="$vo.flag eq 1">
									<td><input type="checkbox" name="tags" value="{$vo.id}" checked/>{$vo.pinyin}&nbsp;</td>
								<else />
									<td><input type="checkbox" name="tags" value="{$vo.id}" />{$vo.pinyin}&nbsp;</td>
								</if>
							</volist>

							</tr>
						</table>

					</form>
					<div class="h10"></div>
				</td>
			</tr>
		</table>
	</div>

<script>
function tapBox(){

}
</script>
</body>
</html>