<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>应用列表</title>
        <link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/js/manager.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
        <script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script> 
    </head>
    <body>
        <div class="place"><strong>位置</strong>：首页 &gt; 微课应用管理</div>
        <div class="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
                <tr>
                    <td class="box_top pl_10 f14">微课应用列表</td> 
                </tr>
                <tr>
                    <td class="pl_5"><table border="0" cellspacing="0" cellpadding="0" class="form_table">
                            <tr>
                                <td width="50" align="right">学科：</td>
                                <td>
                                    <select name="subjectlist" class="select" id="subjectlist" onchange="getAppList();" >
                                      
                                    </select>
                                </td>
                                <td>
                                    &nbsp;
                                    <input type="button" class="btn btn82 btn_search" value="查询" /></td>
                                <td>
                                    &nbsp;
                                    <input type="button" class="btn btn82 btn_add" value="添加" /></td>
                            </tr>
                        </table>
                    </td> 
                </tr> 
            </table>
            <div class="h10"></div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table" id="table_data">
                <tr>
                    <th width="10" align="center"><input id="all" type="checkbox"/></th>
                    <th width="10">序号</th>
                    <th width="10">ID</th>
                    <th width="50">学科</th>
                    <th width="100">微课应用</th>
                     <th width="100">适配年级</th>
                    <th width="200">操作</th>
                </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="display:none" id="table_demo"> 
                <tr class="tr">
                    <td align="center"><input type="checkbox" class="tras"/></td> 
                    <td><input name="sortid" type="text" class="input-text lh30" size="3" maxlength="2" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="left">
                        &nbsp;&nbsp;
                        <input type="button" class="ext_btn ext_btn_submit appdetail"  value="微课详情" />  &nbsp;&nbsp;
                        <input type="button" class="ext_btn ext_btn_submit appedit"  value="编辑" /> &nbsp;&nbsp;
                        <input type="button" class="ext_btn ext_btn_error appdel"  value="删除" />   &nbsp;&nbsp;     
                    </td>
                </tr>
            </table>
            <div class="h5"></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
                <tr>
                    <td class="pl_10" height="42">
                        <input name="btn_submit" id="btn_edit_sortid" type="button" class="ext_btn ext_btn_submit" value="修改次序" />
                    </td>
                </tr>
            </table> 
        </div>
        <script type="text/javascript">
       var subject_code = "{$subject_code}";
       var admin_subject_code = "{$admin_subject_code}";
            $(function() {
                $.ajaxSetup({async: false});
                $.EBC.setSubject($('#subjectlist'),admin_subject_code);
                $(".tr:odd").css("background", "#F5F8FA");
                $('.tr:odd').live('hover', function(event) {
                    if (event.type == 'mouseenter') {
                        $(this).css("background-color", "#E5EBEE");
                    } else {
                        $(this).css("background-color", "#F5F8FA");
                    }
                });

                $('.tr:even').live('hover', function(event) {
                    if (event.type == 'mouseenter') {
                        $(this).css("background-color", "#E5EBEE");
                    } else {
                        $(this).css("background-color", "#FFF");
                    }
                });
                var dloading = art.dialog({time: 30, title: '加载中……', width: 130, height: 30, opacity: 0.3, lock: true});
                /**
                 初始化年级、学期、版本以及单元和单词
                 **/ 
                getAppList();
                dloading.close();
                /**
                 查询按钮单击事件
                 **/
                $(".btn_search").click(function() {
                    getAppList();
                });
                $(".btn_add").click(function() {
                   var addhref = $(window.parent.frames['leftFrame'].document).find('.appadd').attr('href');
                  // console.log(addhref);
                   var subject_code = $('#subjectlist').val();
                   if(subject_code == 'all'){
                    alert('请选择学科');
                   }
                   else{
                    addhref = '/Elearnmanager/classapp/appadd?subject_code='+subject_code+'&id=0';
                    //$(window.parent.frames['leftFrame'].document).find('.appadd').attr('href',addhref);
                   // $(window.parent.frames['leftFrame'].document).find('.liappadd').click();
                    window.location.href=addhref;
                    //window.
                   }
                });

                $('.appedit').live('click',function(){
                    var id = $(this).attr('bid');
                    window.location.href="/Elearnmanager/classapp/appedit?id="+id;
                   
                });
                $('.appdetail').live('click',function(){
                        var id = $(this).attr('bid');
                       // alert($('#subjectlist').val());
                        var addhref = '/Elearnmanager/classapp/app_course_list?app_id='+id+'&subject_code='+$('#subjectlist').val();
                     
                        window.location.href=addhref;
                        
                });
                $(".appdel").live("click", function() {
                    var tr = $(this).parents("tr");
                    var app_id = $(this).attr("bid");
                    art.dialog.confirm('你确定要删除这个应用吗？', function() {
                        $.get("/Elearnmanager/classapp/app_del", {app_id: app_id,random: Math.random()});
                        tr.remove();
                    });
                });

                /**
                 修改次序单击事件
                 **/
                $("#btn_edit_sortid").click(function()
                {
                   upAppsort();
                });

                //全选
                $("#all").click(function(){
                    if($(this).is(":checked")){
                       $(".tras").attr("checked",true);
                    }else{
                       $(".tras").attr("checked",false);
                    }
                });
                
            });
            
        </script> 
    </body>
</html>
