<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<title>字母乐园</title>
<link href="__PUBLIC__/style/klxzm/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/flowplayer/flowplayer-3.2.11.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/yjt_properties.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ckplayer/ckplayer.js"></script>

</head>

<body>
	<div class="head">
    	<p>
        	<span id="kouxing" class="blue">发音口型</span>
        	<span id="bishun" >书写笔顺</span>
       <!-- 	<span id="pindu">自然拼读</span> -->
        </p>
    </div>
    <div class="section">
    	<div class="center">
        	<div class="left" id="a1">
        	<!--
        		<a href="javascript:void(0);" style="display:block;width:750px;height:416px" id="player"></a>
        	-->

        	</div>
            <div class="right">
            	<ul>
                	<li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Aah264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/A.swf" url_pd="" class="green">Aa</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Bbh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/B.swf" url_pd="" >Bb</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Cch264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/C.swf" url_pd="">Cc</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Ddh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/D.swf" url_pd="">Dd</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Eeh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/E.swf" url_pd="">Ee</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Ffh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/F.swf" url_pd="">Ff</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Ggh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/G.swf" url_pd="">Gg</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Hhh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/H.swf" url_pd="">Hh</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Iih264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/I.swf" url_pd="">Ii</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Jjh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/J.swf" url_pd="">Jj</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Kkh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/K.swf" url_pd="">Kk</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Llh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/L.swf" url_pd="">Ll</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Mmh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/M.swf" url_pd="">Mm</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Nnh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/N.swf" url_pd="">Nn</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Ooh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/O.swf" url_pd="">Oo</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Pph264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/P.swf" url_pd="">Pp</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Qqh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/Q.swf" url_pd="">Qq</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Rrh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/R.swf" url_pd="">Rr</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Ssh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/S.swf" url_pd="">Ss</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Tth264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/T.swf" url_pd="">Tt</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Uuh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/U.swf" url_pd="">Uu</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Vvh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/V.swf" url_pd="">Vv</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Wwh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/W.swf" url_pd="">Ww</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Xxh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/X.swf" url_pd="">Xx</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Yyh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/Y.swf" url_pd="">Yy</a></li>
                    <li><a name="zm" href="javascript:void(0);" url_mp4="/upload_zm/mp4/Zzh264_1920x1080_1800k.mp4" url_bs="/upload_zm/bs/Z.swf" url_pd="">Zz</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
      	    <div class="bottom">
                <div class="blank"></div>
                <h1><span>其他小朋友都在学</span></h1>
                <div class="other">
                    <ul>
                        <li><a href="javascript:void(0);"  onclick="redirectfun(9);"><img src="__PUBLIC__/images/app/yytbl.jpg"></a><span>英语同步练</span></li>
                        <li><a href="javascript:void(0);"  onclick="redirectfun(2);"><img src="__PUBLIC__/images/app/klxpy.jpg"></a> <span>快乐学拼音</span></li>
                        <li><a href="javascript:void(0);"  onclick="redirectfun(4);"><img src="__PUBLIC__/images/app/cycd.jpg"></a><span>成语词典</span></li>
                        <li><a href="javascript:void(0);"  onclick="redirectfun(6);"><img src="__PUBLIC__/images/app/kkxa.jpg"></a><span>可可小爱</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
        	</div>
        </div>
    </div>


<script>
var width=751;
var height=417;
$(function(){
	var id=$('.head').find('span[class="blue"]').attr('id');
	checkRes(id);





	//loadmp4('../upload_zm/mp4/b.mp4');
});

$('#kouxing').click(function(){
	$(this).siblings('span').removeAttr('class');
	$(this).attr('class','blue');
	var tempHtml='<a href="javascript:void(0);style="display:block;width:750px;height:416px" id="player""></a>';
	$('.left').html(tempHtml);
	checkRes('kouxing');
});
$('#bishun').click(function(){
	$(this).siblings('span').removeAttr('class');
	$(this).attr('class','blue');
	checkRes('bishun');
});
$('#pindu').click(function(){
	$(this).siblings('span').removeAttr('class');
	$(this).attr('class','blue');
	checkRes('pindu');
});

$('a[name="zm"]').live('click',function(){
	$(this).parent('li').siblings().children('a').removeAttr('class');
	$(this).attr('class','green');
	var id=$('.head').find('span[class="blue"]').attr('id');
	checkRes(id);
});



function checkRes(id){
	if(id=='kouxing'){
		//发音口型
		var url_mp4=$('.right').find('a[class="green"]').attr('url_mp4');
		//loadmp4('../../uploadklx/klxzm/'+url_mp4);
		load('__RESOURCE__/uploadklx/klxzm/'+url_mp4);
	}else if(id='bishun'){
		//书写笔顺
		var url_bs=$('.right').find('a[class="green"]').attr('url_bs');
		var tempHtml='<iframe src="playswf.html?url='+url_bs+'" style="border:none;" width="'+width+'" height="'+height+'"  frameboder="0"  border="0" id="playFlashIframe" scrolling="no"></iframe>';
		$('.left').html(tempHtml);
	}else{
		//自然拼读
		var url_pd=$('.right').find('a[class="green"]').attr('url_pd');
	}
}
function loadmp4(url){
	flowplayer("player", "__PUBLIC__/js/flowplayer/flowplayer.commercial-3.2.14-0.swf", {
		clip: {
			autoPlay: true,
			provider: 'pseudostreaming',
			urlResolvers: 'brselect',
			bitrates: [{
				url: encodeURIComponent(url),
				bitrate: 300,
				isDefault: true,
				label: "300 k"
			}]
		},
		screen: {
			height: 518
		},
		plugins: {
			menu: {

				url: "__PUBLIC__/js/flowplayer/flowplayer.menu-3.2.11.swf",
				items: [{
					label: "选择码率:",
					enabled: true
				}]
			},
			brselect: {
				url: "__PUBLIC__/js/flowplayer/flowplayer.bitrateselect-3.2.13.swf",

				menu: true,

				onStreamSwitchBegin: function(newItem, currentItem){
					$f().getPlugin('content').setHtml("Will switch to: " + newItem.streamName +
					" from " +
					currentItem.streamName);
				},
				onStreamSwitch: function(newItem){
					$f().getPlugin('content').setHtml("Switched to: " + newItem.streamName);
				}
			},
			pseudostreaming: {
				url: "__PUBLIC__/js/flowplayer/flowplayer.pseudostreaming-3.2.11.swf"
			},
			content: {
				/*url: "http://releases.flowplayer.org/swf/flowplayer.content-3.2.8.swf",*/
				url: "__PUBLIC__/js/flowplayer/flowplayer.content-3.2.8.swf",
				top: 0,
				left: 0,
				width: 400,
				height: 150,
				backgroundColor: 'transparent',
				backgroundGradient: 'none',
				border: 0,
				textDecoration: 'outline',
				style: {
					body: {
						fontSize: 14,
						fontFamily: 'Arial',
						textAlign: 'center',
						color: '#ffffff'
					//color: '#000000'
					}
				}
			},
			 onFullscreen : function() {
                // 如果全屏自适应的话，由于 flash 处理的延迟，会造成退出全屏是画面位置不正确
                // 为了保证正确，可以隔大约 1 秒后调用 animate 函数

                animate(this, {
                    height : screen.height,
                    width : screen.width
                })

            },
			controls: {
				tooltips: {
					buttons: true,
					fullscreen: '\u5168\u5C4F',
					fullscreenExit: '\u9000\u51FA\u5168\u5C4F',
					mute: '\u9759\u97F3',
					unmute: '\u53D6\u6D88\u9759\u97F3',
					stop: '\u505C\u6B62',
					play: '\u5F00\u59CB',
					volume: '\u97F3\u91CF',
					next: '\u4E0B\u4E00\u4E2A',
					previous: '\u4E0A\u4E00\u4E2A',
					pause: '\u6682\u505C'
				}
			}
		}
	});
}


function load(url){
	var flashvars={        f:url,        c:0   };
	var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
	var video=[url];
 	CKobject.embed('__PUBLIC__/js/ckplayer/ckplayer.swf','a1','ckplayer_a1','100%','100%',false,flashvars,video,params);
}
</script>
</body>
</html>
