<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="wap-font-scale" content="no">
        <meta charset="UTF-8">
        <title>英语同步练</title>
         <link rel="stylesheet" href="__SUBJECT__/css/currency.css" />
        <link rel="stylesheet" href="__SUBJECT__/font/fonts.css" />
        <link rel="stylesheet" href="__SUBJECT__/css/iscroll.css" />
        <link rel="stylesheet" href="__PUBLIC__/css/layer.css" />
        <script type="text/javascript" src="__PUBLIC__/js/require.js" ></script>
        <style>
            #wrapper {top: 80px; bottom: 40px;}
        </style>
    </head>
    <body >
        <main>
            <header class="head border-nav">
                <a class="head-left"><i class="icon-back"></i>返回</a>
                <!-- <a class="head-right">生词本</a> -->
                <h1 class="title">测试结果</h1>
            </header>
            <div class="topH4">
                <span class="fl"><i class="icon-clock icon-l"></i>总用时：<font id="timer">0秒</font></span>
            </div>       
            <section>
                <div id="wrapper">
                    <div id="scroller">
                        <section class="tips bLine">
                            <p><img id="resimg" src="" height="100px" width="100px"></p>
                            <p class="txt" id="result"></p>
                        </section>
                         <section class="tips bLine" id="errorword" style="display:none;">
                            <h3 class="pad10 bGray">本次练习错误单词</h3>
                            <ul class="listTxt">
                                
                            </ul>
                        </section>
                    </div><!--end scroller-->
                </div><!--end wrapper-->
                <div class="courseBtn" style="line-height: normal;">
                    <!--<a class="fenT" href="javascript:;" >查看解析</a>-->
                    <a class="fenT btn" id="test" href="javascript:void(0);" style="width:100%">测试完成</a>
                </div>
                <div id="tips"></div>
            </section>
        </main> 
    </body>
    <script type="text/javascript">
    var storage=window.localStorage;

    //添加数据
    var errorarr=[];
    var rightarr=[];
    var arr=[];
    var arrids=[];
    var ratenum=0;
    require.config({
    　paths: {
　　　　　　"learnword": "__SUBJECT__/js/learnword",
            "iscroll":"__PUBLIC__/js/iscroll-lite",
　　　　},
        waitSeconds: 0
    });
    require(["learnword","iscroll"], function(learnword,IScroll){
        if(!window.localStorage){
            setTip("您的手机不支持预览功能");
            return false;
        }
        $("#result").hide();
        var Requests = new Object();
        Requests = GetRequest();
        //设置时间
        var setTimeValue=window.localStorage.getItem("jp_timer");
        $("#timer").html(Math.floor(parseInt(setTimeValue)/60)+"分"+(parseInt(setTimeValue)%60)+"秒");
        //滑动问题
        new IScroll("#wrapper",{
            momentum:true,
            click:true 
        });
        perface();
        
        //var Requests = new Object();
        //Requests = GetRequest();
        //正确率
        var rate=window.localStorage.getItem("jp_recite_rate");

        //将正确率进行展示
        if(rate==null){
            $("#result").text("恭喜你本次测试完美过关！正确率100%");
            $("#resimg").attr("src","__SUBJECT__/images/trophy.png");
            
        }else{
            rate=rate.replace(/%/, "");
            rate=parseFloat(rate);
           //进行不同成绩的对应的结果的展示
           if(rate<=60){
                $("#result").text("成绩不太理想，需要加油了哟！正确率"+String(rate)+"%");
                $("#resimg").attr("src","__SUBJECT__/images/trophy4.png");
                $("#errorword").show();
           }else if(rate>60&&rate<=85){
                $("#result").text("成绩有进步，仍需努力哟！正确率"+String(rate)+"%");
                $("#resimg").attr("src","__SUBJECT__/images/trophy3.png");
                $("#errorword").show();
           }else if(rate>85&&rate<=99){
                $("#result").text("恭喜你取得佳绩，继续加油呀！正确率"+String(rate)+"%");
                $("#resimg").attr("src","__SUBJECT__/images/trophy2.png");
                $("#errorword").show();
           }else{
                $("#result").text("恭喜你本次测试完美过关！正确率100%");
                $("#resimg").attr("src","__SUBJECT__/images/trophy1.png");
           }
           
           //$("#rate").text(rate); 
       }
       $("#result").show();

        
        //单词列表
        var reciteword=window.localStorage.getItem("jp_recite");
        reciteword=decodeURI(reciteword);
        reciteword = eval("("+reciteword+")");
        //进行单词的展示
        var wordlist="";
        $.each(reciteword,function(k,v){
            wordlist=wordlist+"<li>"+v+"</li>";
        })
        $(".listTxt").html(wordlist);
        $("#wrapper").resize();
        //返回按钮的事件
        $(".head-left").click(function(){
            window.location.href=decodeURIComponent(Requests["callBackUrl"]);
        })

        //生词本跳转
        // $(".head-right").click(function(){
        //     window.location.href="../User/vocabulary?callBackUrl=Word/reciteresult&ks_code="+Requests["ks_code"]+"&moduleid="+Requests["moduleid"]+"&ks_short_name="+Requests["ks_short_name"];
        // })

        //重新测试再来一次的事件
        $(".courseBtn").click(function(){
            window.location.href=decodeURIComponent(Requests["callBackUrl"]);
        })



        // layer.open({
        //   type: 1
        //   ,content: '<section><a class="btn" style="display: block;color: #fff;font-size: 21px;background-color: #00bdc7;border-radius: 5px;"><i class="icon-query-builder"></i>再来一次</a></section><section><a class="btn" style="display: block;color: #fff;font-size: 21px;background-color: #00bdc7;border-radius: 5px;"><i class="icon-query-builder"></i></a></section><section><a class="btn" style="display: block;color: #fff;font-size: 21px;background-color: #00bdc7;border-radius: 5px;"><i class="icon-query-builder"></i>再来一次</a></section>'
        //   ,anim: 'up'
        //   ,style: 'position:fixed; bottom:0; left:0; width: 100%; height: 200px; padding:10px 0; border:none;'
        // });
    });
    </script>
</body>
</html>