@charset "gb2312";
/* CSS Document */
body, .container {  background: #fcfcfc;}
.head02 {  position: relative;  /* height: 40px; */  font: 1.0em/25px "microsoft yahei";  margin-top: 45px;  background: #EEEEEE;  color: #666;
  /* overflow: hidden; */  padding: 7px 10px;}
  .cpbg_d,.cpbg_z {padding: 0;}
.cpbg_d h2,.cpbg_z h2 {  background: #fff;  height: 40px;  line-height: 40px;  padding: 10px;/*  margin-bottom: 20px; */ border-bottom: solid 1px #efefef;  overflow: hidden; position: relative;}
.cpbg_d h2 strong,.cpbg_z h2 strong {color: #999; font-size: 0.8em;}
.cpbg_d h2 span.right,.cpbg_z h2 span.right {/*width: 150px; */position: absolute; right: 10px; text-align: right;line-height: 40px; font-size: 0.8em; color: #666;}
.cpbg_d h2 span.right i,.cpbg_z h2 span.right i{margin: 0 5px;}
i.dt-wzd,i.dt-yzd {display: inline-block; padding: 5px; vertical-align: text-top;  /*display:block; height: 10px; width: 10px; float: left;*/ border: solid 1px #999; line-height: 40px; margin-right: 5px; margin-left: 10px;}
i.dt-yzd {background: #159ed2;}
i.dt-zq,i.dt-cw,i.dt-bd,i.dt-dp,i.dt-bl{display: inline-block; padding: 5px; vertical-align: text-top;  /*display:block; height: 10px; width: 10px; float: left; border: solid 1px #999;*/ line-height: 40px; margin-right: 5px;}
.cpbg_d h3 { font-size:20px; line-height:30px; }
.cpbg_d ul {width:100%;}
.cpbg_d ul li {width:20%; float:left; height:50px;}
.cpbg_d ul li a { display:block; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; width:40px; height:40px; margin:auto; color:#fff; font-size:20px; line-height:40px; text-align:center; }
a.ball_l {  background: #159ed2;}
a.ball_r {background:#F00;}
a.ball_g {background:#16b334;}
a.ball_b {background:#999;}
a.ball_k {background:#fff; border:solid 1px #ccc; color:#666!important; width:38px!important; height:38px!important; line-height:38px!important;}
a.ball_l {background:#159ed2;}
.lyl_ti {  position: relative;  height: 40px;  font: 1.0em/40px "microsoft yahei";  width: 100%;  margin-top: 44px; margin-bottom: 0; background: #EEEEEE;  color: #666;  overflow: hidden;}
.lyl_ti h3, .lyl_da h3{margin: 0 80px 0 10px;  display: block; overflow: hidden;  color: #333; padding-left: 0;}
.lyl_ti span.fright strong  {color: #45ba87;  font-size: 1.4em;}
.lyl_ti span.fright {}
span.fright {width: auto; max-width: 80px; right: 10px; position: absolute;}
.lyl_da {width:inherit; width: 100% \0; clear:both; padding-bottom: 10px;}
.lyl_da a ,.lyl_da a:hover ,.lyl_da a:visited {display:block; padding-left:0.4em; line-height:35px; margin-bottom:10px; font-size:18px;}
.lyl_da a span {color:#159ed2; font-size:22px;text-align:center; display:block; width:35px; height:35px; line-height:35px; float:left; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; }
.lyl_da a span.on {color:#FFF; background:#159ed2;}
.lyl_da a b {display:block; padding-left:50px; padding-right:10px;}
.lyl_da h3 a.red {display:block; border:solid 1px #efefef; margin-right:10px; color:#F00;}
.zy-st {padding: 10px; font:0.8em/2em "microsoft yahei"; text-indent: 30px; color: #666;}
.zy-st P {color: #666;}
.zy-st p strong {color:#45ba87;}
.fx_xuan {width:80%; margin:50px auto 0;}
.fx_xuan span {width:25%; display:block; float:left; margin-bottom:20px;}
.fx_xuan a {color:#159ed2; font-size:22px;text-align:center; display:block; width:40px; height:40px; line-height:40px; float:left; border-radius:30px;  -moz-border-radius:30px; -webkit-border-radius:30px; border:solid 1px #ccc; margin:0 auto;}
.fx_xuan a.on {color:#FFF; background:#159ed2; border:0;}
.tb_jie {background:#fbfbfb; border: solid 1px #efefef; line-height:30px; margin:30px 0; padding:10px 20px; color:#666; }
.font_green { color:#16b334;; padding:0 10px; font-weight:bold;}
.font_red {color:#F00; padding:0 10px; font-weight:bold;}
.tb_jie ul {line-height:30px; margin-bottom:20px; padding-left:10px;}
.cpbg_d.ml70 {margin-top:50px;} 
.cpbg_d {background:#fcfcfc; padding: 0;}
.cpbg_d h1 {background:#fff; height:40px; line-height:40px; padding:10px; margin-bottom:20px; border:solid 1px #ccc; overflow: hidden;}
a.btn_blu.mb {height:40px; line-height:40px; position:fixed; bottom:0px; width:100%; cursor:pointer;}
a.edi-xuan {  color: #666;  font: 0.8em/2em "microsoft yahei";  margin-bottom: 10px;  position: relative; display: block;}
a.edi-xuan ,a.edi-xuan:visited {color: #666;}
a.edi-xuan i {  display: block;  position: absolute;  float: left; width: 25px;  height: 25px;  background: #efefef;  text-align: center;  line-height: 25px;  font-style: normal;  -webkit-border-radius: 20px;  border-radius: 20px;  color: #505050;}
a.edi-xuan-fx {  color: #666;  font: 0.8em/2em "microsoft yahei";  margin-bottom: 10px;  position: relative; display: block;}
a.edi-xuan-fx ,a.edi-xuan-fx:visited {color: #666;}
a.edi-xuan-fx i {  display: block;  position: absolute;  float: left; width: 25px;  height: 25px;  background: #efefef;  text-align: center;  line-height: 25px;  font-style: normal;  color: #505050;}

a.edi-xuan.on i,a.edi-xuan-fx.on i{ background: #22c972;  color: #fff;}
a.edi-xuan span,a.edi-xuan-fx span { margin-left: 30px;  display: block;}
a.edi-xuand i{  color: #888;  font-size: 22px;  font-style: normal;  text-align: center;  display: block;  width: 40px;  height: 40px;  line-height: 40px;  /* float: left; */  border-radius: 30px;  -moz-border-radius: 30px;  -webkit-border-radius: 30px; background: #efefef;  margin: 0 auto;}
a.edi-xuand.on i,a.edi-xuand-fx.on i {  color: #FFF;  background: #22c972;  border: 0;}
.fx_xuan span, .fx_xuan02 span {  width: 25%;  display: block;  float: left;  margin-bottom: 20px;}
a.edi-xuand-fx i {  color: #888;  font-size: 22px;  font-style: normal;  text-align: center;  display: block;  width: 40px;  height: 40px;  line-height: 40px;  /* float: left; */background: #efefef; margin: 0 auto;}
a.edi-xuand.cuo i,a.edi-xuand-fx.cuo i,a.edi-xuan.cuo i,a.edi-xuan-fx.cuo i{ color: #FFF;  background: #f25858;  border: 0;}
.tcenter {text-align: center;}
.xiangj {margin-top: 10px; margin-bottom: 10px;}
  a.edi-btn,a.edi-btn:hover{font-size: 14px;  font-weight: 400;  line-height: 1.42;  position: relative;  display: inline-block;  margin-bottom: 0;  padding: 6px 12px;  cursor: pointer;  -webkit-transition: all;  transition: all;
  -webkit-transition-timing-function: linear;  transition-timing-function: linear;  -webkit-transition-duration: .2s;  transition-duration: .2s;  text-align: center;
  vertical-align: top;  white-space: nowrap;  color: #333;  border: 1px solid #ccc;  border-radius: 3px;  border-top-left-radius: 3px;  border-top-right-radius: 3px;  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;  background-color: #fff;  background-clip: padding-box;}
a.edi-btn-yellow,a.edi-btn-yellow:hover {  color: #fff;  border: 1px solid #f0ad4e;  background-color: #f0ad4e;}
a.edi-btn-red,a.edi-btn-red:hover {  color: #fff;  border: 1px solid #dd524d;  background-color: #dd524d;}
.ddel2 {  position: fixed;  bottom: 0px;  z-index: 109;  left: 0px;  width: 100%;  height: 35px;/*  background: #159edc;*/background: #efefef; box-shadow: 2px 2px 2px 3px #ddd;}
.ddel2 a { /* color: #fff; */ border-right: solid 1px #fff;color: #666; font-size: 14px;  width: 49%;  text-align: center;  cursor: pointer;/*  font-weight: bold;*/ line-height: 35px; text-align: center;}
.ddel a.no, .ddel2 a.no {  color: #999;  cursor: text;}
.ddel2 a.last {  float: left;  line-height: 35px; }
.ddel2 a.next {  float: right;  line-height: 35px;}
.ddel2 a:last-child {border: 0;}
.ddel2.fen3 a {width: 33%;}
/*input*/
.dw10 {margin: 0 10px;}
.dw10 ul {display: block; width: 100%;}
.wh50 { height: 90px; margin: 0 auto; display: block; width: 100%; padding: 0;}
.ti-sctup {border-top: solid 1px #ccc; padding: 10px;}
.ti-sctup p span  {position: relative; display:inline-block; margin-right:20px; }
.ti-sctup p span b {position: absolute; top: -5px; right: -5px; width: 20px; height: 20px; background:url(../images/del.png) no-repeat;}
.ti-sctup p span b:hover {background-position:0 -20px;}
.ti-sctup p span img {width: 60px;}
.ti-sctup.nr {border:solid 1px #e4e4e4; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-bottom:10px;}
.edi-btn-pai {/*background: #ccc;*/ vertical-align: middle; margin: 0 5px; padding: 5px 10px; display: inline-block; color:#dd524d;/* border:solid 1px #ccc; */ border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.edi-btn-pai i {font-size: 2.2em;}
.edi-btn-pai01 {/*background: #ccc;*/ vertical-align: middle; display: inline-block; color:rgb(95, 160, 118);/* border:solid 1px #ccc; */ border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.edi-btn-pai01 i {font-size: 2em;}
@media only screen and (min-width: 321px) {
	.edi-btn-pai01{margin-left: 20px;}
}
.pztup{margin-bottom: 10px; text-align: center;}
.pztup a:first-child {color:rgb(95, 160, 118);}
.pztup a:nth-child(2){color: #dd524d;/* border:solid 1px #ccc; background: #fafafa;*/}
.pztup a:last-child {color:rgb(95, 160, 118);}
/*zytop*/
.zy-top {/*  height: 100px; */ width: 100%;  background: #3cb0e0;  color: #fff; position: fixed; top: 44px; left: 0; z-index: 99;}
.zy-top h1 {line-height: 20px; height: 20px; overflow: hidden; text-align: center;}
.zy-top span {  line-height: 80px;  text-align: center;  font-size: 1.8em;  display: block;}
.zy-top h2 {  line-height: 20px;  font-size: 0.8em;  font-weight: normal;  padding: 0 20px;  overflow: hidden;  height: 20px;  text-align: center;}
.zy-top02 { /* height: 100px; */ width: 100%; /* background: #3cb0e0;  color: #fff;*/ background:#fff; border-bottom: solid 4px #efefef; border-top:solid 3px #efefef; padding: 5px 0; color: #666;}
.zy-top02 span {  line-height: 20px;  text-align: center;  font-size: 1.2em;  display: block; padding: 5px 0; color: #666;}
.zy-top02 h2 {  line-height: 20px;  font-size: 0.8em;  font-weight: normal;  padding: 0 20px;  overflow: hidden; color: #999; height: 20px;  text-align: center;}
.edi-bt01 {  height: 40px;  color: #666;  line-height: 40px;  padding: 0 10px;  overflow: hidden;  font-size: 1.0em;  border-bottom: dashed 1px #dfdfdf; margin-bottom: 10px;}
.edi-bt01 span {float: right; color: #999; font-size: 0.8em;}

/*photo*/
.lyl_ti h5{  margin: 0 80px 0 10px;  display: block;  overflow: hidden;  color: #333; line-height: 40px; font-size: 0.8em;}
.lyl_ti h5 i {vertical-align:middle; margin:-3px 5px 0 5px;}
i.dt-zq {background: #22c972;}
i.dt-bl {background: #49D1CA;}
i.dt-cw {background: #f25858;}
i.dt-bd {background: #f0ad4e;}
i.dt-dp {background: #ccc;}
.photo {}
.bor-name {border:solid 1px #f25858; position: relative; line-height: 30px;    display: block;  height: 30px;   overflow: hidden;   width: 50px; display: inline-block; font-size: 0.8em; color: #f25858; padding: 0 10px; margin-bottom: 10px;}
.bor-name.bd{border-color: orange; color: orange;}
.bor-name.zq{border-color: #22c972; color: #22c972;}
.bor-name.dp{border-color: #999; color: #999;}
.bor-name span {display: block;    width: 0;    height: 0;    border-left: 5px solid transparent;    border-right: 5px solid transparent;    border-top: 5px solid red; position: absolute; top: 30px; left:calc(50% - 3px);}
.bor-name.dp span{border-top: 5px solid #999;}
.bor-name.zq span{border-top: 5px solid #22c972;}
.bor-name.bd span{border-top: 5px solid orange;}
.photo img.tup {width: 100%;}
.panduan {margin-bottom: 30px; text-align: center; position: relative;}
.panduan > a {display: inline-block; padding: 0; background: url(../images/pan.png) no-repeat 3px -2px ; margin: 0 10px; background-color: #F25858; width: 40px; height: 40px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}
.panduan a.pan-cuo {background-position:  3px 0px ; background-color: #f25858;}
.panduan a.pan-bd {background-position: -38px 0px; background-color: #f0ad4e;}
.panduan a.pan-dui {background-position: -80px 0px; background-color: #22c972;}
.panduan .bandui {position: absolute;bottom: 60px; width: 100%; text-align: center; z-index: 5;  background: #fffeeb; padding: 5px;}

.panduan .bandui a { width: 40px; height: 40px;vertical-align: middle; margin: 0 10px;color: #f0ad4e; display: inline-block; line-height: 40px; color: #999; font-size: 1.2em; background: #fffeeb; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;  border: solid 1px #ffbf81;}
.panduan.gding{margin-bottom: 0;/* position: absolute; bottom: 0;*/}
.pra-bottom {position: absolute; bottom: 0; width: 100%;}
.panduan .bandui a.btn-zdy {font-size: 14px; line-height: 30px;  -webkit-border-radius:0px; -moz-border-radius:0px; border-radius: 0; width: 60px; height: 30px;background:#f0ad4e; color: #fff;}
.ding-zd input {width: 50px; text-align: center; color:orangered; border:solid 1px #ddd; float: left;}
.ding-zd button {width: 20px;text-align: center; height: 20px; vertical-align: middle;}

.ball_gre {background: #22c972;}
.ball_blu {background: #49D1CA;}
.ball_red {background: #f25858;}
.ball_org {background: #f0ad4e;}
.ball_gra{background: #bbb;}


/*dzjc*/
.dzjc {background:#9aa0ae; text-align: center; vertical-align:middle; position: relative; min-height: 200px;}
.dzjc span.cy {background: #000; color: #fff; opacity:0.5;position: absolute; bottom: 10px; right: 10px; font-size: 10px; padding: 5px;}
.dzjc span.cy i {vertical-align:text-bottom; margin-right: 5px;}
.dzjc span.jc-bt {display: inline-block; background:#3cb0e0; color: #fff;padding: 5px 10px;position: absolute; top: 10px; left: 10px;}
.anns {width: 25px;}
.head01{ position: relative; height: 40px; font: 1.0em/40px "microsoft yahei"; width: 100%; margin-top: 45px; background: #EEEEEE; color: #666; overflow: hidden;}
.head01 i {position: absolute; top: 14px; left: 10px; color: #159edc;}
.head01 span {display: block; padding: 0 10px; overflow: hidden; color: #333;}

/*liebiao*/
.lie_ctb {margin-top: 44px;}
li.ctb {padding:5px 10px; border-bottom: solid 1px #ccc; position: relative; padding:5px 10px; border-bottom: solid 1px #ccc; position: relative;}
li.ctb img.lie_left {width: 50px; height: 50px; position: absolute; top: 5px;}
li.ctb img.lie_right {position: absolute; top: 16px; right: 10px;}
li.ctb .lie_left{width: 50px; height: 50px; position: absolute; top: 5px; font-size: 2em; line-height: 60px; vertical-align: middle; text-align: center;}
li.ctb .lie_left i.icon-ico-xk-yw,li.ctb .lie_left i.icon-ico-xk-qt { color:rgb(246, 179, 64);}
li.ctb .lie_left i.icon-ico-xk-sx,li.ctb .lie_left i.icon-ico-xk-tyjk { color:#86BB5A;}
li.ctb .lie_left i.icon-ico-xk-yy,li.ctb .lie_left i.icon-ico-xk-yin01 ,li.ctb .lie_left i.icon-ico-xk-kx01 { color:rgb(87, 208, 192);}
li.ctb .lie_left i.icon-ico-xk-wl,li.ctb .lie_left i.icon-ico-xk-kx,li.ctb .lie_left i.icon-ico-xk-ms{ color:rgb(141, 129, 201);}
li.ctb .lie_left i.icon-ico-xk-hx,li.ctb .lie_left i.icon-ico-xk-ys { color:rgb(235, 150, 232);}
li.ctb .lie_left i.icon-ico-xk-sw,li.ctb .lie_left i.icon-ico-xk-zz,li.ctb .lie_left i.icon-ico-xk-de  { color:rgb(255, 99, 99);}
li.ctb .lie_left i.icon-ico-dl { color:rgb(87, 208, 192);}
li.ctb .lie_left i.icon-ico-xk-ls,li.ctb .lie_left i.icon-ico-xk-tyjs { color:#BFB364;}
li.ctb .lie_middle {margin: 0 30px 0 60px; font: 16px/30px "microsoft yahei";}
li.ctb .lie_middle p {font:12px/20px "microsoft yahei"; color: #999; height: 20px; overflow: hidden;}
.t_left{  position:relative; float:left; width:70px;}
.t_left img{ height:60px; margin-top:10px; }
.t_left span{ position:absolute; bottom:0px; left:0px; display:block; width:60px; height:20px; font:normal 13px/20px "寰蒋闆呴粦"; text-align:center; background:#db783d; color:#fff; border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
.t_right { margin-left:10px;  padding:20px 0px 10px; color:#555;  overflow: hidden;}
.t_right h2{  line-height:20px; display:block; height:25px;  }

.t_right p{ font-size:13px; color:#939393; line-height: 20px; height: 20px; overflow: hidden;}
.t_right p span{ margin-right:10px;}
h3.zy-bt {color: #333;  font-weight: normal; text-indent: 10px; line-height: 40px; height: 40px; overflow: hidden; font-family: "microsoft yahei"; background: #efefef;}

/*newxuan*/
.edi-head02 {height: 40px; line-height: 40px;background: #fff; position: relative; border-bottom:  solid 1px #efefef;/* margin: 5px; border-radius: 5px; -webkit-border-radius:5px;*/}
.edi-head02 .hd02-left {margin-right: 120px; display: block; margin-left: 10px; color: #666;}
.edi-head02 .hd02-left strong {color:#4ebea2; margin-right: 5px; font-weight: normal;}
.edi-head02 .hd02-right {position: absolute; right: 0px; top: 0; font-size: 12px; color:#999;}
.edi-head02 .hd02-right i{margin-right: 10px; margin-left: 5px;}
.edi-qiezz {position: relative;}
.edi-qiezz a.qie-ze {display: block; color: #999;}
.wrapper01 {position:absolute; z-index: 1000; background: #eee; width: 100%; right: 0; text-align: center; color: #666; top: 120px; overflow-y: auto;}
.wrapper01 ul li {/*border-bottom: solid 1px #ccc; */height: 40px; line-height: 40px;}
.wrapper01 ul li.on {color: #4ebea2;}
.wrapper01 {height: auto;}

/*lxbg*/
.cpbg_z h3 { font-size:20px; line-height:30px; }
.cpbg_z ul {width:100%;}
.cpbg_z ul li {width:20%; float:left; height:50px;}
.cpbg_z ul li a { display:block; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; padding: 5px; width:40px; height:40px; margin:auto; color:#fff; font-size:20px; line-height:25px; text-align:center; }
.cpbg_z ul li a span {display:block; line-height: 15px; font-size: 12px;}
.mt0 {margin-top: 0!important;}
.lyl_ti.zt02 {background: #fff; border-top:solid 3px #efefef;}
.name-h a,.box-name a{margin-right: 10px;}
.box-name {padding-left:10px;text-align: center;}
.box-name span { display:block; width: 25%; float: left; text-align: center;}
a.textBox{padding: 10px; height: 50px; line-height: 25px; color: #999; display: block; width: auto;}

/*yuxi*/
.jiance {width: 33%; float: left;}
.jiance span {display: block; margin: 0 10px;}
.jiance span img {width:70px; margin: 0 auto; display: block;}
.jiance span b {font-size: 10px; line-height: 20px; color: #999; display: block; height: 20px; text-align: center; overflow: hidden;}
a.btn02,a.btn02:hover {display:block; background: orange; color: #fff; font-size: 12px; text-align: center; padding:0 5px; line-height: 20px!important;}
a.btn02.green,a.btn02.green:hover {background: rgb(88,183,82);}
.fen-top {height: 60px; padding: 15px 0;}
.fen-top ul li {width: 50%; float: left;text-indent: 10px;}
.fen-top ul li label {display: block; line-height: 25px; font-size: 0.8em;}

/*teacher*/
h3.ytj {position: relative; height: 30px; line-height: 30px; background: #fff; border-bottom: solid 2px #efefef;  font: 1.0em/30px "microsoft yahei";}
h3.ytj .tj_l {margin-right: 30px; text-indent: 10px;}
h3.ytj .tj_l strong{  color: #45ba87;  font-size: 1.4em;}
h3.ytj .tj_r {position: absolute; top: 0 ; right: 0;}
ul.xx-st li{ font:1em/2em "microsoft yahei"; text-indent: 0px; color: #666;}
ul.xx-st li.on{color:#45ba87;}
ul.da_fx li {position: relative; height: 30px; line-height: 30px; background: #fff; color: #666; border-bottom: solid 1px #efefef;  font:0.8em/30px "microsoft yahei";}
ul.da_fx li .tj_l {margin-right: 30px; text-indent: 10px;}
ul.da_fx li.on{  color: #45ba87;}
ul.da_fx li .tj_r {position: absolute; top: 0 ; right: 0;}
.bg_ef {background: #fcfcfc;}
/*tup fen*/
.da_tup {width: 200px; margin-left: 10%;}
.da_tup span{ width: 100%;height: 200px;}
.da_tup.fen4 span {width: 95px; float: left; margin-bottom: 5px; height: 95px;}
.da_tup.fen4 span:nth-child(odd){margin-right:5px;}
.da_tup.fen4 span img {display: block;width: 100%;}

/*zy*/
.qie_b { width:100%;}
.qie_b ul {height:40px; width:100%;}
.qie_b ul li {float:left; width:33%; height:38px; text-align:center; line-height:38px; position: relative;}
.qie_b ul li.on {border-bottom:solid 2px #F00; color:#c10000;}

/**/
.bor_g {width:100%; height:38px; border:0px solid #e4e4e4; line-height:38px;}
span.select {float:left; position:relative; z-index:9; width:100%;}
a.arr {/* width:100%;*/ display:block; border:1px solid #e4e4e4; padding-left:15px; text-decoration:none;}
a.arr2 { width:73px; height:38px; line-height:38px; overflow:hidden; display:inline-block; border:1px solid #e4e4e4; padding-left:10px; padding-right:15px; font-size:15px; color:#555; text-decoration:none;}
a.arr.arr_d,a.arr2.arr_d {background:#fff url(../images/arr_dd.png) no-repeat right;}
a.arr.arr_u,a.arr2.arr_u {background:#fff url(../images/arr_u.png) no-repeat right ;}
a.arr:hover,a.arr2:hover {background-color:#fafafa; text-decoration:none;}

.drop {width:100%; background:#fff; border:1px solid #e4e4e4; position:absolute; left:-1px; top:38px;}
.ssdisplay { display:none;}
.dddisplay {display:block;}
.drop.w98 {width:98px;}
.drop.w200 {width:206px; left:-108px;}
.drop a,.drop a:visited { color:#555; height:38px; line-height:38px; overflow:hidden; display:block; border-bottom:1px solid #f2f2f2; text-align:center; letter-spacing:2px; font-size:15px; text-decoration:none;}
.drop.w200 a,.drop.w200 a:visited {font-size:14px; padding:0 10px; letter-spacing:0;}
.drop a:last-child {border:none;}
.drop a:hover {background-color:#fafafa; text-decoration:none;}
.drop i{ display:block; width:20%; text-align:center; height:38px; float:right; line-height:38px; color:#159edc; border-bottom:solid 1px #efefef;}
.la_title{ position:fixed; top:0px; height:75px; width:100%; background:#fff; z-index:100;}
.la_title p{ font:normal 14px/40px  Microsoft YaHei; height:35px; color:#555; text-align:center; background-color:#fafafa;}
/*lzbox*/
/*.lizz_box ,.lize_box ,.lizt_box ,.lizd_box { width:300px; height:auto; background:#97d4f9; position:fixed;z-index:888; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }*/
.lizz_box ,.lize_box ,.lizt_box ,.lizd_box { width:300px; height:auto; background:#97d4f9; position:absolute; top:20px;z-index:888; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; left:20%; }
.lizz_box h1 ,.lize_box h1 ,.lizt_box h1 ,.lizd_box h1 {height:40px; line-height:40px; font-size:16px; color:#333; text-indent:10px;}
.lizz_box h1 a ,.lize_box h1 a ,.lizd_box h1 a ,.lizt_box h1 a {width:20px; display:block; float:right; height:20px; text-indent:0;}
.lizz_box ul ,.lizd_box ul ,.lizt_box ul ,.lize_box ul {width:280px; margin:0 10px 10px 10px; background:#fff;}
.lizz_box ul li ,.lizd_box ul li ,.lizt_box ul li ,.lize_box ul li {height:40px; line-height:40px; font-size:14px; color:#666; border-bottom:solid 1px #efefef; text-indent:10px;}
.lizz_box ul li a ,.lize_box ul li a ,.lizd_box ul li a ,.lizt_box ul li a {width:240px; float:right;}
.lizz_box ul li i ,.lize_box ul li i ,.lizd_box ul li i ,.lizt_box ul li i {color:#159ed2;} 
.yinpin {margin:0;height:40px; padding:10px 0; background:#424242; }
.yinpin span.yinm { display:block; margin:0 auto; width:90%; height:35px;}
.yinpin span.yinm audio {width:100%;}
.tab_01 {display:none;}
.lizz_box ul h2 { height:50px; line-height:50px; text-indent:30px; margin-bottom:10px;}
.lizz_box ul span {width:230px; display:block; margin:0 auto; padding-bottom:10px;}
.lizz_box ul a.sc_y {display:block; width:50px; height:30px; line-height:30px; border:solid 1px #ccc; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align:center; margin-left:30px; color:#999; cursor:pointer; }
.lizz_box ul a.sc_n {display:block; width:50px; height:30px; line-height:30px; border:solid 1px #ccc; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align:center; margin-right:30px; float:right; color:#999; cursor:pointer; }
.lizz_box ul a:hover { border-color:#999; color:#159edc;}
.lizz_box i.fa-warning {margin-right:10px; color:#159edc;}
.zhed {color: #888888;line-height: 15px; vertical-align: middle; text-align:center; width: 33%;}
.zhed b { color: #666; font: 0.8em/25px "microsoft yahei"; display: block;}
.zhed i{font-size: 1.6em;  color: #797979;}
.zy-off {color: #ccc;line-height: 15px; vertical-align: middle; text-align:center; width: 33%;}
.zy-off b { color: #ccc; font: 0.8em/25px "microsoft yahei"; display: block;}
.zy-off i{font-size: 1.6em;  color: #ccc;}

.pad5{padding: 5px 15px!important;}
.edi-ti-all {  position: relative;  display: block;  padding: 10px;  border-bottom: solid 1px #efefef;overflow: hidden; white-space:nowrap }
.edi-ti-fen2 {color: #0062CC; font-size: 1.4em; line-height: 40px; text-align: center;}
.edi-bor-r1 {border-right: solid 1px #efefef;}
.edi-bor02 {border-right: solid 1px #efefef; border-left: solid 1px #efefef;}
.edi-bor01{border:solid 1px #efefef;}
span.biaoti01 {display: block; padding-left: 10px; font:0.8em/15px "microsoft yahei"; border-top:solid 1px #e4e4e4;}
span.biaoti01 s {text-decoration: none; display: inline-block;background: #159edc; color: #fff; padding: 5px 10px;}
span.biaoti01 strong {display: inline-block; color: #999; font-weight: normal; padding: 0 10px;}
.edi-tffa {text-align: center; vertical-align: middle; color:yellowgreen;}
.edi-tffa i {vertical-align: middle;}
.pjsp {line-height: 30px; font-size: 14px; text-align: center;background: #fcfcfc; margin: 10px 0;}
.pjsp th {color: #333;}
.pjsp td {color: #666;}

.ml-t{height: 40px; line-height:40px; color: #999; font-size: 0.8em; position: relative; border-top: solid 1px #dcdcdc; border-bottom: solid 4px #efefef;}
.ml-t s {position: absolute; right: 10px; top: 0; font-style: normal; text-decoration: none;}
.ml-t s img.ic{  width: 15px;  vertical-align: text-bottom;}
.ml-t span {display: block; height: 40px; line-height: 40px; margin-right: 50px; overflow: hidden; text-indent: 10px;}

.tk_pd{font:0.8em/2em "microsoft yahei";  color: #666;}
.tt_kong {border-bottom: solid 1px #ccc; display:inline-block; text-indent: 0;padding: 0 10px; }
.panduan01{ text-indent: 0; margin: 5px 0;/*  display: inline-block;*/}
.panduan01 a{display: inline-block; width: 30px; height: 30px; line-height: 30px;margin:0 5px;border-radius: 30px; -moz-border-radius:30px; -webkit-border-radius:30px; text-align: center; background: #ccc;}
.panduan01 a i {font-size: 1.6em; color: #fff; line-height: 30px;}
.panduan01 a.pan-cuo.on {background:#f25858;}
.panduan01 a.pan-dui.on {background: #22c972;}

.sc{ border-bottom:1px solid #e4e4e4;  background: #fff;}
.fleft{   color: #159ed2;		  padding-left: .4em;		  font-size: 20px;		  line-height: 40px;}
.lyl_rr h3 ,.lyl_da h3 {color:#fff; padding-left:.4em; font-size:16px; line-height:25px; background:#4fbdec; display:block; width:70px; border-radius:2px; }
input.text{ width:150px; border:1px solid #efefef;font:normal16px/25px "微软雅黑"; vertical-align:middle; display:inline-block; color:#2076fd;}
.xuan{ border:1px solid #ccc; height:10px; width:10px;}
.lyl_da a.red i{ color:#555;}
/*-------试题导入----*/
.dao_t{  padding:10px; height:auto; position:relative;border:1px solid #efefef; margin:10px; }
.dao_t textarea{ font: normal 14px/25px "微软雅黑"; color:#9b9b9b; width:95%; 
                 height:75px; margin-right:10px;
				 background:transparent;
			     overflow-x: hidden;
			     overflow-y: auto;
			     word-wrap: break-word;
			     outline: none;
			     border: none; }
.dao_t span{ display:block; position:absolute; bottom:5px; right:5px; border-radius:50px; 
             cursor:pointer;}
.photo_list{ margin-top:10px; min-height:20px; }			 
.photo_list ul li{ border:1px solid #efefef;  float:left; margin:0px 10px 0px 0px;position:relative; padding:20px 0px; }			 
b.tupian{ width:100px; overflow:hidden; display:block; }
.photo_list ul li img{ height:70px; display:block; }			 
.p_del{ position:absolute; width:20px; height:20px; background:url(../images/del.png) no-repeat; top:-5px;right:-5px; cursor:pointer; }			 
a.b_photo{  width:100%; min-width:100px; overflow:hidden; display:block; height:auto;-webkit-box-align:center; -webkit-box-pack:center;display:-webkit-box;}
a.b_photo img{ max-height:350px; display:block; -webkit-box-align:center; -webkit-box-pack:center;display:-webkit-box;}
.form_con label {width:80px; text-align:right;display:inline-block;padding-right:15px; color:#818181; }
.form_con p span {padding-left:10px;}
.form_con p {border-top:1px dotted #e4e4e4;padding:8px 0px 4px; font-family:Arial, Microsoft YaHei;  color: #818181;}
.form_con.noBor p {border:none;}
.d_jixi{  border:1px solid #e4e4e4; width:65%; clear:both; display:inline-block; }
textarea.jixi{ vertical-align:top;  height:50px; width:100%;font:normal 14px/25px "微软雅黑"; color:#9b9b9b; outline:0; 
			   background:transparent; overflow-x: hidden; overflow-y: auto;word-wrap: break-word;outline: none;border: none; }