<!--
 * @Author: your name
 * @Date: 2020-07-28 13:54:16
 * @LastEditTime: 2020-08-11 18:28:14
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \www\en\App\Shuxue\View\Xygame\index_bak.html
--> 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><title>Webpack App</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/public/Shuxue/css/game.css" />
    <link rel="stylesheet" href="/public/Subject/react/style/font_x/iconfont.css">
    <script src="/public/public/js/zepto.min.js" type="text/javascript"></script>
    <script src="/public/Shuxue/js/amazeui.min.js"></script>  
  </head>
  <body>
      <div id="example">
     
          <div class="title am-navbar am-navbar-dark" style="background: rgb(0, 189, 199); position: fixed; width: 100%; z-index: 2000;">
            <div class="am-navbar-left" role="button">
              <svg class="am-icon am-icon-left am-icon-lg" color="#fff">
                <use xlink:href="#left"></use>
              </svg>
              <h1 class="header_left" onclick="goBack()">返回</h1>
            </div>
            <div class="am-navbar-title">荥阳口算王</div>
            <div class="am-navbar-right" role="button">
              <!-- <h1 class="header_left mathrank">排行榜</h1> -->
            </div>
          </div>
          <div class="wrapper ksk ks">
            <!-- <div class="am-list my-list"> -->
              <!-- <div class="am-list-body"> -->
                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped">
                <foreach name="infolist" item="vo" key="k" >
                <div class="am-accordion my-accordion">
                  <div class="am-accordion-item  pad ksk parent">
                    <div class="am-accordion-header am-accordion-title">
                      <img src="/public/Shuxue/images/ksk/xuan02.png" style="height: 35px; padding-right: 10px;">
                        <div style="display: inline-block; height: 54px;">
                          <div style="height: 20px;">{$vo.name}</div>
                          <div style="font-size: 0.8rem; padding-left: 0px; color: rgb(187, 187, 187);">共{$vo.stagenum}关卡,赶紧开始吧</div>
                        </div>   
                    </div>
                    <div class="am-accordion-content ">
                      <!-- 置身人群中
                      <br/>你只需要被淹没 享受 沉默
                      <br/>退到人群后
                      <br/>你只需给予双手 微笑 等候 -->
                      <div class="am-accordion-content-box">
                        <foreach name="vo.children" item="stagevo" key="stagek" >
                        <div class="am-list-item non-audio-active am-list-item-middle" onclick="addUserStage('{$stagevo.id}','{$stagevo.genreid}','0002','{$stagevo.grade}')">
                          <div class="am-list-step"></div>
                          <div class="am-list-thumb">
                            <div>{$stagek+1}</div>
                          </div>
                          <div class="am-list-line am-list-line-multiple">
                            <notempty  name="stagevo.username">
                            <div class="am-list-content" style="color:#999">{$stagevo.stagename}</div>
                            <else/>
                            <div class="am-list-content" >{$stagevo.stagename}</div>
                          </notempty >

                            <div class="am-list-extra"></div>
                            <div class="am-list-arrow am-list-arrow-horizontal" aria-hidden="true"></div>
                          </div>
                          <div class="am-list-ripple" style="display: none;"></div>
                        </div>
                      </foreach>
                   
                     
                    
                 </div>
                    
                    </div>
                    </div>
            </div>
          </foreach>
          </section>
    <!-- </div> -->
  <!-- </div> -->
                
</div>

</div>
    
  
  <script type="text/javascript">
   var mathBackUrl = '{$mathBackUrl}';
   function addUserStage(stageid,genreid,subjectid,gradeid){
     var urlCallBack = '/Shuxue/Xygame/index?gradeid='+gradeid+'&moduleid=63&subjectid=0002';
     $.getJSON('addUserStage',{stageid:stageid,genreid:genreid,subjectid:subjectid,gradeid:gradeid,ts:Math.random()},function(data){
      // playksk?genreid=66&stageid=621&gradeid=0003&subjectid=0002&moduleid=63&type=1&userstageid=1209599&urlCallBack=
      window.location.href = 'playksk?genreid='+genreid+'&stageid='+stageid+'&gradeid='+gradeid+'&subjectid=0002&moduleid=63&type=1&userstageid='+data.userstageid+'&urlCallBack='+encodeURIComponent(urlCallBack);
     })
     
   }

   function goBack(){
     window.location.href = mathBackUrl;
   }
  </script></body>
</html>
