<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="wap-font-scale" content="no">
  <title>闯关</title>
  <link href=__PUBLIC__/game/static/css/app.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=__PUBLIC__/game/static/js/manifest.js></script>
  <script type=text/javascript src=__PUBLIC__/game/static/js/vendor.js></script>
  <script type=text/javascript src=__PUBLIC__/game/static/js/app.js></script>
</body>

</html>