	#wrapper {top: 44px; background:#fff;}
	.pinyin li {padding-left: 15px; position: relative;}
	.pinyin li label {position: absolute; line-height: 50px; left: 0; font-size:10px;}
	.pyBtn {display: inline-block; padding: 0 5px; min-width: 35px; height: 40px; line-height: 35px; margin: 5px 2px; border:solid 2px #999; border-radius: 8px; text-align: center; color: #666;}
	.pyKong {display: inline-block; padding: 0 10px; width: 40px; height: 40px; line-height: 35px; margin: 5px 2px; border-radius: 8px; text-align: center; color: #666;}
	.pyBtn:hover,.pyBtn:visited    { background: #fffedb;    opacity: 0.8;    color: #DD524D;    border-color: #f5ac6c;}
	.onf   { background: #fffedb;    opacity: 0.8;    color: #DD524D;    border-color: #f5ac6c;}
	.pyH2 {/* border-bottom: solid 1px #efefef; */padding:10px;height: 45px; position:relative}
	.pyH2:after {content:"";width:90%;height:1px; border-bottom: dashed 1px #C0C0C0;display:block;position:absolute;top:49%;}
.pyH2 label {color:#f57013;position: relative; background:#fff;vertical-align: top;line-height: 25px;height: 25px;display: inline-block;padding: 0 10px;font-size: 16px;z-index: 2;}
@media only screen and (min-width:414px ) {
	 .pyBtn {padding: 0 10px; min-width: 40px;}
}
@media only screen and (min-width:560px ) {
	 .pyBtn {margin: 5px 5px;}
	 .pyKong { margin: 5px 5px;}
}
@media only screen and (min-width:1000px ) {
	.pyBtn {padding: 0 15px; min-width: 55px; font-size: 1.2em; height: 50px; line-height: 50px; margin: 5px 10px;}
	.pinyin li label {font-size: 12px;}
	.pyKong {width: 55px; margin: 5px 10px;}
}