<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="wap-font-scale" content="no">
    <title>口算卡</title>
    <link rel="stylesheet" href="__PUBLIC__/css/path/to/font-awesome/css/font-awesome.min.css">
    <link href="__PUBLIC__/css/ksk.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/font/back.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/swiper/idangerous.swiper.css">
    <script src="__PUBLIC__/js/zepto.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/idangerous.swiper.min.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <header class="head">
        <a class="head-left" href="../Ksk/lists?grade={$grade}&type={$type}&backUrl={$backUrl}">
            <i class="icon-back"></i>返回</a>
        <a class="head-right" href="../Ksk/rankrules?backUrl={$backUrl}">排名规则</a>
        <h1 class="title">
            <a href="../Ksk/rank?type=1&backUrl={$backUrl}" class="qieL">口算排行</a>
            <a href="../Ksk/rank?type=2&backUrl={$backUrl}" class="qieR">听算排行</a>
        </h1>
    </header>
    <section>
        <div class="pm_gr">
            <a class="toux">
                <img src="__PUBLIC__/images/toux.png">
            </a>
            <p>
                <span class="ff">{$truename}</span>
                <span>
                    <i>
                        <img src="__PUBLIC__/images/ksk/xing.png">
                    </i>
                    <font id="stars">1</font>
                </span>
            </p>
        </div>
        <div class="wrap">
            <div class="qie_b fen3">
                <ul class="tabs">
                    <li class="on" hidefocus="true">班级</li>
                    <li hidefocus="true">校内</li>
                    <li hidefocus="true">全国</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class=" swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="overflow-y:auto;">
                        <div class="content-slide">
                            <h2 class="pai">您当前的班级排名为第
                                <span id="class_pai">1</span> 名</h2>
                            <ul class="tlie" id="class_ul">
                                <li>
                                    <s>1</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/jg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i>
                                            <img src="__PUBLIC__/images/ksk/guan01.png">
                                        </i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>

                                <li>
                                    <s>2</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/yg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>3</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/tg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>4</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>5</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--end swiper-slide-->
                    <div class="swiper-slide" style="overflow-y:auto;">
                        <div class="content-slide">
                            <h2 class="pai">您当前的校内排名为第
                                <span id="school_pai">1</span> 名</h2>
                            <ul class="tlie" id="school_ul">
                                <li class="one">
                                    <s>1</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/jg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i>
                                            <img src="__PUBLIC__/images/ksk/guan01.png">
                                        </i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>2</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/yg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>3</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/tg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>4</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>5</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--swiper-slide-->
                    <div class="swiper-slide" style="overflow-y:auto;">
                        <div class="content-slide pr">
                            <h2 class="pai">您当前的全国排名为第
                                <span id="area_pai">1</span> 名</h2>
                            <ul class="tlie" id="area_ul">
                                <li class="one">
                                    <s>1</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/jg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i>
                                            <img src="__PUBLIC__/images/ksk/guan01.png">
                                        </i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>2</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/yg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>3</s>
                                    <span class="toux">
                                        <img class="guan" src="__PUBLIC__/images/ksk/tg.png">
                                        <img class="tt" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>4</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>5</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                                <li>
                                    <s>6</s>
                                    <span class="toux">
                                        <img class="ttz" src="__PUBLIC__/images/toux.png">
                                    </span>
                                    <p>姓名姓名</p>
                                    <span class="rxx">
                                        <i></i>
                                        <strong>口算王</strong>
                                        <b>
                                            <img src="__PUBLIC__/images/ksk/xing.png">22622</b>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end swiper-slide-->
                </div>
                <!--end swiper-wrapper-->
            </div>
            <!--end swiper-container-->
        </div>
        <!--end wrap-->
    </section>


    <div id="demolist" style="display:none;">
        <li>
            <s>1</s>
            <span class="toux">
                <img class="ttz" src="__PUBLIC__/images/toux.png">
            </span>
            <p>姓名姓名</p>
            <span class="rxx">
                <i></i>
                <strong>口算王</strong>
                <b>
                    <img src="__PUBLIC__/images/ksk/xing.png">
                    <font>22622</font>
                </b>
            </span>
        </li>
    </div>
</body>
<script type="text/javascript">
    var needHideProgress = false;
    try {
        UXinJSInterface.hideProgress();
    } catch (e) {
        needHideProgress = true;
    }
</script>
<script type="text/javascript">
    function nofind() {

        var img = event.srcElement;

        // img.src="http://www.cnblogs.com/sys/common/image/fileoperation/icon/default.gif";

        img.onerror = null;
        控制不要一直跳动

    }
    $(function () {
        var type = '{$type}';
        // ('{$type}' == '口算排行')?type=1:type=2;
        if (type == 1) {
            $('.qieR').addClass('cur');
            $('.qieL').removeClass('cur');
        } else {
            $('.qieL').addClass('cur');
            $('.qieR').removeClass('cur');
        }
        $.get('../Ksk/getRankList', {
            ran: Math.random(),
            type: type
        }, function (data) {

            var order_my_class = data.order_my_class;
            var order_my_school = data.order_my_school;
            var order_my = data.order_my;

            (order_my_class == null) ? order_my_class = 0: order_my_class;
            (order_my_school == null) ? order_my_school = 0: order_my_school;
            (order_my == null) ? order_my = 0: order_my;

            var stars = data.stars;
            (stars == null) ? stars = 0: stars;

            $('#class_pai').html(order_my_class);
            $('#school_pai').html(order_my_school);
            $('#area_pai').html(order_my);
            $('#stars').html(stars);



            if (type == 1) {
                gene = 'stars_ks';
            } else {
                gene = 'stars_ts';
            }
            //班级排名
            $('#class_ul li').remove();
            $.each(data.order_class, function (k, v) {
                var li = $('#demolist').children('li').clone();
                //alert(v.username);
                if (k == 0) {
                    li.children('span').eq(0).html(
                        '<img class="guan" src="__PUBLIC__/images/ksk/jg.png"><img class="tt" src="__PUBLIC__/images/toux.png">'
                    );
                    li.children('span').eq(1).children('i').html(
                        '<img src="__PUBLIC__/images/ksk/guan01.png">');
                }
                li.children('s').eq(0).html(v.rank);
                li.children('p').eq(0).html(v.username);
                li.find('strong').html(getTitle(eval('v.' + gene)));
                li.find('font').html(eval('v.' + gene));
                li.appendTo('#class_ul');
            });
            //学校排名
            $('#school_ul li').remove();
            $.each(data.order_school, function (k, v) {
                var li = $('#demolist').children('li').clone();
                if (k == 0) {
                    li.children('span').eq(0).html(
                        '<img class="guan" src="__PUBLIC__/images/ksk/jg.png"><img class="tt" src="__PUBLIC__/images/toux.png">'
                    );
                    li.children('span').eq(1).children('i').html(
                        '<img src="__PUBLIC__/images/ksk/guan01.png">');
                }
                li.children('s').eq(0).html(v.rank);
                li.children('p').eq(0).html(v.username);
                li.find('strong').html(getTitle(eval('v.' + gene)));
                li.find('font').html(eval('v.' + gene));
                li.appendTo('#school_ul');
            });
            //全国排名
            $('#area_ul li').remove();
            $.each(data.order, function (k, v) {
                var li = $('#demolist').children('li').clone();
                if (k == 0) {
                    li.children('span').eq(0).html(
                        '<img class="guan" src="__PUBLIC__/images/ksk/jg.png"><img class="tt" src="__PUBLIC__/images/toux.png">'
                    );
                    li.children('span').eq(1).children('i').html(
                        '<img src="__PUBLIC__/images/ksk/guan01.png">');
                }
                li.children('s').eq(0).html(v.rank);
                li.children('p').eq(0).html(v.username);
                li.find('strong').html(getTitle(eval('v.' + gene)));
                li.find('font').html(eval('v.' + gene));
                li.appendTo('#area_ul');
            });

        });
    });

    function getTitle(mypaiming) {
        var myname = '';
        if (mypaiming >= 0 && mypaiming <= 50) {
            myname = '算术新手';
        } else if (mypaiming >= 51 && mypaiming <= 100) {
            myname = '速算能手';
        } else if (mypaiming >= 101 && mypaiming <= 150) {
            myname = '心算达人';
        } else if (mypaiming >= 151 && mypaiming <= 200) {
            myname = '神算子';
        } else {
            myname = '速算王';
        }
        return myname;
    }





    $(".pm_gr p").css({
        left: $(window).width() / 2 + 60 + "px"
    })

    $(document).ready(function () {
        var tabsSwiper = new Swiper('.swiper-container', {
            speed: 500,
            onSwiperCreated: function () {
                var H = $(window).height() - 220;
                $(".swiper-wrapper").css('height', H + 'px');
                $(".swiper-slide").css('height', H + 'px');
            },
            onSlideChangeStart: function () {
                $(".tabs .on").removeClass('on');
                $(".tabs li").eq(tabsSwiper.activeIndex).addClass('on');
            }
        });

        $(".tabs li").on('touchstart mousedown', function (e) {
            e.preventDefault()
            $(".tabs .on").removeClass('on');
            $(this).addClass('on');
            tabsSwiper.swipeTo($(this).index());
        });

        $(".tabs li").click(function (e) {
            e.preventDefault();
        });
    })
</script>
<!-- <script src="http://en.czbanbantong.com/Homework/Public/setLog?type=mobile.klxsxmb.rank"></script> -->

</html>