<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="wap-font-scale" content="no">
<title>口算卡</title>
<link href="__PUBLIC__/css/ksk.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/font/back.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	ul.xuan {margin-top: 0;}
</style>
</head>

<body>

<header class="head">
            <a class="head-left" href="../Ksk/rank?type=1&backUrl={$backUrl}"><i class="icon-back"></i>返回</a>
            <h1>排名规则</h1>
            <a class="head-right"></a>
</header>

<section>

<ul class="gui" style="margin-top: 60px;">
<li>答对1-3题<span><img src="__PUBLIC__/images/ksk/xing.png"></span></li>
<li>答对4-7题<span><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"></span></li>
<li>答对8题<span><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"></span></li>
<li>答对9-10题<span><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"></span></li>
<li>答对11-15题<span><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"><img src="__PUBLIC__/images/ksk/xing.png"></span></li>
</ul>
            <h3 class="blh">等级规则</h3>
            <ul class="gui">
<li>算术新手<span>获得1-50颗星星</span></li>
<li>速算能手<span>获得51-100颗星星</span></li>
<li>心算达人<span>获得101-150颗星星</span></li>
<li>神算子<span>获得151-200颗星星</span></li>
<li>速算王<span>获得200以上颗星星</span></li>
</ul>

</section>

</body>
<script type="text/javascript">
var needHideProgress = false;
    try{
        UXinJSInterface.hideProgress();
    }catch(e){
        needHideProgress =true;
    }
</script>
<script type="text/javascript">
</script>
<!-- <script src="http://en.czbanbantong.com/Homework/Public/setLog?type=mobile.klxsxmb.rankrules"></script> -->
</html>
