<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑模版</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>  
<script type="text/javascript"  src="__PUBLIC__/js/jquery.form.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ue/ueditor.all.min.js"> </script>  
<script type="text/javascript" src="__PUBLIC__/js/myueditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/exams.js"></script>
</head>
<body>
<div class="container">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
  <tr>
    <td class="p5">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
    	<if condition="$type eq 1">
      <tr>
        <td height="34" class="td_right">输入框：</td>
        <td>
          <input name="ques" type="radio"  value='1' <if condition="$questype eq 1">checked='checked'</if>{$questype}/>选择题&nbsp;
          <input type="radio" name="ques"  value='3' <if condition="$questype eq 3">checked='checked'</if>/>判断题&nbsp;
          <input type="radio" name="ques"  value='4' <if condition="$questype eq 4">checked='checked'</if>/>排序题&nbsp;
        </td>
      </tr>
      <tr>
        <td class="td_right">适配年级：</td>
        <td>
            <input name="class" type="checkbox"  value='1' cid='1'/>小学&nbsp;
            <input name="class" type="checkbox"  value='2' cid='2'/>初中&nbsp;
            <input name="class" type="checkbox"  value='3' cid='3'/>高中&nbsp;        
        </td>
      </tr>
      <tr>
        <td class="td_right">&nbsp;</td>
        <td>
		    <volist name="grade" id="vo">
		    	<input type="checkbox" name="grade" value='{$vo.id}' bid='<if condition="($vo.id lt 7)">1<elseif condition="($vo.id lt 10)"/>2<else />3</if>'/>{$vo.name}&nbsp;
			</volist>  
        </td>
      </tr>
      <tr>
        <td class="td_right">难易程度：</td>
        <td>
            <input name="complexity" type="radio"  value='3' <if condition="$complexity eq 3">checked</if>/>较难&nbsp;
            <input type="radio" name="complexity"  value='2' <if condition="$complexity eq 2">checked</if>/>适中&nbsp;
            <input type="radio" name="complexity"  value='1' <if condition="$complexity eq 1">checked</if>/>容易&nbsp;
        </td>
      </tr>
      <tr>
        <td class="td_right">关键词：</td>
        <td>
        	<input type="text" class="input-text lh30" size="40" id="keyword" /><font style="color:gray;size:10px;">(关键词请以逗号隔开）</font>
                              来源：<input type="text"  class="input-text lh30" size="20" id="source" />
         </td>
      </tr>
	  </if>
      <tr>
        <td class="td_right">听力材料：</td>
        <td>&nbsp;&nbsp;<img class="listen_add" src="__PUBLIC__/images/jia.png" width="21" height="19" /></td>
      </tr>
      <tr>
      <td></td>
        <td>
        <table class="listen">
        <tr style="display:none;">
          <td><input type="text" class="input-text lh30" size="2"></td>
          <td><input type="text" class="input-text lh30" size="40"></td>
          <td>
         <select name="tvoice" class="select voiceid" bid='0'>
         	<option value="1">中男Liang</option>
            <option value="2">中女Hui</option>
            <option value="3" selected="selected">美女Kate</option>
            <option value="4">美女Salli</option>
			<option value="5">美男Joey</option>
            <option value="6">英女Bridget</option>
			<option value="7">英男Brian</option>
        </select>
          </td>
		  <td width="50" align="right">
          <img class="listen_del" src="__PUBLIC__/images/jian.png" width="21" height="19" />
          </td>
          <td width="20" align="right">
                     <input type="button" value="试听" class="ting"/>
                  </td>
          </tr>
          <if condition="$type neq 1">
		  	<volist name="listen" id="vo">
		  		<tr>
		          <td>
		          	<input type="text" class="input-text lh30" size="2" value="{$vo.sortid}">
				  </td>
		          <td>
		          	<input type="text" class="input-text lh30" size="40"  value="{$vo.vcontent}">
				  </td>
		          <td>
			         <select name="tvoice" class="select voiceid" bid="{$vo.id}">
			         	<option value="1" <if condition="$vo.vvoiceid eq 1">selected="selected"</if>>中男Liang</option>
			            <option value="2" <if condition="$vo.vvoiceid eq 2">selected="selected"</if>>中女Hui</option>
			            <option value="3" <if condition="$vo.vvoiceid eq 3">selected="selected"</if>>美女Kate</option>
			            <option value="4" <if condition="$vo.vvoiceid eq 4">selected="selected"</if>>美女Salli</option>
						<option value="5" <if condition="$vo.vvoiceid eq 5">selected="selected"</if>>美男Joey</option>
			            <option value="6" <if condition="$vo.vvoiceid eq 6">selected="selected"</if>>英女Bridget</option>
						<option value="7" <if condition="$vo.vvoiceid eq 7">selected="selected"</if>>英男Brian</option>
			        </select>
		          </td>
		          <td width="50" align="right">
		          <img class="listen_del" src="__PUBLIC__/images/jian.png" width="21" height="19" />
		          </td>
              <td width="20" align="right">
                     <input type="button" value="试听" class="ting"/>
                  </td>
               </tr>
		  	</volist>
		  <else />
			 <tr>
		          <td><input type="text" class="input-text lh30" size="2"></td>
		          <td>
		          	<input type="text" class="input-text lh30" size="40"  value="{$tncontent}">
				  </td>
		          <td>
			         <select name="tvoice" class="select voiceid" bid="0">
			         	<option value="1">中男Liang</option>
                        <option value="2">中女Hui</option>
			            <option value="3">美女Kate</option>
			            <option value="4">美女Salli</option>
						<option value="5">美男Joey</option>
			            <option value="6">英女Bridget</option>
						<option value="7">英男Brian</option>
			        </select>
		          </td>
		          <td width="50" align="right">
		          <img class="listen_del" src="__PUBLIC__/images/jian.png" width="21" height="19" />
		          </td>
              <td width="20" align="right">
                     <input type="button" value="试听" class="ting"/>
                  </td>
              </tr>
		  </if>
        </table>
        </td>
      </tr>
      <tr>
        <td class="td_right">题干：</td>
        <td>
          <p> 
            <script id="editor" type="text/plain" style="width:650px;height:80px;">{$tcontent}</script>
          </p>
          <p>
            <span class="red">备注：普通下划线______ 用  #下划线# ，填空用  ##答案[good]## 表示　</span>
          </p>
        </td>
      </tr>
      <tr>
        <td class="td_right">解析：</td>
        <td><textarea name="textarea" cols="30" rows="3" class="textarea" id="acontent">{$acontent}</textarea></td>
      </tr>
    </table>
    
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
		<tr>
			<td <if condition='$flag eq 1'>align="right"<else />align="center"</if>>
			  <input type="button" name="button"  id="save" class="btn btn82 btn_save2" value="保存" />&nbsp;
			</td>
		</tr>
	</table>
	<div class="h10"></div>
	</td> 
   </tr> 
 </table>
</div>
<!--上传的div块-->
<div id="uploadfile" style="display:none;">
	<table>
	  <tr>
	    <td align="right"><font style="font-weight:10px;">图片：</font></td>
	    <td align="left">
	      <img src="" id="myimg" width="120" height="90" style="border:1px solid #CCC; padding:2px;" >
	    </td>
      </tr> 
	  <tr>
	    <td>&nbsp;</td>
	    <td>
	    	<div id="queue"></div>
			<input id="file_upload" name="file_upload" type="file" multiple="false"/>
		</td>
	  </tr>
	</table>
</div>
<div id="jplayer"></div>
<script type="text/javascript"> 
var ue = UE.getEditor('editor');//ueditor插件
$(function(){ 
  $.ajaxSetup({async:false});
  //页面初始化,默认是选择题型
  $(".form_table.answer").hide();
  $(".form_table.answer:eq(0)").hide();
  //题型单击事件
  $("input[name='ques']").click(function(){
  	 var typeid=$(this).val()-1;
	 if(typeid>0){
	 	typeid=typeid-1;
	 }
	 $(".form_table.answer").hide();
	 $(".form_table.answer:eq("+typeid+")").show();
  });
  $("input[name='ques']:checked").click();
  //学段单击事件
  $("input[name='class']").click(function(){
    var phrase=$(this).val();
    if($(this).is(':checked'))
    {
       $("input[bid="+phrase+"]").attr('checked',true);
    }else{
       $("input[bid="+phrase+"]").attr('checked',false);
    }
  });
  //年级单击事件
  $("input[name='grade']").click(function(){
    var phrase=$(this).attr('bid');
    if(!$(this).is(':checked'))
    {
      $("input[cid="+phrase+"]").attr('checked',false);
    }else{
		//判断所在学段的年级是否全部选中
      if($("input[bid="+phrase+"]").length==$("input[bid="+phrase+"]:checked").length){
        $("input[cid="+phrase+"]").attr('checked',true);
      }
    }
  });
  //试听
  $(".ting").live("click",function(){
    //将听力的音频内容取出来
    var audiocontent=$(this).parents("tr").children("td").eq(1).find("input").val();
    var voiceid=$(this).parents("tr").children("td").eq(2).find("select").val();
    if(audiocontent==""){art.dialog.alert("请输入音频内容!");return;}
    var mp3=play(audiocontent,voiceid);
    var content="<object id='javadomo' classid='CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6' id='wind_meb'><param name='AutoStart' value='1' /><param value='1' name='ShowStatusBar'><param name='url' value='http://58.22.107.13/voicetemp/"+mp3+"'><param name='uiMode' value='invisible'><embed src='http://58.22.107.13/voicetemp/"+mp3+"' autostart='true' width='0' height='0'/></object>";
    $("#jplayer").html(content);
  });
  //听力材料的添加和删除
  $(".listen_add").click(function(){
 	var tr=$(".listen tr").eq(0).clone().show();
	tr.appendTo(".listen");
  });
  $(".listen_del").live("click",function(){
  	$(this).parent().parent().remove();
  });
  //保存按钮单击事件
  $("#save").click(function(){
  	 //短文答题的题干
	var vcontent=[];
	$(".listen tr:gt(0)").each(function(){
		//听力的顺序
		var tingli=$(this).children("td");
		var obj={};
		obj.id=tingli.eq(2).find(".voiceid").attr("bid");
		obj.sortid=tingli.eq(0).find("input").val();
		obj.content=tingli.eq(1).find("input").val();
		obj.voiceid=tingli.eq(2).find(".voiceid").val();  
		vcontent.push(obj); 
	});
	var tcontent=ue.getContent();//题干
	var acontent=$("#acontent").val();//解析
	$.post("../Cp/editCombineContentQuestions",{vcontent:JSON.stringify(vcontent),ran:Math.random(),id:{$id},tcontent:tcontent,acontent:acontent},function(){
    $("#save").attr("disabled",false);
      alert("保存成功");
    });
  });
  //上传按钮弹出框
  $(".ext_btn.pic").live("click",function(){
  	var ch=$(this);
	var img=$(this).parent().find("img:eq(0)");
	var path="";
	if($(this).attr("bid")!=undefined){path='../../uploads/'+$(this).attr("bid");}
	$("#uploadfile:eq(0)").find("img:eq(0)").attr("src",path);
  	var dialog = art.dialog({
	    content: $("#uploadfile")[0],
	    fixed: true,
	    ok: function(){
			//var iframe=this.iframe.currentWindow;
			var path=$("#myimg").attr("bid");
			$(ch).attr("bid",path);
			$(img).attr("src",'../../uploads/'+path);
		}
    });
  });
}); 

$(function(){
	$('#file_upload').uploadify({
    'height'    :30,
    'width'     :120,
    'buttonText': '上传图片',  //选择按钮显示的字符
    'multi'     : false,   //是否允许同时选择多个(false一次只允许选中一张图片)
    'method'    : 'post',
    'formData'  : {
      'folder'  : './uploads/exam/items',
      'fileext': 'png'
    },
    'swf'       : '__PUBLIC__/js/uploadify/uploadify.swf',
    'uploader'  : '../Upload/index',
    'fileTypeExts': '*.png;*.jpg', //允许的后缀
    'fileTypeDesc': 'Image Files', //允许的格式，详见文档
     'onUploadSuccess' : function(file, data, response) 
    {
      //上传成功后的触发事件  
      var obj=eval("("+data+")");
      $("#myimg").attr("src",'../../uploads/'+obj.msg.savepath + obj.msg.savename);
	  $("#myimg").attr("bid",obj.msg.savepath + obj.msg.savename);
    }
  });
	
});
</script>
</body>
</html>
