<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>口算卡</title>
<link rel="stylesheet" href="__PUBLIC__/style/klxsxmb/path/to/font-awesome/css/font-awesome.min.css">
<link href="__PUBLIC__/style/klxsxmb/ksk.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jPlayer/dist/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/yjt_properties.js"></script>
<!--
<script src="../script/jquery.mobile-1.4.5.js" type="text/javascript"></script>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.bbj {position: absolute; top: 50px; right: 0; display: none; z-index: 99;}
.bbj ul li {background: #36a1a0; height: 30px; line-height: 30px; width: 100px; text-align: center; color: #fff; border-bottom: solid 1px #ccc;}
</style>
</head>

<body>

<header>

            <div class="back"><a href="http://www.czbanbantong.com"><img src="__PUBLIC__/style/klxsxmb/images/backIco.png" width="20" height="20" />返回</a></div>
            <h1></h1>
			<div class="kc_setup" id="bj" style="width:100px;"><a class="shou" href="javascript:void(0);">口算排名<i class="fa fa-caret-down"></i></a></div>
</header>
<section>
	<ul class="shou">
		<li>
			<a href="../Klxsxmb/lists?grade=0001&type=1">
				<span class="lr">一年级</span>
				<span class="mm"><h2>谁是口算王</h2><h3>{$jindu[0]['name']}</h3><s><b style="width: {$jindu[0]['style']}%;"></b></s></span>
				<span class="rr">
					<if condition="$jindu[0]['status'] eq 0">
						<img src="__PUBLIC__/style/klxsxmb/images/ksk/guan02.png">
					<else/>
						<img src="__PUBLIC__/style/klxsxmb/images/ksk/guan01.png">
					</if>
				</span>
			</a>
		</li>
		<li>
			<a href="../Klxsxmb/lists?grade=0002&type=1">
			<span class="lr">二年级</span>
			<span class="mm"><h2>谁是口算王</h2><h3>{$jindu[1]['name']}</h3><s><b style="width: {$jindu[1]['style']}%;"></b></s></span>
			<span class="rr">
				<if condition="$jindu[1]['status'] eq 0">
					<img src="__PUBLIC__/style/klxsxmb/images/ksk/guan02.png">
				<else/>
					<img src="__PUBLIC__/style/klxsxmb/images/ksk/guan01.png">
				</if>
			</span>
			</a>
		</li>
		<li>
			<a href="../Klxsxmb/lists?grade=0003&type=1">
			<span class="lr">三年级</span>
			<span class="mm"><h2>谁是口算王</h2><h3>{$jindu[2]['name']}</h3><s><b style="width: {$jindu[2]['style']}%;"></b></s></span>
			<span class="rr">
				<if condition="$jindu[2]['status'] eq 0">
					<img src="__PUBLIC__/style/klxsxmb/images/ksk/guan02.png">
				<else/>
					<img src="__PUBLIC__/style/klxsxmb/images/ksk/guan01.png">
				</if>
			</span>
			</a>
		</li>
	</ul>
</section>
<input type="hidden" value="{$truename}" id="truename"/>
<div class="bbj">
    <ul>
        <li><a href="../Klxsxmb/rank?type=1" style="color: #fff;">口算排名</a></li>
        <li><a href="../Klxsxmb/rank?type=2" style="color: #fff;">听算排名</a></li>
        <div class="clearfix"></div>
    </ul>
    <div class="clearfix"></div>
</div>
<script type="text/javascript">
var needHideProgress = false;
	try{
		UXinJSInterface.hideProgress();
	}catch(e){
		needHideProgress =true;
	}
</script>

<script>
$(function(){
	var userarea=$.cookie('localAreaCode');
	var usertype=$.cookie('usertype');
	var username=$.cookie('username');
	var truename=$('#truename').val();
	var ut = $.cookie('ut');
	//alert(ut);return false;

	//alert(truename);
	//alert('{$grade}');
	//alert(ut)
			//alert(username);
		//alert(userarea);
	// if(truename==''){
	// 	//var tms=mapObj[userarea]['tms'];
	// 	var tms=$.cookie('tmsurl');
	// 	if(usertype==4){
	// 		$.getJSON(tms+'/tms/interface/queryStudent.jsp?jsoncallback=?',{queryType:'byNames',usernames:username},function(data){
	// 			if (data.rtnArray[0].schoolId == '') {
	// 				return false;
	// 			}
	// 			else {
	// 				var truename = data.rtnArray[0].realname;
	// 				$.get('../Klxsxmb/getUserinfo', {
	// 					ran: Math.random(),
	// 					truename: truename
	// 				}, function(data){

	// 				});
	// 			}
	// 		});
	// 	}else{
	// 		//家长登录
	// 		$.getJSON(tms+'/tms/interface/queryStudent.jsp?jsoncallback=?',{queryType:'byParent',parentAccount:username},function(data){
	// 			if (data.rtnArray[0].schoolId == '') {
	// 				return false;
	// 			}
	// 			else {
	// 				var truename = data.rtnArray[0].realname;
	// 				$.get('../Klxsxmb/getUserinfo', {
	// 					ran: Math.random(),
	// 					truename: truename
	// 				}, function(data){

	// 				});
	// 			}
	// 		});
	// 	}
	// }


	if('{$grade}'=='0001'){
		$('.shou').children('li').eq(0).attr('class','cur');
	}else if('{$grade}'=='0002'){
		$('.shou').children('li').eq(1).attr('class','cur');
	}else{
		$('.shou').children('li').eq(2).attr('class','cur');
	}

});


$(document).ready(function(){
    $("#bj").click(function(){
        $(".bbj").toggle();
    })
$(".bbj").click(function(){
    $(".bbj").toggle();
})
})

</script>
</body>

</html>
