<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>口算卡</title>
<link rel="stylesheet" href="__PUBLIC__/style/klxsxmb/path/to/font-awesome/css/font-awesome.min.css">
<link href="__PUBLIC__/style/klxsxmb/ksk.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/style/klxsxmb/swiper/idangerous.swiper.css">
<script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
<script src="__PUBLIC__/js/idangerous.swiper.min.js" type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    ul.xuan {margin-top: 0;}
.bbj {position: absolute; top: 50px; right: 0; display: none; z-index: 99;}
.bbj ul li {background: #36a1a0; height: 30px; line-height: 30px; width: 100px; text-align: center; color: #fff; border-bottom: solid 1px #ccc;}
</style>
</head>

<body>

<header>

            <div class="back"><a href="../Klxsxmb/index"><img src="__PUBLIC__/style/klxsxmb/images/backIco.png" width="20" height="20" />返回</a></div>
            <h1 style="margin：0 90px 0 80px;">口算卡</h1>
            <div class="kc_setup"  id="bj" style="width:80px;"><a class="shou" href="javascript:void(0);">{$grade}<i class="fa fa-caret-down"></i></a></div>

</header>
<section>
<div class="wrap" style="margin-top: 50px;">
    <div class="qie_b bff">
            <ul class="tabs">
                <li class="ll" hidefocus="true" >口算</li>
                <li class="rr" hidefocus="true" >听算</li>
            </ul>
    </div>
    <div class="clearfix"></div>
    <div class=" swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"  style="overflow-y:auto;">
                <div class="content-slide">
                    <ul class="xuan">
                        <volist name="data_ks" id="vo" >
                                <li>
                                    <if condition="($vo.gold eq '') or ($vo.gold eq 0)">
                                        <a href="../Klxsxmb/start?id={$vo.id}&type=1&geshi={$vo.type}&grade={$vo.grade}&name={$vo.name}">
                                            <i><img src="__PUBLIC__/style/klxsxmb/images/ksk/xuan02.png"></i>
                                            <p style="font-weight:900;">{$vo.name}</p>
                                        </a>
                                    <else/>
                                        <a href="../Klxsxmb/start?id={$vo.id}&type=1&geshi={$vo.type}&grade={$vo.grade}&name={$vo.name}"><i><img src="__PUBLIC__/style/klxsxmb/images/ksk/xuan01.png">
                                        <b>
                                        <for start="0" end="$vo.gold">
                                            <img src="__PUBLIC__/style/klxsxmb/images/ksk/xing.png">
                                        </for>
                                        </b></i>
                                        <p style="font-weight:900;">{$vo.name}</p>
                                        </a>
                                    </if>
                                </li>
                        </volist>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div><!--end swiper-slide-->
            <div class="swiper-slide" style="overflow-y:auto;">
                <div class="content-slide">
                    <ul class="xuan">
                        <volist name="data_ts" id="vo" >
                                <li>
                                    <if condition="($vo.gold eq '') or ($vo.gold eq 0)">
                                        <a href="../Klxsxmb/start?id={$vo.id}&type=2&geshi={$vo.type}&grade={$vo.grade}&name={$vo.name}">
                                            <i><img src="__PUBLIC__/style/klxsxmb/images/ksk/xuan02.png"></i>
                                            <p style="font-weight:900;">{$vo.name}</p>
                                        </a>
                                    <else/>
                                        <a href="../Klxsxmb/start?id={$vo.id}&type=2&geshi={$vo.type}&grade={$vo.grade}&name={$vo.name}"><i><img src="__PUBLIC__/style/klxsxmb/images/ksk/xuan01.png">
                                        <b>
                                        <for start="0" end="$vo.gold">
                                            <img src="__PUBLIC__/style/klxsxmb/images/ksk/xing.png">
                                        </for>
                                        </b></i>
                                        <p style="font-weight:900;">{$vo.name}</p>
                                        </a>
                                    </if>
                                </li>
                        </volist>
                    </ul>
                </div>
            </div><!--swiper-slide-->
        </div><!--end swiper-wrapper-->
    </div><!--end swiper-container-->
</div><!--end wrap-->
</section>
<div class="bbj">
    <ul>
        <li><a href="../Klxsxmb/lists?grade=0001&type=1" style="color: #fff;">一年级</a></li>
        <li><a href="../Klxsxmb/lists?grade=0002&type=1" style="color: #fff;">二年级</a></li>
        <li><a href="../Klxsxmb/lists?grade=0003&type=1" style="color: #fff;">三年级</a></li>
        <div class="clearfix"></div>
    </ul>
    <div class="clearfix"></div>
</div>
</body>
<script type="text/javascript">
var needHideProgress = false;
    try{
        UXinJSInterface.hideProgress();
    }catch(e){
        needHideProgress =true;
    }
</script>
<script type="text/javascript">
$(function(){
    if('{$type}' == 1){
        $('.tabs li').eq(0).addClass('on');
    }else{
        $('.tabs li').eq(1).addClass('on');
    }
});



$(".pm_gr p").css({left : $(window).width() / 2 + 60 + "px"})
$(document).ready(function(){
    $("#bj").click(function(){
        $(".bbj").toggle();
    })
$(".bbj").click(function(){
    $(".bbj").toggle();
})
})

$(document).ready(function () {
    var tabsSwiper = new Swiper('.swiper-container',{
        speed:500,
        onSwiperCreated:function(){
    var H=$(window).height()-110;
    $(".swiper-wrapper").css('height', H+'px');
    $(".swiper-slide").css('height', H+'px');
    },
        onSlideChangeStart: function(){
            $(".tabs .on").removeClass('on');
            $(".tabs li").eq(tabsSwiper.activeIndex).addClass('on');
        }
    });

    $(".tabs li").on('touchstart mousedown',function(e){
        e.preventDefault()
        $(".tabs .on").removeClass('on');
        $(this).addClass('on');
        tabsSwiper.swipeTo($(this).index());
    });

    $(".tabs li").click(function(e){
        e.preventDefault();
    });

    // if('{$type}' == 1){
    //     $('.tabs li').eq(0).addClass('on');
    //     tabsSwiper.swipeTo(0);
    // }else{
    //     $('.tabs li').eq(1).addClass('on');
    //     tabsSwiper.swipeTo(1);
    // }


});

</script>
</html>
