<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>在线字典</title>
<link href="__PUBLIC__/dict/css/zidian.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/dict/js/jquery.min.js" type="text/javascript"></script>
<style>
.foot {
    background: url(__PUBLIC__/style/klxpy/images/bottm.png) no-repeat;
    height: 107px;
    margin-top: -70px;
}
.footer {
    clear: both;
    background: #666464;
    display: block;
    min-height: 100px;
    padding: 10px 0 60px 0;
}
.w1200 {
    width: 1000px;
    margin: 0 auto;
}
.left_f {
    float: left;
    width: 650px;
    margin-left: 30px;
}
.nav2 {
    clear: both;
    display: block;
    padding: 25px 0 15px 0;
    font-size: 13px;
    color: #949494;
}
.nav2 a, .nav2 a:visited {
    color: #f4f4f4;
    font-size: 13px;
    margin: 0 5px;
}
.copyRight {
    color: #bebebe;
    font-size: 12px;
    line-height: 24px;
}
.right_f {
    float: right;
    width: 280px;
}
.code {
    display: block;
    text-align: center;
    padding-top: 20px;
}
span.code2 {
    background: url(__PUBLIC__/style/klxpy/images/QQ.png) no-repeat 0 0;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}   
</style>
</head>

<body>
    <div class="head">
    	<div class="search">
         <a href="index" style="position:absolute;display:block;width:200px;height:200px;margin-top:50px;z-index:20px;"></a>
            <a href="index" style="position:absolute;display:block;width:500px;height:200px;margin-top:1%;margin-left:23%;z-index:20px;"></a>
        <p><input type="text" class="search_T" maxlength="1" onblur="value=value.replace(/[^\u4E00-\u9FA5]/g,'')">
                        <input type="button" class="search_B" value="搜索" ></p></div>
    </div>
    <div class="Z_center">
    	<div class="section">
        	<div class="s_top">
            	<div class="rig"><img src="" onerror="javascript:this.src='__RESOURCE__/uploadklx/klxsz/uploads/default.gif'" width="266" style="margin-top:10px; display:block;" class="imghanzi"></div>
                <div class="lef">
                	  <p class="py"></p>
                    <p class="bs"></p>
                    <p class="bh"></p>
                    <p class="jg"></p>
                    <p class="bsn"></p>
                </div>
            </div>
            <div class="s_center">
            	<h2>
					<a href="javascript:void(0);" class="cur" id="3Tab_0" onClick="Show_Tab(3,0,3)">基本解释</a>
					<a href="javascript:void(0);" id="3Tab_1" onClick="Show_Tab(3,1,3)">详细解释</a>
						<!--<a href="javascript:void(0);" id="3Tab_2" onClick="Show_Tab(3,2,3)">相关成语</a></h2>-->
				</h2>
					<div class="wenzi" id="3s_0"><p> <br></p>
					</div>
					<div class="wenzi" id="3s_1" style="display:none;"><p></p>
					</div>
					<div class="wenzi" id="3s_2" style="display:none;"><p></p>
					</div>
				
            </div>
            <div class="s_bottom">
                <p>其他小朋友都在学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <div class="s_other">
                    <ul>
                        <li><a href="javascript:void(0);"  onclick="redirectfun(4);"><img src="__PUBLIC__/images/app/cycd.jpg"></a><span>成语词典</span></li>
						<li><a href="javascript:void(0);"  onclick="redirectfun(2);"><img src="__PUBLIC__/images/app/klxpy.jpg"></a> <span>快乐学拼音</span></li>
						<li><a href="javascript:void(0);"  onclick="redirectfun(3);"><img src="__PUBLIC__/images/app/zmly.jpg"></a><span>字母乐园</span></li>
						<li><a href="javascript:void(0);"  onclick="redirectfun(1);"><img src="__PUBLIC__/images/app/klxsz.jpg"></a><span>快乐学生字</span></li>

                    </ul>
                </div>
                <div  style="margin-top:30; clear:both;"></div>
        	</div>
        </div>
        
        
        <Div class="clearfix"></Div>
     </div>
    <!--<div class="di" style="background:#e3b16a;">
    	<div class="dibu" >
        	<div style="float:left;"> <p><a href="#">关于我们</a>  /  <a href="#">版权声明</a>   /  <a href="#">服务条款</a>   /  <a href="#">隐私保护</a>   / <a href="#"> 帮助中心</a>   /<a href="#">  班班通客服</a> </p>
            <span>2012-2015 优教班班通版权所有  豫ICP备12019223号-1     服务热线：400-637-1319   0371-67679900<br>
				郑州教育资源中心　 郑州市现代教育信息技术中心   郑州威科姆教育科技有限公司 中国联通河南分公司  联合运营</span></div>
             <a href="#"><img src="__PUBLIC__/dict/image/weixin.png"></a>
        </div>
    </div>-->
	<include file="Common/foot"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/yjt_properties.js"></script>
    <script>
     $(".search_B").click(function(){
         var search=$(".search_T").val();
         if(search=="")return false;
         location.href="info?id="+search;
       });

      gethanzi();
    	function Show_Tab(num,active,where){
			for(var i=0;i<num;i++){
				if(i!=active){
					document.getElementById(where+"s_"+i).style.display="none";
					document.getElementById(where+"Tab_"+i).className="";
					}else{
					document.getElementById(where+"s_"+i).style.display="block";
					document.getElementById(where+"Tab_"+i).className="cur";
					}
			}
		}

    function gethanzi(){
      $.post("gethanzi",{id:"{$id}",ran:Math.random()},function(data){
        $.each(data,function(key,value){
		  //$(".rig").html("");
		  //var img="<img src='../../../uploadklx/klxsz/uploads/zigif/"+value.name+".gif' onerror='../../../uploadklx/klxsz/uploads/default.gif' width='266' style='margin-top:10px; display:block;' class='imghanzi'>";
		  //$(".rig").html(img);
		  //alert(value.name);
		  var img=value.name+".gif";
		  if(img){
		    $(".imghanzi").attr("src","__RESOURCE__/uploadklx/klxsz/uploads/zigif/"+img);
			//alert("fsdfasdf");
			//$(".imghanzi").onerror="__RESOURCE__/uploadklx/klxsz/uploads/default.gif";
			$(".imghanzi").onerror="javascript:this.src='__RESOURCE__/uploadklx/klxsz/uploads/default.gif'"
		  }else{
		    $(".imghanzi").attr("src","__RESOURCE__/uploadklx/klxsz/uploads/default.gif");
		  }
          
          $(".py").text("拼音："+value.pinyin);
           $(".bs").text("部首："+value.bushou);
           $(".bh").text("笔画数："+value.bihua);
           $(".bsn").text("笔顺："+value.bishun);
           $("#3s_0").html(value.jbjieshi);
           if(value.xxjieshi!="")$("#3s_1").html(value.xxjieshi);
           else {$("#3s_1").html("详细解释正在更新。。。。");}
           if(value.cy!="")$("#3s_2").html(value.cy);
           else{
               $("#3s_2").html("无相关成语。。。");
           }
           var arr=data.pinyin.split(",");
           var arr1=data.audio.split(",");
           var pinyin="拼音：";
           for(var i=0;i<arr.length;i++){
              pinyin=pinyin+value;
           }
           $(".pinyin").text(pinyin);
           var cy="";
           $.each(data.cy,function(key,value){
            cy=cy+"<a href='../cydict/cyinfo?id="+value.id+"'>"+value.cyname+"</a>";
           });
           $("#3s_2").text(cy);
        });
      });
    }
    </script>
</body>
</html>
