<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>快乐学</title>
<link href="__PUBLIC__/style/error/style/yj.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<div class="container">
	   <header>
            <h1 class="ml45">温馨提示</h1>
            <div class="back mt2"><a href="http://www.czbanbantong.com"><img src="images/backIco.png" width="20" height="20" />返回</a></div>
        </header>
    <section>
			 <div class="error">
				<img src="images/charu.gif" width="131" height="116" />
			工程师们正在紧急处理哦，先去其他栏目看看吧！
			</div>
		</section>
  </div>




</body>
</html>
