<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>404页面</title>
<link href="__PUBLIC__/style/yj.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>

<body>
<div class="container">
	   <header>
            <h1 class="ml45">温馨提示</h1>
            <div class="back mt2">
            	<a href="http://www.czbanbantong.com"><img src="__PUBLIC__/images/backIco.png" width="20" height="20" />返回</a>
            </div>
        </header>
    <section>
			 <div class="error">
				<img src="__PUBLIC__/images/logoo.png" width="200" height="120" />
				网页找不到了<br/>
                如果您当前使用授课客户端，请点此 <a href="close://" tareget="_self">关闭</a> 错误页面
			</div>
		</section>
  </div>
</body>
</html>
