<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>认证失败</title>
<link href="__PUBLIC__/style/yj.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
       <header>
            <h1 class="ml45">温馨提示</h1>
            <div class="back mt2">
            	<a href="http://www.czbanbantong.com"><img src="__PUBLIC__/images/backIco.png" width="20" height="20" />返回</a>
            </div>
        </header>
        <section>
    		 <div class="error">
    			<img src="__PUBLIC__/images/logoo.png" width="200" height="120" />
    			认证失败,请联系客服
    		</div>
    	</section>
    </div>
</body>
</html>
