<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>远教信使</title>
<link href="style/yj.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>

<body>
<div class="container">
	   <header>
            <h1 class="ml45">温馨提示</h1>
            <div class="back mt2"><a href="#"><img src="images/backIco.png" width="20" height="20" />返回</a></div>
        </header>
    <section>
			 <div class="error">
				<img src="images/logoo.png" width="200" height="120" />
			您尚未加入班级，请登录<a class="fblu">优教同步学习网</a>加入班级
			</div>
		</section>
  </div>




</body>
</html>
