<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__/css/wszy.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/css/swiper/idangerous.swiper.css">
    	 <link rel="stylesheet" href="__PUBLIC__/fonts/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
    <style type="text/css">
    	body{background: #fcfcff;}
    </style>
</head>
<body>
		<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon  mui-pull-left"><img src="__PUBLIC__/images/backIco.png" width="20" height="20" /></a>
	    <h1 class="mui-title">提交作业</h1>
	</header>
		<div class="head01"><i class="fa fa-pencil-square-o fa-lg"></i><span>句子互动训练</span></div>
			<span class="biaoti01"><s>单词卡</s></span>
<div class=" pa10">
	<ul class="mui-table-view edi-bor01">
		<li class="mui-table-cell edi-dc-all"><span class="edi-dc-left">UK</span><span class="edi-dc-right"><a class="btn-ti-on edi-yuan">1</a><a class="btn-ti edi-yuan">2</a></span></li>
		<li class="mui-table-cell edi-dc-all"><span class="edi-dc-left">UK</span><span class="edi-dc-right"><a class="btn-ti-on edi-yuan">1</a><a class="btn-ti edi-yuan">2</a></span></li>
		<li class="mui-table-cell edi-dc-all"><span class="edi-dc-left">UK</span><span class="edi-dc-right"><a class="btn-ti-on edi-yuan">1</a><a class="btn-ti edi-yuan">2</a></span></li>
		<li class="mui-table-cell edi-dc-all"><span class="edi-dc-left">UK</span><span class="edi-dc-right"><a class="btn-ti-on edi-yuan">1</a><a class="btn-ti edi-yuan">2</a></span></li>
		<li class="mui-table-cell edi-dc-all"><span class="edi-dc-left">UK</span><span class="edi-dc-right"><a class="btn-ti-on edi-yuan">1</a><a class="btn-ti edi-yuan">2</a></span></li>
	</ul>
</div>
</body>
</html>-
