<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__/css/wszy.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/css/swiper/idangerous.swiper.css">
    <link rel="stylesheet" href="__PUBLIC__/fonts/font-awesome/css/font-awesome.min.css">
    <style type="text/css">
    	body{background: #fcfcff;}
    </style>
</head>
<body>
		<header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon  mui-pull-left" style="padding-top:0px;color: #fff; font: normal 19px/45px Microsoft YaHei;">
        <img width="20" height="20" src="__PUBLIC__/images/backIco.png" width="20" height="20" />返回
      </a>
	    <h1 class="mui-title">作业详情</h1>
	  </header>
	<!-- <div class="mar_t45 bor-bo"></div>
	<div class="head01" style="margin: 0;"><i class="fa fa-pencil-square-o fa-lg"></i><span>句子互动训练</span></div> -->
	<span class="biaoti01 mar_t10"><s>作答结果</s></span>
  <div class="mui-card mar_t10">
    <ul class="mui-table-view">
    	<li class="mui-table-view-cell mui-media">
    			<span class="mui-media-object mui-pull-left xueke edi-yuan"><i class="fa fa-thumbs-o-up fa-lg"></i></span>
    			<div class="mui-media-body">
    				综合得分{$stuscore}分
    				<p class="mui-ellipsis fon08">班级最高分{$maxscore} 平均{$avgscore}分</p>
    			</div>
      </li>
	  </ul>
  </div>
  <if condition="$wordtestlen neq '0'">
  <span class="biaoti01 mar_t10" ><s>单词测试</s></span>
  <div class=" pa10">
  <ul class="mui-table-view edi-bor01">
    <volist name="wordtest" id="vo" key="k">
      <li class="mui-table-cell edi-dc-all" onclick="javascript:window.location.href='word_test_feedback?homeworkid={$homeworkid}&classid={$classid}&studentid={$studentid}&num={$k-1}';">
        <span class="edi-dc-left02">{$vo.word}</span>
        <span class="edi-dc-right">
          <volist name="vo.que" id="vc">
            <if condition="$vc.iscorrect eq ''">
              <a class="btn-ti  edi-yuan">{$key+1}</a>
            </if>
            <if condition="$vc.iscorrect eq '0'">
              <a class="edi-red edi-qiu">{$key+1}</a>
            </if>
            <if condition="$vc.iscorrect eq '1'">
              <a class="btn-ti-on edi-yuan">{$key+1}</a>
            </if>
          </volist>
        </span>
      </li>
    </volist>
    </ul>
</div>
</if>
<if condition="$examsquizlen neq '0'">
<span class="biaoti01 mar_t10" ><s>听力训练</s></span>
  <volist name="examsquiz" id="vo">
      <h2 class="edi-bt01"><i class="fa fa-circle"></i>{$vo.name}</h2>
      <div class="fen5">
          <volist name="vo.stem" id="vc" key="k">
              <eq name="vc.stem_type" value="1">
                 <h3>第{$k}大题</h3>
                 <foreach name="vc.question" item="qu">
                    <span>
                      <if condition="$qu.iscorrect eq '' or $qu.iscorrect eq 'null'">
                        <a class="edi-yuan btn-ti" onclick="javascript:window.location.href='exams_quiz_feedback?homeworkid={$qu.homeworkid}&num={$k-1}&paper_id={$qu.homeworkid}&studentid={$studentid}&classid={$classid}';">{$qu.question_num}</a>
                      <else/>
                        <if condition="$qu.iscorrect eq '0'">
                          <a class="edi-qiu edi-red" onclick="javascript:window.location.href='exams_quiz_feedback?homeworkid={$qu.homeworkid}&num={$k-1}&paper_id={$qu.homeworkid}&studentid={$studentid}&classid={$classid}';">{$qu.question_num}</a>
                        <else/>
                          <a class="edi-yuan btn-ti-on" onclick="javascript:window.location.href='exams_quiz_feedback?homeworkid={$qu.homeworkid}&num={$k-1}&paper_id={$qu.homeworkid}&studentid={$studentid}&classid={$classid}';">{$qu.question_num}</a>
                        </if>
                      </if>
                    </span>
                 </foreach>
              </eq>
              <eq name="vc.stem_type" value="2">
                 <h3>第{$k}大题</h3>
                 <volist name="vc.stem_children" id="vd" key="ck">
                    <h3>第{$k}大题第{$ck}部分</h3>
                    <foreach name="vd.question" item="qu">
                         <span>
                           <if condition="$qu.iscorrect eq '' or $qu.iscorrect eq 'null'">
                             <a class="edi-yuan btn-ti" onclick="javascript:window.location.href='exams_quiz_feedback?homeworkid={$qu.homeworkid}&num={$k-1}&paper_id={$qu.homeworkid}&studentid={$studentid}&classid={$classid}';">{$qu.question_num}</a>
                           <else/>
                             <if condition="$qu.iscorrect eq '0'">
                               <a class="edi-red edi-qiu" onclick="javascript:window.location.href='exams_quiz_feedback?homeworkid={$qu.homeworkid}&num={$k-1}&paper_id={$qu.homeworkid}&studentid={$studentid}&classid={$classid}';">{$qu.question_num}</a>
                             <else/>
                               <a class="edi-yuan btn-ti-on" onclick="javascript:window.location.href='exams_quiz_feedback?homeworkid={$qu.homeworkid}&num={$k-1}&paper_id={$qu.homeworkid}&studentid={$studentid}&classid={$classid}';">{$qu.question_num}</a>
                             </if>
                           </if>
                         </span>
                    </foreach>
                 </volist>
              </eq>
          </volist>
      </div>
      <div class="clearfix"></div>
  </volist>
</if>
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"  type="text/javascript"></script>
<script src="__PUBLIC__/js/mobile.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
  mui.init();
  mui.back=function(){
    popTheController();
  }
});
</script>
</body>
</html>
