<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__/css/wszy.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/css/swiper/idangerous.swiper.css">
    	 <link rel="stylesheet" href="__PUBLIC__/fonts/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
    <style type="text/css">
    	body{background: #fcfcff;}
    </style>
</head>
<body>
		<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon  mui-pull-left"><img src="__PUBLIC__/images/backIco.png" width="20" height="20" /></a>
	    <h1 class="mui-title">作业详情</h1>
	</header>
	<div class="head01"><i class="fa fa-pencil-square-o fa-lg"></i><span>句子互动训练</span></div>
	<h2 class="leix">UK<span class="yeqian"><strong>1</strong>/4</span></h2>
	<div class="timu pa10 bortop1">
		<span class="tm_tup edi-w60"><img src="__PUBLIC__/img/tup.jpg"></span>
		<span class="tm_wz ">UK</span>
		<h3>英国联合王国</h3>
		<div class="posr">
		<div class="fen3 edi-dc-left03"><span><a class="btn-bo bo01 edi-yuan"><i class="fa fa-volume-up fa-18"></i></a></span><span><a class="btn-bo-on bo01 edi-yuan"><i class="fa fa-microphone fa-18"></i></a></span><span><a class="btn-bo bo01 edi-yuan"><i class="fa fa-music fa-18"></i></a></span>
	</div>
	<div class="edi-dc-right03"><span><i class="fa fa-star"></i><i class="fa fa-star edi-gg"></i><i class="fa fa-star edi-gg"></i><br><strong>98</strong>分</span></div>
		</div>

	</div>
	<div class="ddel">
        <a class="last">上一页</a>

        <a class="next">下一页</a>
    </div>
</body>
</html>