<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
        <script src="__PUBLIC__/js/mui.min.js"></script>
    <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__/css/wszy.css" rel="stylesheet"/>
    <link href="__PUBLIC__/css/fonts.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/css/swiper/idangerous.swiper.css">
    <link rel="stylesheet" href="__PUBLIC__/fonts/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
    <style type="text/css">
    	body{background: #fcfcff;}
    	input{-webkit-appearance: radio;}
    	.paixuti .inputs span input{background: #fcfcfc; width:20px;border-bottom: solid 1px #c0c0c0;}
    	.paixuti .inputs span {margin-right: 3px;}
    	.mui-btn, button { width: 40px; height: 40px; text-align: center;}
    	.mui-btn.cur {background: #999;}
    	.timu h2 {text-align: center;}
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon  mui-pull-left"><img src="images/backIco.png" width="20" height="20" /></a>
	    <h1 class="mui-title">作业详情</h1>
	</header>
	<div class="head01"><i class="fa fa-pencil-square-o fa-lg"></i><span>句子互动训练</span></div>
	<h2 class="leix">单词测试<span class="yeqian"><strong>1</strong>/4</span></h2>
		<span class="biaoti01 mar_t10"><s>题目信息</s></span>
    	<div class="timu pa10">
    		<h2>单词测试单词测试<i class="fa fa-volume-up fa-lg"></i></h2>
    		<div class="tixing paixuti">
                        <div class="inputs mui-text-center">
                            <span><input type="text"></span>
                            <span><input type="text"></span>
                            <span><input type="text"></span>
                            <span><input type="text"></span>
                            <span><input type="text"></span>
                            <span class="zy-back"><img src="images/bac.png" /></span>
                        </div>
                        <div class="zy-key">
                            <span><button class="mui-btn" type="button">r</button></span>
                            <span><button class="mui-btn cur" type="button">s</button></span>
                            <span><button class="mui-btn" type="button">d</button></span>
                            <span><button class="mui-btn" type="button">b</button></span>
                            <span><button class="mui-btn" type="button">z</button></span>
                            <span><button class="mui-btn" type="button">d</button></span>
                            <span><button class="mui-btn" type="button">b</button></span>
                            <span><button class="mui-btn" type="button">r</button></span>
                            <span><button class="mui-btn" type="button">r</button></span>
                            <span><button class="mui-btn" type="button">r</button></span>
                        </div>

    		</div>
            <div class="h50"></div>
	<div class="ddel">
        <a class="last">上一页</a>
        <a class="de-fs">发布</a>
        <a class="next">下一页</a>
    </div>
</body>
</html>
