<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="wap-font-scale" content="no">
    <meta charset="UTF-8">
    <title>扫码听课文</title>
    <link href="__PUBLIC__/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
  </head>
  <body>
    <main id="example">

    </main>
    <img src="__PUBLIC__/image/qrcode.gif" width="100%"/>
    <div id="jplayer"></div>
    <script type="text/javascript" src="__PUBLIC__/js/text.js"></script></body>
    <script type="text/javascript">
      //获取用户信息
      $.getJSON("setUserBrowserTextChapter",{ut:Requests["ut"],serAreaCode:Requests["serAreaCode"],chapterid:Requests["chapterid"] });
    </script>
    <script type="text/javascript">
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?850c98ff902cdc9bec033230b958eedd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
</html>
