
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="www.frebsite.nl" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="robots" content="noindex, nofollow" />
<title>134134325463</title>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/jquery.mmenu.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('nav#menu').mmenu();
	});
</script>
<link href="__PUBLIC__/css/style123.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/font-face123.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
	<header>
    	<div class="l_tbn"><a href="#menu" class="glyphicon glyphicon-th-large"></a></div>
        534253425234523452345325
    </header>
    <div class="content">23325432452345</div>
	<nav id="menu">
        <ul>
            <li class="Selected"><a href="http://www.17sucai.com/">Button 1</a></li>
            <li><a href="http://www.17sucai.com/">Button 2</a></li>
            <li><a href="http://www.17sucai.com/">Button 3</a></li>
            <li><a href="http://www.17sucai.com/">Button 4</a></li>
            <li><a href="http://www.17sucai.com/">Button 5</a></li>
        </ul>
    </nav>
</div>
</body>
</html>