<div class="kuai01 hei100">
<h1 id="chengyu"><!-- <span class="font_y">买</span>椟还珠<a class="bofang" href="#"><img src="__PUBLIC__/images/bo.png" alt=""/></a> --></h1>
<h4 id="pingyin"></h4>
</div>
<div class="cdnr">
<div class="lnr">
<span class="tll"></span>
 <div class="jie" style="min-height:500px;">
 <p id="jieshi"></p >
 <p id="chuchu"></p >
 <p id="shili"></p>
 <p id="cycd"></p>
 <p id="gqsc"></p>
 <p id="jiegou"></p>
 <p id="csnd"></p>
 <p id="cygushi"></p> 
 </div>
<span class="bll"></span>
<div class="clearfix"></div>
</div>
<div class="rnr">
 <div class="jyc">
    <span class="bt">近义词</span>
    <p class="jj">
        <span id="cyjyc">
        </span>
    </p>
 </div>
 <div class="clearfix"></div>
 <div class="chai" id="cyjyc" style="margin-top:30px;">
 <!-- <a href="#">买</a> <a href="#">椟</a> <a href="#">还</a> <a href="#">珠</a> -->
 </div>

</div>
<div class="clearfix"></div>
</div>
 <span class="line_zi"></span>
<include file="Common/content"/>
<script>
$(function(){
  getcy({$id});
});
</script>