<div class="tline"></div>
<div class="kuai01">
<h1>每日推荐</h1>
    <div class="mrtj">
        <h3><span class="font_y">{$cyname}</span>  {$cypinyin}</h3>
        <notempty name="cyjieshi"><p>解释：{$cyjieshi}</p></notempty>
        <notempty name="cydiangu"><p class="l3">语出：{$cydiangu}</p></notempty>
        <notempty name="cyjinyici"><p>近义：{$cyjinyici}</p></notempty>
        <notempty name="cyfanyici"><p>反义：{$cyfanyici}</p></notempty>
    </div>
    <div class="mrtj" style="border-left:dashed 2px #fff;">
       <p class="l6">故事：{$cygushi}</p>
       <a href=' javascript:void(0);' onclick="getcyinfo({$cyid});" class="more">阅读更多</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="t02"></div>
<div class="nr">
<ul class="suoyin">
</ul>
</div>
<div class="bline"></div>
<include file="common/content"/>
    
    

