<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>新学期家长和孩子共同成长专题</title>
<link href="css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="logo">
<div class="w980" style="background:#fff;">
	<div class="logo_login">
    	<span class="logo1"><a href="login.html" title="返回首页"><img src="images/logo2.png" height="42" width="260"></a></span>
    </div>
            <div class="hy"><img src="images/pjerror.png"  /><span class="font_g">韩梅梅</span></div>
    </div>
    </div>
    
    
    <div class="top"><div class="w980 pr">
    <div class="po"><span class="ml">
<input type="text" class="w260"/><a class="btn_y" href="#"><span>检 索</span></a></span><span class="mr"><input type="text" class="w60"/><input type="text" class="w60"/><input type="text" class="w60"/><input type="text" class="w60"/><a class="btn_y" href="#"><span>按位置检索</span></a></span>
    </div>
    
    </div></div>
    <div class="tbottom"></div>
    <div class="w980">
    <div class="middle">
    <div class="tline"></div>
 <div class="kuai01">
    <h1>每日推荐</h1>
    <div class="mrtj">
    <h3><span class="font_y">四面楚歌</span>   sì miàn chǔ gē</h3>
    <p>解释：比喻陷入四面受敌、孤立无援的境地。</p>
<p class="l3">语出：《史记·项羽本纪》：“项王军壁垓下，兵少食尽，汉军及诸侯兵围之数重。夜闻汉军四面皆楚歌，项王乃大惊，曰：‘汉皆已得楚乎？是何楚人之多也。’”</p>
<p>近义：腹背受敌、山穷水尽</p>
<p>反义：安然无恙、旗开得胜</p>
    </div>
        <div class="mrtj" style="border-left:dashed 2px #fff;">
       <p class="l6">故事：比喻陷入四面受敌、孤立无援的境地。《史记·项羽本纪》：“项王军壁垓下，兵少食尽，汉军及诸侯兵围之数重。夜闻汉军四面皆楚歌，项王乃大惊，曰：‘汉皆已得楚乎？是何楚人之多也。’《史记·项羽本纪》：“项王军壁垓下，兵少食尽，汉军及诸侯兵围之数重。夜闻汉军四面皆楚歌，项王乃大惊，曰：‘汉皆已得楚乎？是何楚人之多也。’《史记·项羽本纪》：“项王军壁垓下，兵少食尽，汉军及诸侯兵围之数重。夜闻汉军四面皆楚歌，项王乃大惊，曰：‘汉皆已得楚乎？是何楚人之多也。’</p>
       <a href="#" class="more">阅读更多</a>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="t02"></div>
    <div class="nr">
    <ul class="suoyin">
    <li><img class="left" src="img/sss.jpg" /><div class="suo_r"><h1>首字母索引</h1> <span class="sy_zm"><a href="#">a</a><a href="#" class="on">b</a><a href="#">c</a><a href="#">d</a><a href="#">e</a><a href="#">f</a><a href="#">g</a><a href="#">h</a><a href="#">i</a><a href="#">j</a><a href="#">k</a><a href="#">l</a><a href="#">m</a><a href="#">n</a><a href="#">o</a><a href="#">p</a><a href="#">q</a><a href="#">r</a><a href="#">s</a><a href="#">t</a><a href="#">u</a><a href="#">v</a><a href="#">w</a><a href="#">x</a><a href="#">y</a><a href="#">z</a></span></li>
        <li><img class="left" src="img/sss.jpg" /><div class="suo_r"><h1>首字母索引</h1><span class="lab"><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a><a href="#">AABB式</a></span> </div><div class="clearfix"></div></li>
    </ul>
 
    <div id="pages" class="page" style="margin-top:10px;">共<strong>30</strong>条 第<strong>1</strong>页/共<strong>4</strong>页 <a href="#" class="a1">上一页</a><span class="par">1</span><a href="../msg_template_list.php?current_genre_id=1&current_page=2">2</a><a href="../msg_template_list.php?current_genre_id=1&current_page=3">3</a><a href="../msg_template_list.php?current_genre_id=1&current_page=4">4</a><a href="../msg_template_list.php?current_genre_id=1&current_page=2" class="a1">下一页</a></div>
    </div>
    
    <div class="bline"></div>
    <div class="kuai02">
    <h1>其他小朋友都在学</h1>
    <span class="tup">
    <a href="#"></a><a href="#"></a><a href="#"></a><a href="#" style="margin:0;"></a>
    </span>
    <div class="clearfix"></div>
    </div>

    </div>
 
    </div>

</body>
<script type="text/javascript">
function Show_Tab_redLine(num,active,where){
	for(var i=0;i<num;i++){
		if(i!=active){
			document.getElementById(where+"s_"+i).style.display="none";
			document.getElementById(where+"Tab_"+i).className="";
			}else{
			document.getElementById(where+"s_"+i).style.display="block";
			document.getElementById(where+"Tab_"+i).className="on";
			}
	}
}
</script>
</html>
