/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; -o-box-sizing: border-box; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var,i{ font-weight: normal; font-style: normal; }
ol,ul,li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }

.fl{ float:left; display:inline;}
.fr{ float:right; display:inline; margin-right: 10px;}
.left,.right {display: table-cell;}
.clearfix:after {content: ".";  display:block;  height:0;  clear: both;  visibility: hidden;}
.clearfix {display:block; clear: both;}
* html .clearfix {height:0; }

header,section,footer,img { display: block; margin: 0; padding: 0 }


/* Common */
body{color:#555;background-color:#F4F4F4; overflow:hidden; overflow-y:auto; font-size:18px;font-family: "Lucida Sans Unicode", "Lucida Grande",Microsoft YaHei;}
a{color:#333;text-decoration:none;  -webkit-tap-highlight-color:rgba(0,0,0,0); outline:none;}
a:hover{ opacity:0.7;}
a,a:hover{-webkit-transition: all linear .218s;}
a.active,p.active{ display:block;  background-image:-webkit-linear-gradient(to right, #efefef, #fff);  background-image:linear-gradient(to right, #efefef, #fff);}

.plr10{ padding:0 10px;} 
.pad10{ padding:10px;}
.pad90 {padding-top: 90px;}
.height50 {clear: both; height: 50px;}
.bLine{ border-bottom:1px solid #e4e4e4; }
.beforeBorder:before,.afterBorder:after{content: ""; height: 1px; clear: both; background: #ddd; display: block; transform: scaleY(0.5); -webkit-transform:scaleY(0.5)}
.afterBorder4:after{content: ""; height: 8px; clear: both; background: #ddd; display: block; transform: scaleY(0.5); -webkit-transform:scaleY(0.5)}
.afterBorder8:after{content: ""; height: 8px; clear: both; background: #efefef; display: block;}

.clear:after {content: ""; clear: both;display: block;}
.radius8 {border-radius: 8px;-webkit-border-radius:8px;}
.radius100 {border-radius: 100px;-webkit-border-radius:100px;}
.backGfff {background: #fff;}
.backGef {background: #efefef!important;}
.fa-2x {font-size: 2em!important;}
.marBottom10 {margin-bottom: 10px;}
.mT45 {margin-top: 45px!important;}
.w100 {width: 100px;}
.w70 {width: 70px!important;}
.w40 {width: 40px;}
.wJ110 {width: calc(100% - 140px);/*width: -webkit-calc(80% - 30px);-moz-width: calc(80% - 30px);*/}
.mB20 {margin-bottom: 20px;}
.img100 {width: 100%;}
/* icon*/
.lico {width: 40px; height: 50px; display: block; float: left; vertical-align: middle; line-height: 50px; text-align: center;}
.icon-topped {width: 30px; height: 30px; margin-top: 10px; background: url(../images/medal.png); background-size: 100%;  display: inline-block;}
.second {background-position: 0 -30px;}
.third {background-position: 0 -60px;}
.icon-other {width: 40px; height: 50px; display: inline-block; float: left; text-align: center; line-height: 40px!important; font-size: 0.8em;}
.icon-l {margin-right: 5px;  color: #00afb8}

/*btn*/
a.aBtn {display: inline-block; padding: 0 10px; border-radius: 5px; -webkit-border-radius:5px; color: #fff; background: #999; font:14px/30px "microsoft yahei";}
a.aBtn2 {display: inline-block; padding: 0 10px; border-radius: 5px; -webkit-border-radius:5px; color: #fff; background: #999; font:14px/20px "microsoft yahei";}

.bBlue {background: #35a4d6!important}
.bPink {background: #f07077!important;}

/*check*/
.radio-btn input[type="radio"], .check-box input[type="checkbox"] {visibility: hidden;}
.check-box {width:20px;height:20px;cursor: pointer;display: inline-block;margin: 2px 7px 0 0;position: relative;overflow: hidden;box-shadow: 0 0 1px #ccc;border-radius: 3px;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));border: 1px solid #ccc;}
.check-box i {background: url('../images/duihao.svg') no-repeat center center; background-size:20px 20px;position: absolute;left:2px;bottom: -14px;width: 16px;height: 16px;opacity: .5;-webkit-transition: all 400ms ease-in-out;-webkit-transform:rotateZ(-180deg);}
.checkedBox { -webkit-box-shadow: inset 0 0 5px 1px #ccc;}
.checkedBox i {bottom: 2px;-webkit-transform:rotateZ(0deg);}
/*header*/
.head {position:fixed; z-index: 10; top: 0; right: 0;  left: 0; line-height: 44px;  height: 44px;  padding-right: 10px;  padding-left: 10px;  border-bottom: 0;  background-color: #00bdc7;  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);  box-shadow: 0 0 1px rgba(0,0,0,.85);  -webkit-backface-visibility: hidden;  backface-visibility: hidden;}
.head .title {color: #fff; margin: 0 60px 0 60px;}
a.head-left {display: inline-block; color: #fff;vertical-align: middle; position: absolute; top: 0; left: 10px; line-height: 44px;  font-weight: 500; font-size: 17px; }
a.head-right {position: absolute; top: 0; right:10px; vertical-align: middle;color: #fff;}
.border-nav{-webkit-box-shadow: 0 1px 6px #ccc;}
.head i {font-size: 24px; vertical-align:sub;}

.model{ padding:5px 50px 10px; font-size:14px; position:absolute; top: 45px; left: 0; right: 0;}
.model span{ display:inline-block; width:50%; height:30px; line-height:30px;}
.model span a{ display:block; text-align:center; background:#fff; color:#999; box-shadow:0 0 10px #ccc;}
.model span a.cur{ background-color:#00bdc7; color:#fff;}
.model span a i{ font-size:18px; margin-right:5px; vertical-align:text-bottom;}
.model span:first-child a{ border-radius:15px 0 0 15px;}
.model span:last-child a{ border-radius:0 15px 15px 0;}
/*title*/
.title {  font-size: 17px;  font-weight: 500;  line-height: 44px; display: block; padding: 0;  text-align: center;  white-space: nowrap;  color: #000;    overflow: hidden;
    text-overflow: ellipsis;}
.title a.qieL {display: inline-block; font-size: 14px; color: #fff; background: #00afb8; line-height: 25px; padding: 0 10px; border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px;border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius:10px;}
.title a.qieR{display: inline-block; font-size: 14px; color: #fff; background: #00afb8; line-height: 25px; padding: 0 10px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px;border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius:10px;}
.title a.cur {background: #efefef!important; color: #00AFB8!important;}
.moTitle {background: #efefef; color: #666; font-size: 18px; line-height: 40px; text-indent: 10px; height: 40px; overflow: hidden; }
.moTitleJump{background: #fff; height: 30px; line-height:30px; font-size: 16px ; color: #888; text-indent: 10px;}
.textH2{ font-size: 18px; line-height: 30px; max-height: 60px; overflow: hidden;}
.textH3{ font-size: 16px; line-height: 35px; height: 35px; overflow: hidden;}
.textH4{ font-size: 12px; line-height: 20px; color: #999; height: 20px; overflow: hidden;}
.textBt{ font-size: 16px; line-height: 40px; color: #fff; background: #00bdc7; height: 40px; overflow: hidden;}
.topH4{ font-size: 18px; display: table; z-index: 8; background: #efefef; line-height: 40px; width:100%; position: fixed; top: 45px; color: #666; height: 40px; overflow: hidden;}
.topH4 .fr {width: 60px; text-align: right;}
.topH4 .fl {word-wrap: normal; width: calc(100% - 80px); word-break: keep-all;overflow: hidden;height: 40px; text-overflow: ellipsis;}
.textP {background: #fafafa; padding: 5px; line-height: 20px; font-size: 12px; color: #888;}
.textP strong {color:#666;}
.textP i {margin-left: 5px; color:orange;}
.more {font-size: 0.8em; color: #aaa;}
p.txt{ background:rgba(255,255,255,1); color:#00bdc7; font-weight:bold; border-radius:30px; border:2px dashed #00bdc7; box-shadow: 0 0px 7px #e4e4e4; margin:5px 20px; padding:10px 15px; font-size:90%;}
.yTextH3{ border-bottom:1px solid #e4e4e4; padding:0 5px 5px; font-size:120%;}
.yTextH3 h3 i{ font-size:150%; vertical-align:text-bottom; margin-right:5px;}
.topH3 {line-height: 50px; font-size: 14px; color: #555;}
.mL10 {margin-left: 10px;}
.mR10 {margin-right: 10px;}
.mT90 {margin-top: 45px;}
.padTop45 {padding-top: 45px;}
h2.tishi {background: #efefef;height: 35px; font-size:14px; line-height:35px;font-style: normal;  color: #999; text-align: center; display: block; width: 100%; box-shadow: 1px 1px 10px 1px #ccc; position: absolute; top: 45px;z-index: 98;}
@media only screen and (min-width: 100px) and (max-width: 320px) {
	h2.tishi {font-size: 12px;}
}
.ml-t{height: 40px; line-height:40px; color: #999; font-size: 0.8em; position: relative; border-top: solid 1px #dcdcdc; border-bottom: solid 2px #e0e0e0;}
.ml-t s {position: absolute; right: 10px; top: 0; font-style: normal; text-decoration: none;}
.ml-t s img.ic{  width: 15px;  vertical-align: text-bottom;}
.ml-t span {display: block; height: 40px; line-height: 40px; margin-right: 50px; overflow: hidden; text-indent: 10px;}
.edi-jbiao {  position: absolute;  top: 0px;  right: -13px;  background: #f75252;  color: #fff;  font-size: 12px;  padding: 0px 15px 0px 30px;  transform: rotate(30deg); -webkit-transform: rotate(30deg); line-height: 18px; height:16px;}
.lineH55 {line-height: 65px;margin-right: 8px; font-size: 20px; color: #ccc;}
/*bottom*/
.courseBtn{ position:fixed; left:0; bottom:0; text-align:center; height:40px; line-height:40px;/* padding:10px 0;*/ width:100%; background:-webkit-gradient(linear,center top,center bottom,from(rgba(211, 211, 211, 0)),to(rgba(216, 216, 216, 1)));}
.courseBtn a{ display:block; color:#fff; font-size:21px; background-color:#00bdc7; margin:0 20%; border-radius:5px;}
.courseBtn a i{ font-size:27px; vertical-align:text-bottom;}
.courseBtn a.fenT {width: 50%; position: relative; float: left; margin: 0;/* background-color: #efefef; color: #666; */ border-radius:0; -webkit-border-radius: 0; font-size: 14px;}
.courseBtn a.fenT:after { position: absolute; height: 100%; transform:scaleX(0.5); -webkit-transform: scaleX(0.5); width: 1px; background: #fff; top:0; right: 0; content: "";}
.ddel2 {  position: fixed;  bottom: 0px;  z-index: 109;  left: 0px;  width: 100%;  height: 35px;/*  background: #159edc;*/background: #efefef; box-shadow: 2px 2px 2px 3px #ddd;}
.ddel2 a { /* color: #fff; */ border-right: solid 1px #fff;color: #666; font-size: 14px;  width: 49%;  text-align: center;  cursor: pointer;/*  font-weight: bold;*/ line-height: 35px; text-align: center;}
.ddel a.no, .ddel2 a.no {  color: #999;  cursor: text;}
.ddel2 a.last {  float: left;  line-height: 35px; }
.ddel2 a.next {  float: right;  line-height: 35px;}
.ddel2 a:last-child {border: 0;}
.ddel2.fen3 a {width: 33%;}
.bottom {position: fixed; bottom: 0; left: 0; right: 0;}
.bottom a.btn {margin: 0;}
.bottom.zz { background: #efefef; height: 60px; padding-top: 10px; width: 100%; right: 0; left: auto;}
.bottom.zz01 { background: #efefef; height: 60px; padding-top: 10px; width: 50%; right: 0; left: auto;}

/*font*/
.redFont {color: #f54444!important;}
.font08 {font-size: 0.8em; color: #777; margin-left: 5px;}
.font08z {font-size: 0.8em; color: #ccc; margin-left: 5px;overflow: hidden;height: 40px; display:block;text-overflow: ellipsis;}
.greenFont {color: olivedrab;}
.yelloFont {color: #d89417;}
.yingFont {color: #00bdc7;}
@font-face { 
  font-family: GB2312; 
  src: url('../font/GB2312.ttf')  format('truetype')
} 
.my_CSS3_class { 
  font-family: GB2312; 
  font-size: 3.2em; 
}
.textDG,.zhengwen em{text-indent: 0!important; display: block;} 
/*classList*/
.classTop .fl {width: 40%;}
.classTop .fl img {width: 100%;}
.classTop .fr{ width: 60%; margin: 0;}
/*.classList {padding: 10px;}*/
.classList {padding-left: 10px; background: #fff;}
.classList h2:after,.classList > li:after {content: ""; height: 1px; clear: both; background: #efefef; display: block; transform: scaleY(0.5); -webkit-transform:scaleY(0.5);}
.classList > h2 {line-height: 40px; color:#999;  background-image:-webkit-linear-gradient(to right, #fff, #efefef);  background-image:linear-gradient(to right, #fff, #efefef);   font-size: 20px;border-left: dashed 1px #ccc;/* padding: 0 10px;*/ text-indent: 20px; position: relative;}
.classList > h2.no {color:#999}
.classList > h2 i,.classList > h3 i{margin-right: 10px;}
.classList > li {line-height: 40px;border-left: dashed 1px #ccc; color: #999; font-size: 16px; text-indent: 30px; position: relative;}
.classList > li.ture {color: #21a1de;}
.classList > h2 s,.classList > h3 s {display:inline-block; height:50%; border-bottom: dashed 1px #ccc; padding-left: 10px ; position: absolute; left: 0; top: 0; margin-left: 3px;}
.classList > li s {display:inline-block; height:50%; border-bottom: dashed 1px #ccc; padding-left: 20px ; position: absolute; left: 0; top: 0; margin-left: 3px;}
.classList > li span.fl {margin: 0 10px 0 0px;text-overflow: ellipsis;  float:none;height:40px;line-height:40px;overflow:hidden;display:block;}
.classList > li span.fr {position:absolute;width: 100px;text-indent: 0; top: 0; right:0; margin:0}
.fonG {color:#999!important;}

.classList > li.ture span.fl {margin: 0 90px 0 0;}

/*badge*/
.mui-badge {	font-size: 12px;	line-height: 1;	display: inline-block;	padding: 3px 6px;
	color: #333;	border-radius: 100px;	background-color: rgba(0, 0, 0, .15)}
.mui-badge-danger, .mui-badge-red {color: #fff;background-color: #dd524d}
.mui-badge-warning,.mui-badge-yellow {	color: #fff;background-color: #f0ad4e}
/*weike*/
.classTop .fl {width: 40%;}
.classTop .fr {width: 60%;margin: 0;}
.ms-jj {padding: 10px;}
.ms-jj h2 {  height: 40px;  line-height: 40px;  color: #555;  font-size: 14px;  text-indent: 10px;}
.ms-jj>ul {background: #fff; padding:0 10px;}
.ms-jj>ul li {line-height: 30px; color: #888; font-size: 14px;/* border-bottom: dashed 1px #ccc;*/ padding: 5px 0;}
.ms-jj>ul li:last-child {border: 0;}
.ms-jj>ul li span {margin-right: 5px;}
.ms-jj img {width: 100%;}

.fen3 ul.tabs {width: 100%; height: 32px;}
.fen3 ul.tabs li { width: 33.33%; float: left; text-align: center; border-bottom: solid 1px #00bdc7; line-height: 30px; display: block; color: #555;}
.fen3 ul.tabs li.on {background:#00bdc7; color: #fff;}
.pinglun {padding: 10px;}
.pinglun h3 {color: orangered; text-align: center; font-size: 20px;}
.pinglun h3 i {margin-right: 5px;}
.pinglun span {width: 100%; display: block; margin: 10px auto;}
.pinglun textarea {width: 100%; line-height: 25px; padding: 10px; font-size: 14px; color: #777; background: #fff; box-shadow: 1px 1px 1px 1px #fcfcfc inset;}
a.btn-bottom {display: block; width: 100%; height: 40px;/* background: #007AFF;*/ background:#00bdc7; color: #fff; text-align: center; font-size: 16px; line-height: 40px;}
.pos-bottom {position:fixed; bottom: 0; left: 0;}
a.inp {display: block; width: 100%; height: 50px; background: #fff; box-shadow: 1px 1px 1px 1px #ccc;}
a.inp span {display: block; position: relative;margin: 5px;}
a.inp .pp { height: 40px;    border-bottom: solid 1px #00bdc7; border-right: 0; background: #fff; width: calc(100% - 92px); float: left;}
a.inp span em {display: block; float: right; width: 90px; height: 40px; background: #00bdc7; text-align: center; color: #fff; line-height: 40px;}
/*.ms-ping {background: #fff;}*/
.ms-ping ul {padding: 10px 10px 0 10px; }
.ms-ping ul li {position: relative; border-bottom: solid 1px #ddd; padding: 5px 0; min-height: 65px;}
.ms-ping ul li:last-child {border:0;}
.ms-ping ul li span.toux{width: 50px; height: 50px; display: block; position: absolute; top: 5px; left: 0;}
.ms-ping ul li span.toux img {width: 100%; height:100%; border-radius: 50px; -moz-border-radius:50px; -webkit-border-radius:50px;}
.ms-ping ul li .ping{margin-left: 60px;}
.ms-ping ul li .ping p label {font-size: 14px; color:#269BD7;}
.ms-ping ul li .ping p span {float: right; color: #888; font-size: 12px;}
.ms-ping ul li .ping p {font-size: 12px; line-height: 20px; color: #555;}

.splist {}
.splist li {display: table; border-bottom: solid 1px #efefef; width: 100%;}
.splist div {display: table-cell;}
.splist div.img {width: 140px; vertical-align: middle;}
.splist div.img>span {position: relative; display: block;}
.splist div.img>span em {position: absolute; bottom: 0; left: 0; height: 30px; line-height: 30px; background: #000000; opacity: 0.7; word-break: normal; word-wrap: normal;overflow: hidden; text-overflow: ellipsis;color: #fff; font-size: 12px; padding: 0 10px;}
.splist div.img img {display: block; width: 100%;}
.splist div.nr {padding: 10px 10px 10px 0;}
p.btt a {margin-right: 10px; float: right;}
.fontb {line-height: 25px; font-size: 0.8em; float: right;}
.mswk ul.ms-fen2 a span.img em,.mswk ul.ms-fen1 a span.img em,.mswk ul.ms-fen21 a span.img em,.wdwk li span.img em {display: block; background: #444; height: 20px; line-height: 20px;position: absolute; bottom: 0; left: 0; width: 100%;opacity: 0.9; font-size: 12px; color: #fff; font-style: normal; text-align: center;}
.mswk ul.ms-fen2 a span.img em i,.mswk ul.ms-fen1 a span.img em i,.mswk ul.ms-fen21 a span.img em i,.wdwk li span.img em i {padding-right:5px;}
.xing i {color: orangered; font-size: 14px;color: orange;}
.xing label {color: #666; font-size: 14px;}
.xing i.icon-uniF006 {color: #C0C0C0;}
/*zuowen*/
.backGorg {background: oldlace;}
.borderX {background: url(../images/weike/lin.png) repeat; line-height: 30px;}
.zwTop {position: relative; min-height: 60px;}
.zwP {background: url(../images/weike/zuowen.png); top: 20px; right: 0; width: 50px; height: 50px; display: block; position: absolute;}
.zwP.py{background-position: 10px -10px;}
.zwP.pl{background-position: 0 -100px;}
.zhengwen {text-indent: 40px; font-size: 14px; color: #88693a;}
.zhengwen span {background: url(../images/yuwen/wave.png) repeat-x bottom;}
.textC1{    line-height: 20px;    height: 30px;}
.textC {text-align: center; line-height: 30px; color: #bf7b16;}
.textC2 { text-align: center; font-size: 14px;  color: #bf7b16;}
/*news*/
.textNews img {width: 100%;}
.textH1 {font-size: 20px; color: #333; line-height: 30px;}
.textH2 {font-size: 12px; color: #999; line-height: 30px;}
.textP2 {background: #efefef; padding: 10px; text-indent: 30px; margin: 10px 0; line-height: 30px; color: #777; font-size: 14px;}
.textNews {line-height: 30px; font-size: 14px; color: #555; text-indent: 30px;}
.wk-ti {padding: 10px; font:14px/25px "microsoft yahei"; color: #999; background: #f4f4f4;    border: solid 1px #eee;;}
.bdc { font-size: 14px; color: #999;}
.bdc li{ padding: 10px;border-radius: 8px; background: #fff; -webkit-border-radius: 8px; margin:5px 10px; border: solid 1px #dcdcdc; line-height: 25px;}
.bdc li img {display: inline-block; vertical-align: middle;}
.bdc li.cur{background: #00bdc7; color: #fff;}
.bdc li a {color: #00bdc7; font-weight: bold; margin-right: 5px; font-size: 1.2em;}
.bdc li.cur a {color: #fff;}
.bdc li.error{border:solid 1px orangered;}
.bdc li.error a {color: orangered;}
.textP3 { font-size: 16px; line-height: 25px; padding: 5px 0; height: 60px; overflow: hidden;}
.icc-mianfei {position: absolute; background: url(../images/weike/jiao.png); width: 30px; height: 20px; top: 10px; left: 10px; display: block; background-size: 100%;}
.posR {position: relative;}
li.ture .textP3 {color:#4489a9;}
/*bofang*/
.bofang {padding-top: 40%; height: 0; width: 100%; overflow: hidden; position: relative; margin-top: 44px;}
.bofang img {width: 100%; position: absolute; top: 0; height: 100%;}
.bofang i {position: absolute; top: 15%; left: 30%; width: 40%; z-index: 9; color: #444; text-align: center; font-size: 100px; color: #fff; text-shadow: 1px 1px 10px #000; opacity: 0.9;}
.textList > li {line-height: 40px;font-size: 14px; border-bottom: solid 1px #efefef; text-indent: 20px; position: relative; color: #999; height: 40px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
.textList > li >a {color: #666;}
.textH6{ font-size:14px; font-weight: bold; line-height: 40px; text-indent: 20px;   background-image:-webkit-linear-gradient(to right, #fff, #efefef);  background-image:linear-gradient(to right, #fff, #efefef);  color: #333; height: 40px; overflow: hidden;}
span.biao {    color: #fff; background-color: #dd524d;    font-size: 12px; line-height: 1; text-indent: 0; margin-right: 5px;    display: inline-block;    padding: 3px 5px;   border-radius: 100px;}
span.biao.yello {background-color: #f0ad4e;}

.zwP {background-size: 52px 274px;}
.fontb { margin-right: 12px;}
.classList .fonG {font-size: 0.8em; text-align: right;}
@media only screen and (min-width: 640px) {
	 body {zoom: 1.14;}
	 .classTop .fl {width: 20%;}
     .classTop .fr {width: 80%;}
     .ms-jj img {max-width: 700px;}
     .fen3 ul.tabs {height: 47px;}
     .fen3 ul.tabs li {line-height: 45px;}
     .borderX{ line-height: 45px;background-size: 45px 45px;}
     .textC1 {line-height: 35px; height: 45px;}
     .textC {line-height: 45px; height: 45px; font-size: 1.2em;}
     .zhengwen {font-size: 1em;}
     a.aBtn2 {padding: 3px 10px;}
     .zwP {width: 75px; height: 75px; background-size: 78px 411px; right: 60px; top: 40px;}*/
     }
     
     @media only screen and (min-width:901px){
     	.splist:after {content: ""; clear: both; display: block;}
     .splist li {width: 50%; float: left;}
     .splist li:after {width: 1px; height: 100%; content: ""; background: #efefef; display: table-cell;}
     	}