<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单元列表</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script> 
 <script type="text/javascript" src="__PUBLIC__/js/xunlian.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.jplayer.min.js"></script>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_table">
  <tr>
    <td class="td_right">年级：</td>
    <td>
      <select name="gradeid" class="select" id="gradeid" >

      </select>
    </td>
  </tr>
  <tr>
    <td class="td_right">学期：</td>
    <td><select name="termid" class="select" id="termid"> </select></td>
  </tr>
  <tr>
    <td class="td_right">版本：</td>
    <td><select name="versionid" class="select" id="versionid"> </select></td>
  </tr>
  <tr>
    <td class="td_right">单元：</td>
    <td><select name="unitid" class="select" id="unitid" paperid="{$paperid}"></select></td>
  </tr>
</table>

<script type="text/javascript">
$(function(){
 $.ajaxSetup({async:false});
 var dloading = art.dialog({time: 30, title: '加载中……', width: 130, height: 30, opacity: 0.3, lock: true});
  /**
    初始化年级、学期、版本以及单元和单词
   **/
  $.EBC.inIt("wordlist");
  dloading.close();
  $("#gradeid").val("{$gradeid}");
  $("#termid").val("{$termid}");
  $("#versionid").val("{$versionid}");
  $("#unitid").val("{$unitid}");
});
  
function editText()
  { 
    $.ajaxSetup({async:false});
    var unitid = $("#unitid").val();
    var paperid = $("#unitid").attr("paperid");
    var closeflag=false;
    $.getJSON('translatePaper',{paperid:paperid,ks_code:unitid,random:Math.random()},function(data){
        //art.dialog.tips(data.msg); 
        closeflag=true;
    }); 
    return closeflag;
  }
</script>
</body>
</html>